In [62]:
from fpdf import FPDF
import fpdf
import pandas as pd
pd.options.plotting.backend = "plotly"
import plotly as plt

In [63]:
fpdf.__version__

'1.7.2'

In [64]:
pd.__version__

'1.2.3'

In [85]:
plt.__version__

'5.1.0'

In [65]:
df = pd.read_csv('../datasets/df_toy.csv')

In [66]:
df.head()

,Unnamed: 0,dt,url,title,location,country,full_text,list_elements
0,0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...
1,1,2021-08-08 21:01:09.824428,https://se.indeed.com/viewjob?jk=dbfe7d7c087065d7,"Data Scientist, Search Insights",Stockholm,se,"Data, Research & Insights\nData Science\nThe P...",['\nExperimentation strategy including AB test...
2,2,2021-08-08 21:01:18.030788,https://se.indeed.com/viewjob?jk=841a8fdd1bb00f2f,Junior data scientist,411 21 Göteborg,se,Utilifeed is a rapidly expanding startup with ...,"['\nImproving pour data ingestion pipeline, we..."
3,3,2021-08-08 21:01:20.651507,https://se.indeed.com/viewjob?jk=88c25a48d2da8a7a,Data Scientist,118 72 Stockholm,se,"AI Data scientistLocation: Stockholm, SwedenDi...",['Proven experience in Machine Learning (ML) a...
4,4,2021-08-08 21:01:27.135797,https://se.indeed.com/viewjob?jk=1b4b8ee005f06350,Data Scientist,Solna,se,"Currently, we are looking for a talented data ...","['\nYou have a start-up mentality, with delive..."

In [67]:
plot = df['dt'].plot()

In [73]:
pdf = FPDF()
pdf.add_page()
pdf.set_font('Arial', 'B', 16)
pdf.cell(40, 10, 'Hello World! this string should be long enough to not fit on one line, to see whether it automatically cuts the line and starts on a new line or do we have to perhaps call \n to start a new line')
pdf.output('tuto1.pdf', 'F')

''

In [83]:
pdf=FPDF()
pdf.add_page()
plt.io.write_image(plot,file='plot.png',format='png',width=700, height=450)
pltx="plot.png"### define a method
pdf.image('plot.png',x = 10, y = 10, w = 100, h = 100, type = '', link = '')
pdf.set_font('Arial', 'B', 16)
pdf.cell(40, 10, 'Hello World! this string asdfasdf')

In [84]:
pdf.output('tuto2.pdf', 'F')

''

In [ ]:
def get_plot(cv):
    df_sim = pd.DataFrame()
    df_sim['cluster'] = range(len(k31_full.cluster_centers_))
    
    labels = []
    presence = []
    
    for i in range(0,len(k31_full.cluster_centers_)):
        #labels.append(get_label(i))
        labels.append(str(i))
        presence.append(df_clusters[str(i)].mean())
    
    model = 'all-distilroberta-v1'
    model = SentenceTransformer(model)
    embeddings_cv = model.encode(cv)
    embeddings_f = embeddings_cv.astype(float)
    clusters_cv = k31_full.predict(embeddings_f)
    clusters_cv_l  = clusters_cv.tolist()
    
    cv_scores = []
    for i, cluster in enumerate(clusters_cv):
        cv_scores.append(util.pytorch_cos_sim(k31_full.cluster_centers_[cluster], embeddings_f[i]).item())
    
    scores = []
    for cluster in range(len(k31_full.cluster_centers_)):
        if cluster not in clusters_cv_l:
            scores.append(0)
        else:
            score = 0
            indexes = np.where(clusters_cv==cluster)[0]
            for i in indexes:
                if cv_scores[i] > score:
                    score = cv_scores[i]
            scores.append(score)   
    
    df_sim['score'] = scores
    df_sim['presence'] = presence
    df_sim['labels'] = labels
    
    df_sim['CV_similarity'] = df_sim['presence']*df_sim['score']
    df_sim['Presence_Cluster_in_Job_Postings'] = df_sim['presence']-df_sim['CV_similarity']
    df_sim = df_sim.sort_values('presence')
    
    if plot:
        fig = px.bar(df_sim, y="labels", x=["CV_similarity","Presence_Cluster_in_Job_Postings"], hover_data = ['presence'])
        fig.update_layout(height=800, \
                          title = 'Author\'s CV similarity to requirement clusters in context of relative cluster presence',\
                          barmode='stack', \
                          yaxis_title="3 most common Bigrams in Cluster",\
                          xaxis_title="CV Similarity to Cluster")
        fig.show()
        fig = px.bar(df_sim, y="labels", x=["CV_similarity","Presence_Cluster_in_Job_Postings"], hover_data = ['presence'])
        fig.show()
    return df_sim
    
df_sim = get_df(cv_koen, plot = True)