In [115]:
import pdfplumber
import pandas as pd
from sentence_transformers import SentenceTransformer, util
import pickle
import numpy as np
import re

In [175]:
import dtale
#handy pandas visualizer, when on local Jupyter Server just run dtale.show(df)
#from Docker container visual is available at http://localhost:40000/

In [195]:
path = '../datasets/resume_samples.txt'
df = pd.DataFrame()
counter = 0
id_list = []
title_list = []
skill_list = []
#exp_list = []
with open(path, 'r',encoding="utf8", errors='backslashreplace') as f:
    for line in f.readlines():
        
        splitted = line.split(':::')
        title = splitted[1].split(';')[0]
        if 'data scientist' in title.lower():
            splitted = splitted[2].lower()
            splitted = splitted.replace('\\xa0',';;;')
            splitted = splitted.replace('*',';;;')
            splitted = splitted.replace('\\x95',';;;')
            splitted = splitted.replace('education',';;;')
            splitted = splitted.replace(',',';;;')
            splitted = splitted.split(';;;')
            
            for skill in splitted[1:]:
                if (len(skill)>1) & ('responsibilities:' not in skill.lower()):
                    id_list.append(counter)
                    
                    title_list.append(title)
                    skill_list.append(skill)
            counter+=1
df['id']=id_list
df['title']=title_list
df['skill']=skill_list

In [196]:
df

,id,title,skill
0,0,Data Scientist/Analytics Consultant,il currently a junior data scientist with a s...
1,0,Data Scientist/Analytics Consultant,data modeling
2,0,Data Scientist/Analytics Consultant,sql and data visualization. experienced in ma...
3,0,Data Scientist/Analytics Consultant,engineering
4,0,Data Scientist/Analytics Consultant,parallel programming and devops
...,...,...,...
18082,66,Data Scientist,operating systems all versions of windows
18083,66,Data Scientist,unix
18084,66,Data Scientist,linux
18085,66,Data Scientist,macintosh hd
18086,66,Data Scientist,sun solaris\n

In [54]:
def preprocess_for_bert(string):
    string = string.strip("\n.’:")
    string = string.strip("’")
    string = string.strip("\\n")
    string = string.replace("/"," ")
    return(string)

In [52]:
k21 = pickle.load(open('../Experiments/k21.sav', 'rb'))
objectives = []
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

In [197]:
skill_list = []
for s in df['skill'].to_list():
    skill_list.append(preprocess_for_bert(s))
embeddings = model.encode(skill_list)
clusters =  k21.predict(np.array(embeddings.tolist()))
df['cluster']=clusters

Batches:   0%|          | 0/566 [00:00<?, ?it/s]

In [56]:
k20_bigrams = pickle.load(open('../Experiments/k20_bigrams', 'rb'))

In [198]:
bigrams = []
for cluster in clusters:
    bigrams.append(k20_bigrams[cluster])
df['bigrams_k20']=bigrams

In [199]:
d=dtale.show(df)

In [200]:
dtale.instances()

To gain access to an instance object simply pass the value from 'ID' to dtale.get_instance(ID)

ID Name                                     URL
 1       http://584bcee9ce77:40000/dtale/main/1
         http://584bcee9ce77:40000/dtale/main/1
 2       http://584bcee9ce77:40000/dtale/main/2
         http://584bcee9ce77:40000/dtale/main/2
 3       http://584bcee9ce77:40000/dtale/main/3
         http://584bcee9ce77:40000/dtale/main/3
 4       http://584bcee9ce77:40000/dtale/main/4
         http://584bcee9ce77:40000/dtale/main/4
 5       http://584bcee9ce77:40000/dtale/main/5
         http://584bcee9ce77:40000/dtale/main/5
 6       http://584bcee9ce77:40000/dtale/main/6
         http://584bcee9ce77:40000/dtale/main/6
 7       http://584bcee9ce77:40000/dtale/main/7
         http://584bcee9ce77:40000/dtale/main/7
 8       http://584bcee9ce77:40000/dtale/main/8
         http://584bcee9ce77:40000/dtale/main/8
 9       http://584bcee9ce77:40000/dtale/main/9
         http://584bcee9ce77:40000/dtale/main/9
10      http://584bcee9ce77:40000/dtale/main/10
        http://584bcee9ce77:40000/dtale/main/10
11      http://584bcee9ce77:40000/dtale/main/11
        http://584bcee9ce77:40000/dtale/main/11
12      http://584bcee9ce77:40000/dtale/main/12
        http://584bcee9ce77:40000/dtale/main/12
13      http://584bcee9ce77:40000/dtale/main/13
        http://584bcee9ce77:40000/dtale/main/13
14      http://584bcee9ce77:40000/dtale/main/14
        http://584bcee9ce77:40000/dtale/main/14

In [201]:
#df['cluster'].value_counts()
for c, count in df['cluster'].value_counts().iteritems():
    print(str(c)+" "+str(count)+" "+k20_bigrams[c])
    print('-----------------------')
    
for i in range(0,20):
    if i not in df['cluster'].to_list():
         print('missing '+str(i))

3 3299 software development, software engineering, best practices, data science, experience working, processing frameworks, frameworks spark, tools (e.g., standard software, ci cd,,
-----------------------
15 2973 data visualization, large datasets, experience data, knowledge data, data visualisation, large data, big data, understanding data, data engineering, data pipelines,
-----------------------
11 2269 develop processes, processes tools, tools monitor, model performance, performance data, data accuracy, analyze data, data analysis, ability develop, develop experimental,
-----------------------
19 1511 programming languages, languages python,, programming skills, python data, programming experience, python, r,, data analysis, proficient python, data science, languages (python,,
-----------------------
18 1490 working people, problem solving, lifestyle curiosity,, curiosity, learning,, learning, sharing,, sharing, working, people share, share hunger."], think creatively, solve problems,
-----------------------
7 1183 relational databases, experience sql, knowledge sql, sql queries, experience databases, advanced sql, sql skills, experience relational, sql experience, python sql,
-----------------------
1 1029 experience demonstrated, scientific journals,, scientific cv, cv contact, contact details;, scientific results, present scientific, scientific technical, drug discovery, discovery early,
-----------------------
16 973 machine learning, learning techniques, learning algorithms, understanding machine, experience machine, deep learning, learning experience, strong knowledge, knowledge machine, machine learning,,
-----------------------
14 922 international environment, work environment, relocation packages, city center, great job,, job, international, willing travel, relocation support, flexible enthusiastic, enthusiastic work,
-----------------------
8 807 product teams, support identifying, identifying opportunities, opportunities creating, creating customer, customer value, identify opportunities, closely business, business outcomes, better understand,
-----------------------
17 384 multiple projects, r&d projects, project team, research partners, specific development, development projects, product engineering, engineering teams, identify trends, experience building,
-----------------------
20 317 experience cloud, google cloud, cloud platform, experience working, ms azure, platform technology, technology (aws, (aws ms, ms azure), cloud services,
-----------------------
13 271 data science, data engineering, experience data, data scientists, years experience, 5+ years, years data, science experience, data scientist, 3+ years,
-----------------------
0 148 teams across, key stakeholders, strong communication, communication skills, internal stakeholders, across business, ability communicate, technical non-technical, interest working, informal, dynamic,
-----------------------
6 133 career development, willingness learn, new technologies, learn new, genuine willingness, learn drive, dedicated house, house l&d, l&d department,, department, access,
-----------------------
12 133 competitive salary, competitive compensation, salary competitive, compensation package, package competitive, benefits package, including performance, social benefits, benefits competitive, competitive remuneration,
-----------------------
10 90 flexible working, work environment, working hours, environment flexible, working environment, flexible work, dynamic work, work home, hours flexible, large degree,
-----------------------
2 72 team player, ability work, communication skills, team environment, excellent communication, collaboration skills, skills ability, within team, communication teamwork, good communication,
-----------------------
9 43 computer science,, degree computer, science, mathematics,, master’s degree, phd computer, related field, computer science, quantitative field, statistics, engineering,, engineering, computer,
-----------------------
4 31 communication skills, skills excellent, excellent communication, written communication, verbal written, skills good, good communication, communication skills,, strong communication, verbal communication,
-----------------------
5 9 fluent english, english fluent, written spoken, spoken english, english fluency, fluent written, english skills, language skills, excellent written, written verbal,
-----------------------

In [210]:
cluster_matrix = []

for id in np.unique(df[['id']].values):
    print(id)
    cluster_counter = []
    filtered = df[df['id']==id]
    for cluster in range(0,20):
        c=0
        for index, row in filtered.iterrows():
            if row['cluster']==cluster:
                c+=1
        cluster_counter.append(c)
    cluster_matrix.append(cluster_counter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66

In [252]:
df_resume  = pd.DataFrame()
df_resume['id']=np.unique(df[['id']].values)
df_resume['matrix']=cluster_matrix
#df_resume = df_resume.append(pd.DataFrame(df_resume['matrix'].tolist()))
foo=pd.DataFrame(df_resume['matrix'].tolist())
df_resume = pd.concat([df_resume,foo], axis=1)
counted = df_resume.iloc[:,2:].astype(bool).sum(axis=0).sort_values(ascending=False)

In [245]:
df_resume

,id,matrix,0,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,19
0,0,"[2, 6, 2, 17, 0, 0, 1, 7, 7, 2, 0, 17, 0, 3, 1...",2,6,2,17,0,0,1,7,...,0,17,0,3,11,11,5,4,7,7
1,1,"[0, 0, 0, 7, 1, 0, 0, 5, 2, 1, 1, 2, 0, 1, 3, ...",0,0,0,7,1,0,0,5,...,1,2,0,1,3,4,0,0,3,0
2,2,"[0, 5, 0, 14, 0, 0, 3, 2, 8, 0, 0, 13, 1, 1, 8...",0,5,0,14,0,0,3,2,...,0,13,1,1,8,5,6,1,9,5
3,3,"[6, 3, 0, 14, 0, 0, 1, 2, 6, 0, 0, 11, 2, 5, 6...",6,3,0,14,0,0,1,2,...,0,11,2,5,6,10,0,1,1,3
4,4,"[1, 0, 0, 18, 0, 1, 2, 1, 13, 1, 1, 6, 1, 0, 2...",1,0,0,18,0,1,2,1,...,1,6,1,0,2,4,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,62,"[0, 19, 2, 108, 0, 0, 4, 8, 3, 0, 7, 11, 1, 1,...",0,19,2,108,0,0,4,8,...,7,11,1,1,19,29,22,8,11,7
63,63,"[0, 12, 0, 12, 0, 0, 2, 5, 2, 1, 0, 9, 0, 3, 6...",0,12,0,12,0,0,2,5,...,0,9,0,3,6,12,4,1,13,7
64,64,"[0, 6, 0, 15, 0, 0, 1, 3, 7, 0, 0, 12, 1, 0, 1...",0,6,0,15,0,0,1,3,...,0,12,1,0,10,10,5,1,6,10
65,65,"[2, 6, 2, 17, 0, 0, 1, 7, 7, 2, 0, 17, 0, 3, 1...",2,6,2,17,0,0,1,7,...,0,17,0,3,11,11,5,4,7,7
66,66,"[8, 28, 2, 102, 1, 1, 4, 51, 23, 0, 1, 70, 4, ...",8,28,2,102,1,1,4,51,...,1,70,4,8,22,102,24,11,38,31

In [265]:
for cluster, count in counted.iteritems():
    print("cluster "+str(cluster)+" was present in "+str(count/len(df_resume)*100)+"% of all resumes. Most common bigrams of this cluster are "+k20_bigrams[cluster])
    print('---------------------')

cluster 18 was present in 100.0% of all resumes. Most common bigrams of this cluster are working people, problem solving, lifestyle curiosity,, curiosity, learning,, learning, sharing,, sharing, working, people share, share hunger."], think creatively, solve problems,
---------------------
cluster 3 was present in 100.0% of all resumes. Most common bigrams of this cluster are software development, software engineering, best practices, data science, experience working, processing frameworks, frameworks spark, tools (e.g., standard software, ci cd,,
---------------------
cluster 14 was present in 100.0% of all resumes. Most common bigrams of this cluster are international environment, work environment, relocation packages, city center, great job,, job, international, willing travel, relocation support, flexible enthusiastic, enthusiastic work,
---------------------
cluster 19 was present in 98.50746268656717% of all resumes. Most common bigrams of this cluster are programming languages, languages python,, programming skills, python data, programming experience, python, r,, data analysis, proficient python, data science, languages (python,,
---------------------
cluster 7 was present in 98.50746268656717% of all resumes. Most common bigrams of this cluster are relational databases, experience sql, knowledge sql, sql queries, experience databases, advanced sql, sql skills, experience relational, sql experience, python sql,
---------------------
cluster 15 was present in 98.50746268656717% of all resumes. Most common bigrams of this cluster are data visualization, large datasets, experience data, knowledge data, data visualisation, large data, big data, understanding data, data engineering, data pipelines,
---------------------
cluster 11 was present in 98.50746268656717% of all resumes. Most common bigrams of this cluster are develop processes, processes tools, tools monitor, model performance, performance data, data accuracy, analyze data, data analysis, ability develop, develop experimental,
---------------------
cluster 1 was present in 97.01492537313433% of all resumes. Most common bigrams of this cluster are experience demonstrated, scientific journals,, scientific cv, cv contact, contact details;, scientific results, present scientific, scientific technical, drug discovery, discovery early,
---------------------
cluster 8 was present in 94.02985074626866% of all resumes. Most common bigrams of this cluster are product teams, support identifying, identifying opportunities, opportunities creating, creating customer, customer value, identify opportunities, closely business, business outcomes, better understand,
---------------------
cluster 16 was present in 92.53731343283582% of all resumes. Most common bigrams of this cluster are machine learning, learning techniques, learning algorithms, understanding machine, experience machine, deep learning, learning experience, strong knowledge, knowledge machine, machine learning,,
---------------------
cluster 17 was present in 91.04477611940298% of all resumes. Most common bigrams of this cluster are multiple projects, r&d projects, project team, research partners, specific development, development projects, product engineering, engineering teams, identify trends, experience building,
---------------------
cluster 13 was present in 88.05970149253731% of all resumes. Most common bigrams of this cluster are data science, data engineering, experience data, data scientists, years experience, 5+ years, years data, science experience, data scientist, 3+ years,
---------------------
cluster 6 was present in 82.08955223880598% of all resumes. Most common bigrams of this cluster are career development, willingness learn, new technologies, learn new, genuine willingness, learn drive, dedicated house, house l&d, l&d department,, department, access,
---------------------
cluster 0 was present in 74.6268656716418% of all resumes. Most common bigrams of this cluster are teams across, key stakeholders, strong communication, communication skills, internal stakeholders, across business, ability communicate, technical non-technical, interest working, informal, dynamic,
---------------------
cluster 12 was present in 61.19402985074627% of all resumes. Most common bigrams of this cluster are competitive salary, competitive compensation, salary competitive, compensation package, package competitive, benefits package, including performance, social benefits, benefits competitive, competitive remuneration,
---------------------
cluster 2 was present in 61.19402985074627% of all resumes. Most common bigrams of this cluster are team player, ability work, communication skills, team environment, excellent communication, collaboration skills, skills ability, within team, communication teamwork, good communication,
---------------------
cluster 10 was present in 61.19402985074627% of all resumes. Most common bigrams of this cluster are flexible working, work environment, working hours, environment flexible, working environment, flexible work, dynamic work, work home, hours flexible, large degree,
---------------------
cluster 9 was present in 52.23880597014925% of all resumes. Most common bigrams of this cluster are computer science,, degree computer, science, mathematics,, master’s degree, phd computer, related field, computer science, quantitative field, statistics, engineering,, engineering, computer,
---------------------
cluster 4 was present in 32.83582089552239% of all resumes. Most common bigrams of this cluster are communication skills, skills excellent, excellent communication, written communication, verbal written, skills good, good communication, communication skills,, strong communication, verbal communication,
---------------------
cluster 5 was present in 10.44776119402985% of all resumes. Most common bigrams of this cluster are fluent english, english fluent, written spoken, spoken english, english fluency, fluent written, english skills, language skills, excellent written, written verbal,
---------------------