In [10]:
import pandas as pd
pd.options.plotting.backend = "plotly" #interactive plots will be useful in this context
import plotly.express as px
import numpy as np
import gensim
from sentence_transformers import SentenceTransformer, util
import pickle
import torch
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn.metrics import silhouette_samples, silhouette_score
import umap
from datetime import datetime
from sklearn.cluster import DBSCAN
import dtale

In [2]:
df = pd.read_csv('../datasets/df_full.csv')

In [38]:
row_num = range(len(df))
df['row_num']=row_num

In [4]:
def preprocess_for_bert(string):
    string = string.strip("\n.’:")
    string = string.strip("’")
    string = string.strip("\\n")
    string = string.replace("/"," ")
    return(string)

In [39]:
def pivot(df):#Pivots df of vacancy texts into a df of job requirements retrieved from 'list_elements' in vacancy df
    #model = SentenceTransformer('paraphrase-MiniLM-L6-v2')
    columns = df.columns.values.tolist()
    df_r = pd.DataFrame(columns = ['requirement_raw','requirement_tokenized']+columns)
    for index, row in df.iterrows():
        string = str(row['list_elements'])
        remove = ['\,','[',']','\\n']
        for char in remove:
            string.replace(char, '')
        string = string.strip('\n')
        splitted = string.split('\'') #list of requirements is stored as string so split on '
        list = []
        for item in splitted:
            if len(item)>2:
                requirement_raw = item
                requirement_tokenized = preprocess_for_bert(item)
                requirement_tokenized = gensim.utils.simple_preprocess(requirement_tokenized)
                row_list = [requirement_raw,requirement_tokenized]
                for col in columns:
                    row_list = row_list+[df.loc[index,col]]          
                df_r.loc[len(df_r)] = row_list
        
    requirements = []
    for index, row in df_r.iterrows():
        requirements.append(preprocess_for_bert(row['requirement_raw']))
    return df_r
df_r = pivot(df)

In [40]:
len(df_r)

21509

In [41]:
df_r.head()

,requirement_raw,requirement_tokenized,Unnamed: 0,dt,url,title,location,country,full_text,list_elements,row_num
0,Collaborate with stakeholders and other engine...,"[collaborate, with, stakeholders, and, other, ...",0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...,0
1,\nApply the right tools for the job and solve ...,"[apply, the, right, tools, for, the, job, and,...",0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...,0
2,\nDevelop knowledge representations and virtua...,"[develop, knowledge, representations, and, vir...",0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...,0
3,\nProvide model explanations and apply structu...,"[provide, model, explanations, and, apply, str...",0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...,0
4,\nLearn desired behavior from examples using c...,"[learn, desired, behavior, from, examples, usi...",0,2021-08-08 21:01:03.303868,https://se.indeed.com/viewjob?jk=b0669075c820856d,Data Scientist,Jobba hemifrån,se,"About us\n\nHere at Mavenoid, we are building ...",['Collaborate with stakeholders and other engi...,0

In [47]:
l_r = []
for i, r in df_r.iterrows():
    if r['row_num'] not in l_r:
        l_r.append(r['row_num'])
len(l_r)

1103

In [48]:
l = []
for i, r in df.iterrows():
    if r['row_num'] not in l:
        l.append(r['row_num'])
len(l)

2633

In [49]:
for j in l:
    if j not in l_r:
        print(df.iloc[l.index(j)])
        print('------')

Unnamed: 0                                                       6
dt                                      2021-08-08 21:01:33.159440
url              https://se.indeed.com/viewjob?jk=514330948751b10c
title                                              Data Scientist
location                                         111 22 Stockholm
country                                                         se
full_text        We are looking for another skilled and driven ...
list_elements                                                   []
row_num                                                          6
Name: 6, dtype: object
------
Unnamed: 0                                                       7
dt                                      2021-08-08 21:01:39.542159
url              https://se.indeed.com/viewjob?jk=9926cbcdcc05c9be
title                                              Data Scientist
location                                         111 37 Stockholm
country                                                         se
full_text        Together we develop the future. Do you want to...
list_elements                                                   []
row_num                                                          7
Name: 7, dtype: object
------
Unnamed: 0                                                      19
dt                                      2021-08-09 08:16:47.856741
url              https://nl.indeed.com/viewjob?jk=d97110e1a5a67844
title                                              Data Scientist
location                                 Postcode 3528 in Utrecht
country                                                         nl
full_text        What is required?\nMSc degree\n0-3 years of re...
list_elements                                                   []
row_num                                                         19
Name: 19, dtype: object
------
Unnamed: 0                                                      20
dt                                      2021-08-09 08:17:09.942341
url              https://nl.indeed.com/viewjob?jk=594dce445392f637
title               Junior data scientist with a passion for data
location                                                  Utrecht
country                                                         nl
full_text        Junior data scientist with a passion for data,...
list_elements                                                   []
row_num                                                         20
Name: 20, dtype: object
------
Unnamed: 0                                                      21
dt                                      2021-08-09 08:17:20.627842
url              https://nl.indeed.com/viewjob?jk=4971baa633e3eb03
title                                      Applied Data Scientist
location                                                Enkhuizen
country                                                         nl
full_text        Syngenta is a leading agriculture company help...
list_elements                                                   []
row_num                                                         21
Name: 21, dtype: object
------
Unnamed: 0                                                      33
dt                                      2021-08-09 08:33:41.559063
url              https://be.indeed.com/viewjob?jk=12307a99fe75bcfa
title                                                      AfinIT
location                                           Data Scientist
country                                                         be
full_text        For one of our client based in Brussels, we ar...
list_elements                                                   []
row_num                                                         33
Name: 33, dtype: object
------
Unnamed: 0                                                      39
dt                                      2021-08-09 08:35:19.092202
url              https://be.indeed.com/viewjob?jk=5f57be30cf7612e7
title                                              DATA SCIENTIST
location                                                   België
country                                                         be
full_text        The IT Data Scientist will :\nPerform analysis...
list_elements                                                   []
row_num                                                         39
Name: 39, dtype: object
------
Unnamed: 0                                                      44
dt                                      2021-08-09 08:36:35.416030
url              https://es.indeed.com/viewjob?jk=5d05cb51a926ed0f
title                                       Data Scientist Intern
location                                        Cáceres provincia
country                                                         es
full_text        Job Description\nWe are looking for a Data Sci...
list_elements                                                   []
row_num                                                         44
Name: 44, dtype: object
------
Unnamed: 0                                                      54
dt                                      2021-08-09 08:39:06.245808
url              https://it.indeed.com/viewjob?jk=5c215fa4316d9cff
title            Internship Program Junior Data Scientist & Dat...
location                                           Rho, Lombardia
country                                                         it
full_text        Internship Program Junior Data Scientist & Dat...
list_elements                                                   []
row_num                                                         54
Name: 54, dtype: object
------
Unnamed: 0                                                      64
dt                                      2021-08-09 08:43:00.409741
url              https://ch.indeed.com/viewjob?jk=0cea6beb8df63957
title                                              Data Scientist
location                                                      SCD
country                                                         ch
full_text        Company description\nInter IKEA Group brings t...
list_elements                                                   []
row_num                                                         64
Name: 64, dtype: object
------
Unnamed: 0                                                      83
dt                                      2021-08-09 08:49:03.245506
url              https://uk.indeed.com/viewjob?jk=cacac7c909c4114c
title                                   Data Scientist – Football
location                                              Oxfordshire
country                                                         uk
full_text        This is an incredible role for the right perso...
list_elements                                                   []
row_num                                                         83
Name: 83, dtype: object
------
Unnamed: 0                                                      84
dt                                      2021-08-09 08:49:14.006979
url              https://uk.indeed.com/viewjob?jk=921deb009ca5786a
title                               Data Scientist – Fully Remote
location                                           United Kingdom
country                                                         uk
full_text        ** MUST BE BASED IN EUROPE\n\nAn AI startup wh...
list_elements                                                   []
row_num                                                         84
Name: 84, dtype: object
------
Unnamed: 0                                                      93
dt                                      2021-08-09 08:50:50.648976
url              https://pt.indeed.com/viewjob?jk=3dda53cc202dc5f7
title            4 data scientist positions (International Brai...
location                                                 Portugal
country                                                         pt
full_text        4 data scientist positions (International Brai...
list_elements                                                   []
row_num                                                         93
Name: 93, dtype: object
------
Unnamed: 0                                                     115
dt                                      2021-08-09 08:56:03.462687
url              https://lu.indeed.com/viewjob?jk=517b2e4fa9546096
title                                       Junior Data Scientist
location                                                      Esch
country                                                         lu
full_text        ArcelorMittal Luxembourg is looking for a juni...
list_elements                                                   []
row_num                                                        115
Name: 115, dtype: object
------
Unnamed: 0                                                       0
dt                                                             NaN
url              https://be.indeed.com/viewjob?from=appsharedro...
title                                          Visser & Van Baars
location                                           Data Scientist
country                                                         be
full_text        The company\n\nOur customer is a well-known, i...
list_elements                                                   []
row_num                                                        129
Name: 129, dtype: object
------
Unnamed: 0                                                      11
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                                   London
country                                                         uk
full_text        Data Scientist\n - 21000R71)\nThe big question...
list_elements                                                   []
row_num                                                        135
Name: 135, dtype: object
------
Unnamed: 0                                                      71
dt                                                             NaN
url              https://at.indeed.com/viewjob?from=appsharedro...
title                            Fullstack Java Developer (m/w/x)
location                                                  Wien, W
country                                                         at
full_text        Innovative Technologien und Lösungsansätze\n‘O...
list_elements                                                   []
row_num                                                        175
Name: 175, dtype: object
------
Unnamed: 0                                                     103
dt                                                             NaN
url              https://it.indeed.com/viewjob?from=appsharedro...
title                             Medical Laboratory Technologist
location                                            Aviano, Friuli
country                                                         it
full_text        Job DescriptionJob Title: Clinical Laboratory ...
list_elements                                               ['No']
row_num                                                        194
Name: 194, dtype: object
------
Unnamed: 0                                                     106
dt                                                             NaN
url              https://es.indeed.com/viewjob?from=appsharedro...
title              Medical Scientist Oncology (Several locations)
location                           Barcelona, Barcelona provincia
country                                                         es
full_text        Gilead Sciences is continuing to hire for all ...
list_elements                                                   []
row_num                                                        196
Name: 196, dtype: object
------
Unnamed: 0                                                     136
dt                                                             NaN
url              https://es.indeed.com/viewjob?from=appsharedro...
title                         Breeding Research Associate Almeria
location                              El Ejido, Almería provincia
country                                                         es
full_text        The role is responsible for supporting vegetab...
list_elements                                                   []
row_num                                                        218
Name: 218, dtype: object
------
Unnamed: 0                                                     148
dt                                                             NaN
url              https://de.indeed.com/viewjob?from=appsharedro...
title            Für Freelancer: Data Scientist ? Transport ? R...
location                                             10115 Berlin
country                                                         de
full_text        Freelancer Projekt -\nData Scientist ? Transpo...
list_elements                                                   []
row_num                                                        227
Name: 227, dtype: object
------
Unnamed: 0                                                     154
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                                JID 12972
country                                                         uk
full_text        Role: Data Scientist REF 43961Contracting Auth...
list_elements                                                   []
row_num                                                        230
Name: 230, dtype: object
------
Unnamed: 0                                                     158
dt                                                             NaN
url              https://es.indeed.com/viewjob?from=appsharedro...
title                           Medical Scientist Oncology Madrid
location                                 Madrid, Madrid provincia
country                                                         es
full_text        Gilead Sciences is continuing to hire for all ...
list_elements                                                   []
row_num                                                        233
Name: 233, dtype: object
------
Unnamed: 0                                                     226
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                            Data Scientist (MedTech, Remote)
location                                                   London
country                                                         uk
full_text        Do you want to work on greenfield projects?\nI...
list_elements                                                   []
row_num                                                        275
Name: 275, dtype: object
------
Unnamed: 0                                                     239
dt                                                             NaN
url              https://fi.indeed.com/viewjob?from=appsharedro...
title                       Senior / Principal Research Scientist
location                                                   Raisio
country                                                         fi
full_text        Will you join us working in the research area ...
list_elements                                                   []
row_num                                                        282
Name: 282, dtype: object
------
Unnamed: 0                                                     245
dt                                                             NaN
url              https://se.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                                 Göteborg
country                                                         se
full_text        Synteda AB assist companies to embrace the era...
list_elements                                                   []
row_num                                                        287
Name: 287, dtype: object
------
Unnamed: 0                                                     256
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                         Data Science Intern
location                                                    Wales
country                                                         uk
full_text        Job Discipline Description Develops, analyzes ...
list_elements                                                   []
row_num                                                        294
Name: 294, dtype: object
------
Unnamed: 0                                                     309
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                        Analytics Graduate Programme Feb 2022
location                                                July 2022
country                                                         uk
full_text        To apply for this , please do so using the fol...
list_elements                                                   []
row_num                                                        326
Name: 326, dtype: object
------
Unnamed: 0                                                     319
dt                                                             NaN
url              https://se.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                        AFRY IT Solutions
country                                                         se
full_text        About the company\nAFRY is a European leader i...
list_elements                                                   []
row_num                                                        331
Name: 331, dtype: object
------
Unnamed: 0                                                     330
dt                                                             NaN
url              https://pt.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Scientist
location                                              Ranks (m/f)
country                                                         pt
full_text        Sobre a Empresa︎\nFashion E-commerce\n\nRespon...
list_elements                                                   []
row_num                                                        338
Name: 338, dtype: object
------
Unnamed: 0                                                     338
dt                                                             NaN
url              https://at.indeed.com/viewjob?from=appsharedro...
title                                       Senior Java Developer
location                                                  Wien, W
country                                                         at
full_text        Description Senior JAVA back-end developer - V...
list_elements                                                   []
row_num                                                        341
Name: 341, dtype: object
------
Unnamed: 0                                                     361
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                             Liverpool L1

Name: 796, dtype: object
------
Unnamed: 0                                                    1071
dt                                                             NaN
url              https://se.indeed.com/viewjob?from=appsharedro...
title                                DATA ENGINEER/DATA SCIENTIST
location                                                Hägersten
country                                                         se
full_text        In the role as Engineer/Data Scientist you are...
list_elements                                                   []
row_num                                                        797
Name: 797, dtype: object
------
Unnamed: 0                                                    1086
dt                                                             NaN
url              https://es.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                           Barcelona, Barcelona provincia
country                                                         es
full_text        We are looking for an experienced Data Scienti...
list_elements                                                   []
row_num                                                        808
Name: 808, dtype: object
------
Unnamed: 0                                                    1089
dt                                                             NaN
url              https://de.indeed.com/viewjob?from=appsharedro...
title                                      Data Scientist (m/f/d)
location                                                  München
country                                                         de
full_text        Join the Data Science team at AutoScout24 and ...
list_elements                                                   []
row_num                                                        811
Name: 811, dtype: object
------
Unnamed: 0                                                    1099
dt                                                             NaN
url              https://se.indeed.com/viewjob?from=appsharedro...
title                                     Translational Scientist
location                                              223 70 Lund
country                                                         se
full_text        We are seeking an experienced and highly motiv...
list_elements                                                   []
row_num                                                        817
Name: 817, dtype: object
------
Unnamed: 0                                                    1111
dt                                                             NaN
url              https://it.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                        Milano, Lombardia
country                                                         it
full_text        About Swiss Re\nSwiss Re is one of the world’s...
list_elements                                                   []
row_num                                                        825
Name: 825, dtype: object
------
Unnamed: 0                                                    1130
dt                                                             NaN
url              https://lu.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Architect
location                                                      Esch
country                                                         lu
full_text        Within ArcelorMittal Europe - Flat Products CI...
list_elements                                                   []
row_num                                                        839
Name: 839, dtype: object
------
Unnamed: 0                                                    1201
dt                                                             NaN
url              https://at.indeed.com/viewjob?from=appsharedro...
title            Biologist specialised in barcoding and eDNA (m...
location                                               Österreich
country                                                         at
full_text        The Carinthia University of Applied Sciences s...
list_elements    ['', '', '', '', '', '', '', '', '', '', '', '...
row_num                                                        889
Name: 889, dtype: object
------
Unnamed: 0                                                    1223
dt                                                             NaN
url              https://at.indeed.com/viewjob?from=appsharedro...
title                  Senior Java Backend Developer tmOS (m/w/x)
location                                                  Wien, W
country                                                         at
full_text        Innovative Technologien und Lösungsansätze\n‘O...
list_elements                                                   []
row_num                                                        902
Name: 902, dtype: object
------
Unnamed: 0                                                    1233
dt                                                             NaN
url              https://fi.indeed.com/viewjob?from=appsharedro...
title                                      Medical Lab Technician
location                                                 Helsinki
country                                                         fi
full_text        Job Title: Clinical Laboratory Technician.Loca...
list_elements                                               ['No']
row_num                                                        908
Name: 908, dtype: object
------
Unnamed: 0                                                    1239
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                                      Intern
location                                           Data Scientist
country                                                         uk
full_text        Location: London\nWe have open positions for s...
list_elements                                                   []
row_num                                                        913
Name: 913, dtype: object
------
Unnamed: 0                                                    1240
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                                  Glasgow
country                                                         uk
full_text        Job Purpose\n\nWe are looking to fill the posi...
list_elements                                                   []
row_num                                                        914
Name: 914, dtype: object
------
Unnamed: 0                                                    1260
dt                                                             NaN
url              https://it.indeed.com/viewjob?from=appsharedro...
title                              Clinical Laboratory Technician
location                                            Aviano, Friuli
country                                                         it
full_text        Medical Lab TechnicianAviano, Friuli-Venezia G...
list_elements                                               ['No']
row_num                                                        922
Name: 922, dtype: object
------
Unnamed: 0                                                    1268
dt                                                             NaN
url              https://no.indeed.com/viewjob?from=appsharedro...
title            Assistant Professor in Applied Statistics or E...
location                                                   Bergen
country                                                         no
full_text        About the position\nNHH in Bergen, Norway, inv...
list_elements                                                   []
row_num                                                        928
Name: 928, dtype: object
------
Unnamed: 0                                                    1275
dt                                                             NaN
url              https://ch.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Scientist
location                                          Innovative team
country                                                         ch
full_text        One of my clients, a leading Swiss advertising...
list_elements                                                   []
row_num                                                        933
Name: 933, dtype: object
------
Unnamed: 0                                                    1307
dt                                                             NaN
url              https://be.indeed.com/viewjob?from=appsharedro...
title                      Principal Data Scientist and Team Lead
location                                                   Beerse
country                                                         be
full_text        Key words: innovation, data analytics, medicin...
list_elements                                                   []
row_num                                                        950
Name: 950, dtype: object
------
Unnamed: 0                                                    1309
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location                                                Insurtech
country                                                         uk
full_text        Job Overview\nThe Company\n\n\nData Scientist ...
list_elements                                                   []
row_num                                                        952
Name: 952, dtype: object
------
Unnamed: 0                                                    1314
dt                                                             NaN
url              https://es.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Scientist
location                                 Madrid, Madrid provincia
country                                                         es
full_text        Join us on our exciting journey!\nIQVIA™ is Th...
list_elements                                                   []
row_num                                                        957
Name: 957, dtype: object
------
Unnamed: 0                                                    1317
dt                                                             NaN
url              https://pt.indeed.com/viewjob?from=appsharedro...
title                                           Research Engineer
location                                                   Remoto
country                                                         pt
full_text        Compensation: starting at 35K€\nRoad Freight i...
list_elements                                                   []
row_num                                                        959
Name: 959, dtype: object
------
Unnamed: 0                                                    1331
dt                                                             NaN
url              https://no.indeed.com/viewjob?from=appsharedro...
title            Postdoctoral Research Fellow in macroevolution...
location                                                     Oslo
country                                                         no
full_text        A two-year position as a postdoctoral research...
list_elements                                                   []
row_num                                                        967
Name: 967, dtype: object
------
Unnamed: 0                                                    1342
dt                                                             NaN
url              https://no.indeed.com/viewjob?from=appsharedro...
title            Assistant Professor in Applied Statistics or E...
location                                                   Bergen
country                                                         no
full_text        Apply for this job\nSee advertisement\nAbout N...
list_elements                                                   []
row_num                                                        974
Name: 974, dtype: object
------
Unnamed: 0                                                    1349
dt                                                             NaN
url              https://ch.indeed.com/viewjob?from=appsharedro...
title                  Transmission Electron Microscopy Scientist
location                                              Home Office
country                                                         ch
full_text        AnaPath Services is a Swiss based contract lab...
list_elements                                                   []
row_num                                                        978
Name: 978, dtype: object
------
Unnamed: 0                                                    1355
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                              Data Scientist
location          suit recent PhD (London based with remote wor...
country                                                         uk
full_text        Data Scientist - ideal first role post PhD to ...
list_elements                                                   []
row_num                                                        983
Name: 983, dtype: object
------
Unnamed: 0                                                    1365
dt                                                             NaN
url              https://se.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Scientist
location                                         112 22 Stockholm
country                                                         se
full_text        About Us\n\nDaxoni is a consultancy company th...
list_elements                                                   []
row_num                                                        992
Name: 992, dtype: object
------
Unnamed: 0                                                    1367
dt                                                             NaN
url              https://de.indeed.com/viewjob?from=appsharedro...
title                                      Data Scientist (f/m/x)
location                                               50937 Köln
country                                                         de
full_text        at the earliest possible date\nFull-time, limi...
list_elements                                                   []
row_num                                                        993
Name: 993, dtype: object
------
Unnamed: 0                                                    1374
dt                                                             NaN
url              https://uk.indeed.com/viewjob?from=appsharedro...
title                                       Senior Data Scientist
location                                              Didcot OX11
country                                                         uk
full_text        Overview:\nAt Ricardo Energy & Environment, we...
list_elements                                                   []
row_num                                                        998
Name: 998, dtype: object
------
Unnamed: 0                                                    1380
dt                                                             NaN
url              https://de.indeed.com/viewjob?from=appsharedro...
title                                               Data Analysis
location          und Machine Learning Solutions Engineer/Scien...
country                                                         de
full_text        Data Analysis - und Machine Learning Solutions...
list_elements                                                   []
row_num                                                       1002
Name: 1002, dtype: object
------
Unnamed: 0                                                    1395
dt                                                             NaN
url              https://fi.indeed.com/viewjob?from=appsharedro...
title                       Senior / Principal research scientist
location                                                    Lappi
country                                                         fi
full_text        Institutt for energiteknikk (IFE), Halden\n\nS...
list_elements                                                   []
row_num                                                       1009
Name: 1009, dtype: object
------
Unnamed: 0                                                    1403
dt                                                             NaN
url              https://it.indeed.com/viewjob?from=appsharedro...
title                              Senior Scientist Skin Research
location                            Provincia di Macerata, Marche
country                                                         it
full_text        Mission & Responsibilities:\nPerform Skin Scie...
list_elements                                                   []
row_num                                                       1014
Name: 1014, dtype: object
------
Unnamed: 0                                                    1420
dt                                                             NaN
url              https://be.indeed.com/viewjob?from=appsharedro...
title                   INTERNATIONAL PROGRAMME FOR JUNIORS (VIE)
location          CHEMICAL DATA ENGINEER : STRUCTURATION, CLEAN...
country                                                         be
full_text        Research Innovation&Developpt\nFELUY-ZONING IN...
list_elements                                                   []
row_num                                                       1026
Name: 1026, dtype: object
------
Unnamed: 0                                                    1456
dt                                                             NaN
url              https://at.indeed.com/viewjob?from=appsharedro...
title                               Data Scientist Engineer (m/w)
location                                            Schwarzach, V
country                                                         at
full_text        Innovative,\n\nfast and\n\nalways on\n\nthe cu...
list_elements                                                   []
row_num                                                       1052
Name: 1052, dtype: object
------
Unnamed: 0                                                    1462
dt                                                             NaN
url              https://de.indeed.com/viewjob?from=appsharedro...
title            Data Scientist for Access Rights Modeling (m/f...
location                                                  München
country                                                         de
full_text        UniCredit Services is a legal entity of UniCre...
list_elements                                                   []
row_num                                                       1055
Name: 1055, dtype: object
------
Unnamed: 0                                                    1475
dt                                                             NaN
url              https://be.indeed.com/viewjob?from=appsharedro...
title                                   Data Analytics Consultant

Unnamed: 0                                                    8395
dt                                       2019-09-05 03:12:55 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                       Lead Data Scientist - Machine Learning
location                                               Creve coeur
country                                                         us
full_text        Lead Data Scientist - Machine Learning Lead Da...
list_elements                                                   []
row_num                                                       1134
Name: 1134, dtype: object
------
Unnamed: 0                                                    8396
dt                                       2019-09-05 02:27:30 +0000
url              https://www.careerbuilder.com/job/J3Q1W5767PGK...
title                           Data Scientist Research Programmer
location                                              Santa monica
country                                                         us
full_text        Title Data Scientist Research Programmer Overv...
list_elements                                                   []
row_num                                                       1135
Name: 1135, dtype: object
------
Unnamed: 0                                                    8397
dt                                       2019-09-05 03:31:43 +0000
url              https://www.careerbuilder.com/job/J3T23Y79J05S...
title                 Senior Data Scientist - Predictive Analytics
location                                                    Irving
country                                                         us
full_text        Position: Data ScientistDuration: Long Contrac...
list_elements                                                   []
row_num                                                       1136
Name: 1136, dtype: object
------
Unnamed: 0                                                    8398
dt                                       2019-09-05 04:36:53 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Houston
country                                                         us
full_text        Job Description - Data Scientist \nWe are seek...
list_elements                                                   []
row_num                                                       1137
Name: 1137, dtype: object
------
Unnamed: 0                                                    8399
dt                                       2019-09-05 04:25:10 +0000
url              https://www.careerbuilder.com/job/J3T44H675FSY...
title            Data Scientist- Atlanta, GA- $115K- Permanent ...
location                                                   Atlanta
country                                                         us
full_text        Data Scientist- Atlanta, GA- $115K- Permanent ...
list_elements                                                   []
row_num                                                       1138
Name: 1138, dtype: object
------
Unnamed: 0                                                    8400
dt                                       2019-09-05 04:37:04 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Houston
country                                                         us
full_text        Our Houston Research Center focuses on researc...
list_elements                                                   []
row_num                                                       1139
Name: 1139, dtype: object
------
Unnamed: 0                                                    8401
dt                                       2019-09-05 04:41:47 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                               Sound beach
country                                                         us
full_text        Responsibilities  \nReporting to the Data Anal...
list_elements                                                   []
row_num                                                       1140
Name: 1140, dtype: object
------
Unnamed: 0                                                    8402
dt                                       2019-09-05 08:55:00 +0000
url              https://job-openings.monster.com/lead-bioinfor...
title            Lead Bioinformatics/Data Scientist - Python, B...
location                                                 Palo alto
country                                                         us
full_text        Lead Bioinformatics/Data Scientist - Python, B...
list_elements                                                   []
row_num                                                       1141
Name: 1141, dtype: object
------
Unnamed: 0                                                    8403
dt                                       2019-09-05 09:13:56 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                  New york
country                                                         us
full_text        SeatGeek operates a unique business model in a...
list_elements                                                   []
row_num                                                       1142
Name: 1142, dtype: object
------
Unnamed: 0                                                    8405
dt                                       2019-09-05 09:02:16 +0000
url              https://www.indeed.com/viewjob?jk=ec2f2b229ae2...
title                              Data Scientist, VSP Vision Care
location                                            Rancho cordova
country                                                         us
full_text        Data Scientist, VSP Vision Care\n\nDate: Aug 2...
list_elements                                                   []
row_num                                                       1144
Name: 1144, dtype: object
------
Unnamed: 0                                                    8407
dt                                       2019-09-05 09:56:45 +0000
url              https://job-openings.monster.com/sr-data-scien...
title            Sr Data Scientist - Artificial Intelligence Ar...
location                                                Washington
country                                                         us
full_text        Introduction  \nAs a Data Scientist at IBM, yo...
list_elements                                                   []
row_num                                                       1146
Name: 1146, dtype: object
------
Unnamed: 0                                                    8408
dt                                       2019-09-05 12:43:40 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                      Lead Data Scientist - Maritz Motivation
location                                                    Fenton
country                                                         us
full_text        EXCITED TO GROW YOUR CAREER? WERE GLAD YOURE H...
list_elements                                                   []
row_num                                                       1147
Name: 1147, dtype: object
------
Unnamed: 0                                                    8409
dt                                       2019-09-05 12:52:35 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Non Profit Cloud - Sale...
location                                             San francisco
country                                                         us
full_text        Job CategoryProducts and Technology \nJob Deta...
list_elements                                                   []
row_num                                                       1148
Name: 1148, dtype: object
------
Unnamed: 0                                                    8410
dt                                       2019-09-05 13:17:39 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist / Machine Learning (AI/ML) Spec...
location                                                   Fairfax
country                                                         us
full_text        Working at ICF \nWorking at ICF means applying...
list_elements                                                   []
row_num                                                       1149
Name: 1149, dtype: object
------
Unnamed: 0                                                    8411
dt                                       2019-09-05 20:05:17 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                                   Houston
country                                                         us
full_text        Department: Earth Environmental and Planetary ...
list_elements                                                   []
row_num                                                       1150
Name: 1150, dtype: object
------
Unnamed: 0                                                    8412
dt                                       2019-09-05 20:08:07 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                       Data Scientist, Senior
location                                           Charlottesville
country                                                         us
full_text        Collaborate with assigned departments to provi...
list_elements                                                   []
row_num                                                       1151
Name: 1151, dtype: object
------
Unnamed: 0                                                    8413
dt                                       2019-09-05 22:38:53 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                                     Macon
country                                                         us
full_text        Position Title Data Scientist Department Insti...
list_elements                                                   []
row_num                                                       1152
Name: 1152, dtype: object
------
Unnamed: 0                                                    8414
dt                                       2019-09-06 00:50:24 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title            Data Scientist, Regulation, Evaluation, and Go...
location                                                  Stanford
country                                                         us
full_text        The Regulation, Evaluation, and Governance Lab...
list_elements                                                   []
row_num                                                       1153
Name: 1153, dtype: object
------
Unnamed: 0                                                    8415
dt                                       2019-09-06 01:10:29 +0000
url              https://job-openings.monster.com/federal-senio...
title                              Federal - Senior Data Scientist
location                                                 Arlington
country                                                         us
full_text        Organization: Accenture Federal Services \nLoc...
list_elements                                                   []
row_num                                                       1154
Name: 1154, dtype: object
------
Unnamed: 0                                                    8416
dt                                       2019-09-06 01:09:45 +0000
url              https://job-openings.monster.com/data-scientis...
title                                         Data Scientist, Lead
location                                                Washington
country                                                         us
full_text        Data Scientist, Lead \nThe Challenge: \nAre yo...
list_elements                                                   []
row_num                                                       1155
Name: 1155, dtype: object
------
Unnamed: 0                                                    8417
dt                                       2019-09-06 01:15:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                       Data Scientist, Online
location                                                   Atlanta
country                                                         us
full_text        Key Accountabilities  \n50%-Design and develop...
list_elements                                                   []
row_num                                                       1156
Name: 1156, dtype: object
------
Unnamed: 0                                                    8418
dt                                       2019-09-06 01:33:41 +0000
url              https://www.careerbuilder.com/job/J3R3SV6JSDFN...
title                                  Data Scientist/AI Developer
location                                                    Austin
country                                                         us
full_text        Job #: 994961If you are interested, please sen...
list_elements                                                   []
row_num                                                       1157
Name: 1157, dtype: object
------
Unnamed: 0                                                    8419
dt                                       2019-09-06 02:04:46 +0000
url              https://www.careerbuilder.com/job/J3S63B5YMR8Z...
title                                               Data Scientist
location                                                   Chicago
country                                                         us
full_text        JobID: 23834Who We AreWe are guitarists, DJs a...
list_elements                                                   []
row_num                                                       1158
Name: 1158, dtype: object
------
Unnamed: 0                                                    8420
dt                                       2019-09-06 02:33:06 +0000
url              https://job-openings.monster.com/data-scientis...
title                                    Data Scientist - INTELP11
location                                                Washington
country                                                         us
full_text        Intel - E3/Sentinels Intelligence Division pro...
list_elements                                                   []
row_num                                                       1159
Name: 1159, dtype: object
------
Unnamed: 0                                                    8421
dt                                       2019-09-06 03:31:23 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Supply Chain, Logistics, Serv...
location                                                  Dearborn
country                                                         us
full_text        35049BR  \n Job Title:  \nData Scientist - Sup...
list_elements                                                   []
row_num                                                       1160
Name: 1160, dtype: object
------
Unnamed: 0                                                    8422
dt                                       2019-09-06 03:06:20 +0000
url              https://www.careerbuilder.com/job/J3Q2VL67Y0NB...
title            Sr Data Scientist/Machine learning software en...
location                                             Mountain view
country                                                         us
full_text        Sr Data Scientist/Machine learning software en...
list_elements                                                   []
row_num                                                       1161
Name: 1161, dtype: object
------
Unnamed: 0                                                    8423
dt                                       2019-09-06 03:01:27 +0000
url              https://www.careerbuilder.com/job/J3R7G66442TH...
title                                               Data Scientist
location                                                 Charlotte
country                                                         us
full_text        Genesis10 is currently seeking a Data Scientis...
list_elements                                                   []
row_num                                                       1162
Name: 1162, dtype: object
------
Unnamed: 0                                                    8424
dt                                       2019-09-06 03:37:16 +0000
url              https://www.careerbuilder.com/job/J3337L7101GJ...
title            Sr Data Scientist/Machine learning software en...
location                                                       NaN
country                                                         us
full_text        Sr Data Scientist/Machine learning software en...
list_elements                                                   []
row_num                                                       1163
Name: 1163, dtype: object
------
Unnamed: 0                                                    8425
dt                                       2019-09-06 02:39:44 +0000
url              https://www.careerbuilder.com/job/J3S2266WQJ1J...
title                                 Manager, Lead Data Scientist
location                                               Lake forest
country                                                         us
full_text        Grainger is a broad line, business-to-business...
list_elements                                                   []
row_num                                                       1164
Name: 1164, dtype: object
------
Unnamed: 0                                                    8426
dt                                       2019-09-06 04:07:12 +0000
url              https://job-openings.monster.com/security-data...
title                                      Security Data Scientist
location                                                 Arlington
country                                                         us
full_text        Security Data Scientist \n If you are a Securi...
list_elements                                                   []
row_num                                                       1165
Name: 1165, dtype: object
------
Unnamed: 0                                                    8427
dt                                       2019-09-06 04:00:48 +0000
url              https://www.careerbuilder.com/job/J3M67J6W8SJL...
title                                               Data Scientist
location                                                 San ramon
country                                                         us
full_text        Overview Hello, Our client is looking for Data...
list_elements                                                   []
row_num                                                       1166
Name: 1166, dtype: object
------
Unnamed: 0                                                    8428
dt                                       2019-09-06 04:07:54 +0000
url              https://job-openings.monster.com/3-senior-data...
title            (3) Senior Data Scientist - (Machine Learning,...

Name: 1202, dtype: object
------
Unnamed: 0                                                    8464
dt                                       2019-09-06 04:14:16 +0000
url              https://job-openings.monster.com/senior-data-s...
title                            Senior Data Scientist, Healthcare
location                                                Santa cruz
country                                                         us
full_text        Senior Data Scientist, Healthcare \n If you ar...
list_elements                                                   []
row_num                                                       1203
Name: 1203, dtype: object
------
Unnamed: 0                                                    8465
dt                                       2019-09-06 04:13:17 +0000
url              https://job-openings.monster.com/3-senior-data...
title            (3) Senior Data Scientist - (Machine Learning,...
location                                                 Blue bell
country                                                         us
full_text        Req ID: 62398BR \nJob Description \nAetna's Me...
list_elements                                                   []
row_num                                                       1204
Name: 1204, dtype: object
------
Unnamed: 0                                                    8466
dt                                       2019-09-06 04:12:53 +0000
url              https://job-openings.monster.com/data-scientis...
title                                        Data Scientist Senior
location                                                 Arlington
country                                                         us
full_text        Description  The \nData Scientist Senior  woul...
list_elements                                                   []
row_num                                                       1205
Name: 1205, dtype: object
------
Unnamed: 0                                                    8467
dt                                       2019-09-06 04:13:59 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Orlando
country                                                         us
full_text        Send resumes and supporting documentation to: ...
list_elements                                                   []
row_num                                                       1206
Name: 1206, dtype: object
------
Unnamed: 0                                                    8468
dt                                       2019-09-06 04:11:16 +0000
url              https://job-openings.monster.com/manager-data-...
title                                      Manager, Data Scientist
location                                                   Chicago
country                                                         us
full_text        77 West Wacker Dr (35012), United States of Am...
list_elements                                                   []
row_num                                                       1207
Name: 1207, dtype: object
------
Unnamed: 0                                                    8469
dt                                       2019-09-06 04:09:59 +0000
url              https://job-openings.monster.com/cleared-data-...
title                                       Cleared Data Scientist
location                                                    Reston
country                                                         us
full_text        Position is with the VA McLean Customer and re...
list_elements                                                   []
row_num                                                       1208
Name: 1208, dtype: object
------
Unnamed: 0                                                    8470
dt                                       2019-09-06 04:13:46 +0000
url              https://job-openings.monster.com/chief-data-sc...
title                                         Chief Data Scientist
location                                              East hanover
country                                                         us
full_text        Chief Data Scientist \n If you are a Chief Dat...
list_elements                                                   []
row_num                                                       1209
Name: 1209, dtype: object
------
Unnamed: 0                                                    8471
dt                                       2019-09-06 04:12:17 +0000
url              https://job-openings.monster.com/data-scientis...
title                                     Data Scientist - Actuary
location                                                   Reading
country                                                         us
full_text        Data Scientist - Actuary \n \nJob Title:    Da...
list_elements                                                   []
row_num                                                       1210
Name: 1210, dtype: object
------
Unnamed: 0                                                    8472
dt                                       2019-09-06 04:09:22 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                           Sr. Data Scientist/Project Manager
location                                                Washington
country                                                         us
full_text        Sr. Data Scientist/Project ManagerDelivery  Wa...
list_elements                                                   []
row_num                                                       1211
Name: 1211, dtype: object
------
Unnamed: 0                                                    8473
dt                                       2019-09-06 04:13:18 +0000
url              https://job-openings.monster.com/data-scientis...
title                     Data Scientist - Must have Active Secret
location                                                  National
country                                                         us
full_text        Job Description \nInvent Your Future with CACI...
list_elements                                                   []
row_num                                                       1212
Name: 1212, dtype: object
------
Unnamed: 0                                                    8474
dt                                       2019-09-06 04:10:56 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                             Mountain view
country                                                         us
full_text        Senior Data Scientist \n AI/ML Technology Grou...
list_elements                                                   []
row_num                                                       1213
Name: 1213, dtype: object
------
Unnamed: 0                                                    8475
dt                                       2019-09-06 04:12:50 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1214
Name: 1214, dtype: object
------
Unnamed: 0                                                    8476
dt                                       2019-09-06 04:09:12 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Optimization, Operations Rese...
location                                                 Charlotte
country                                                         us
full_text        Data Scientist - Optimization, Operations Rese...
list_elements                                                   []
row_num                                                       1215
Name: 1215, dtype: object
------
Unnamed: 0                                                    8477
dt                                       2019-09-06 04:15:55 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Deep Learning (Relo to ...
location                                                    Boston
country                                                         us
full_text        Senior Data Scientist, Deep Learning (Relo to ...
list_elements                                                   []
row_num                                                       1216
Name: 1216, dtype: object
------
Unnamed: 0                                                    8478
dt                                       2019-09-06 04:08:42 +0000
url              https://job-openings.monster.com/data-scientis...
title                                      Data Scientist (187920)
location                                                  Appleton
country                                                         us
full_text        COMPANY PROFILE  \n\nOshkosh Corporation is a ...
list_elements                                                   []
row_num                                                       1217
Name: 1217, dtype: object
------
Unnamed: 0                                                    8479
dt                                       2019-09-06 04:10:59 +0000
url              https://job-openings.monster.com/lead-machine-...
title                         Lead Machine Learning Data Scientist
location                                             San francisco
country                                                         us
full_text        Responsibilities:  \nBe a key member of the ma...
list_elements                                                   []
row_num                                                       1218
Name: 1218, dtype: object
------
Unnamed: 0                                                    8480
dt                                       2019-09-06 04:15:50 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Florham park
country                                                         us
full_text        Senior Data Scientist \n We are the leader in ...
list_elements                                                   []
row_num                                                       1219
Name: 1219, dtype: object
------
Unnamed: 0                                                    8481
dt                                       2019-09-06 04:15:02 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                               Creve coeur
country                                                         us
full_text        Lead Data Scientist \n If you are a Lead Data ...
list_elements                                                   []
row_num                                                       1220
Name: 1220, dtype: object
------
Unnamed: 0                                                    8482
dt                                       2019-09-06 04:13:33 +0000
url              https://job-openings.monster.com/data-scientis...
title                               Data Scientist - Cybersecurity
location                                                 Arlington
country                                                         us
full_text        Data Scientist - Cybersecurity \n If you are a...
list_elements                                                   []
row_num                                                       1221
Name: 1221, dtype: object
------
Unnamed: 0                                                    8483
dt                                       2019-09-06 04:14:45 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist - WAH in US
location                                                  Syracuse
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1222
Name: 1222, dtype: object
------
Unnamed: 0                                                    8484
dt                                       2019-09-06 04:14:16 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                           Sr. Data Scientist, Internal Audit
location                                                    Dallas
country                                                         us
full_text        Sr. Data Scientist, Internal Audit    -    190...
list_elements                                                   []
row_num                                                       1223
Name: 1223, dtype: object
------
Unnamed: 0                                                    8485
dt                                       2019-09-06 04:13:02 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist or Engineer
location                                                 Park city
country                                                         us
full_text        Job Title: Data Scientist or Engineer \nCompan...
list_elements                                                   []
row_num                                                       1224
Name: 1224, dtype: object
------
Unnamed: 0                                                    8486
dt                                       2019-09-06 04:12:45 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Financial Services - Relocati...
location                                                   El paso
country                                                         us
full_text        Job Description \nThe Data Scientist / Model V...
list_elements                                                   []
row_num                                                       1225
Name: 1225, dtype: object
------
Unnamed: 0                                                    8487
dt                                       2019-09-06 04:07:28 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                              Philadelphia
country                                                         us
full_text        Data Scientist \nPhiladelphia, Pennsylvania, U...
list_elements                                                   []
row_num                                                       1226
Name: 1226, dtype: object
------
Unnamed: 0                                                    8488
dt                                       2019-09-06 04:10:03 +0000
url              https://job-openings.monster.com/data-scientis...
title                             Data Scientist, Machine Learning
location                                                   Chicago
country                                                         us
full_text        Description:  \nLead Data Scientist works with...
list_elements                                                   []
row_num                                                       1227
Name: 1227, dtype: object
------
Unnamed: 0                                                    8489
dt                                       2019-09-06 04:09:52 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                                       NaN
country                                                         us
full_text        Description \n Your Career  \nAre you passiona...
list_elements                                                   []
row_num                                                       1228
Name: 1228, dtype: object
------
Unnamed: 0                                                    8490
dt                                       2019-09-06 04:12:33 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Columbus
country                                                         us
full_text        Job Description \nOur Corporate Strategy and C...
list_elements                                                   []
row_num                                                       1229
Name: 1229, dtype: object
------
Unnamed: 0                                                    8491
dt                                       2019-09-06 04:11:01 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                             Santa barbara
country                                                         us
full_text        The Startup Located in breathtaking downtown S...
list_elements                                                   []
row_num                                                       1230
Name: 1230, dtype: object
------
Unnamed: 0                                                    8492
dt                                       2019-09-06 04:12:25 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                             San francisco
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       1231
Name: 1231, dtype: object
------
Unnamed: 0                                                    8493
dt                                       2019-09-06 04:14:09 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                      Sr. Data Scientist, NLP
location                                                   Chicago
country                                                         us
full_text        Job DescriptionFounded in 2000, Fractal Analyt...
list_elements                                                   []
row_num                                                       1232
Name: 1232, dtype: object
------
Unnamed: 0                                                    8494
dt                                       2019-09-06 04:07:13 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist - CNN, Deep Learning - REL...
location                                                 Hollywood
country                                                         us
full_text        Lead Data Scientist - CNN, Deep Learning - REL...
list_elements                                                   []
row_num                                                       1233
Name: 1233, dtype: object
------
Unnamed: 0                                                    8495
dt                                       2019-09-06 04:08:05 +0000
url              https://job-openings.monster.com/data-scientis...

Name: 1264, dtype: object
------
Unnamed: 0                                                    8526
dt                                       2019-09-06 04:12:59 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                          Maryland heights
country                                                         us
full_text        Kforce has a client in search of a Data Scient...
list_elements                                                   []
row_num                                                       1265
Name: 1265, dtype: object
------
Unnamed: 0                                                    8527
dt                                       2019-09-06 04:07:48 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Reston
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1266
Name: 1266, dtype: object
------
Unnamed: 0                                                    8528
dt                                       2019-09-06 04:14:53 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist, Deep Learning (Relo to Bo...
location                                                    Boston
country                                                         us
full_text        Lead Data Scientist, Deep Learning (Relo to Bo...
list_elements                                                   []
row_num                                                       1267
Name: 1267, dtype: object
------
Unnamed: 0                                                    8529
dt                                       2019-09-06 04:15:18 +0000
url              https://job-openings.monster.com/lead-bioinfor...
title                           Lead Bioinformatics/Data Scientist
location                                                 Palo alto
country                                                         us
full_text        Lead Bioinformatics/Data Scientist \n If you a...
list_elements                                                   []
row_num                                                       1268
Name: 1268, dtype: object
------
Unnamed: 0                                                    8530
dt                                       2019-09-06 04:14:49 +0000
url              https://job-openings.monster.com/junior-data-s...
title                                        Junior Data Scientist
location                                                   Chicago
country                                                         us
full_text        Company Description\nwww.getboro.com\nHeadquar...
list_elements                                                   []
row_num                                                       1269
Name: 1269, dtype: object
------
Unnamed: 0                                                    8531
dt                                       2019-09-06 04:15:36 +0000
url              https://job-openings.monster.com/data-scientis...
title                             Data Scientist, Machine Learning
location                                                 Brooklawn
country                                                         us
full_text        Description:  \nData Scientist works with busi...
list_elements                                                   []
row_num                                                       1270
Name: 1270, dtype: object
------
Unnamed: 0                                                    8532
dt                                       2019-09-06 04:10:36 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                         Hillcrest heights
country                                                         us
full_text        OGSystems - Company Overview  \nWhy be a gover...
list_elements                                                   []
row_num                                                       1271
Name: 1271, dtype: object
------
Unnamed: 0                                                    8533
dt                                       2019-09-06 04:15:10 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Washington
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1272
Name: 1272, dtype: object
------
Unnamed: 0                                                    8534
dt                                       2019-09-06 04:12:52 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                                  Portland
country                                                         us
full_text        Design, develop, troubleshoot and debug softwa...
list_elements                                                   []
row_num                                                       1273
Name: 1273, dtype: object
------
Unnamed: 0                                                    8535
dt                                       2019-09-06 03:49:33 +0000
url              https://www.careerbuilder.com/job/J3S0K5640W19...
title                                Bioinformatics/Data Scientist
location                                                Pennington
country                                                         us
full_text        ACS group has an immediate need for a Bioinfor...
list_elements                                                   []
row_num                                                       1274
Name: 1274, dtype: object
------
Unnamed: 0                                                    8536
dt                                       2019-09-06 04:12:22 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Director of Dat...
list_elements                                                   []
row_num                                                       1275
Name: 1275, dtype: object
------
Unnamed: 0                                                    8537
dt                                       2019-09-06 04:10:42 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Redwood city
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       1276
Name: 1276, dtype: object
------
Unnamed: 0                                                    8538
dt                                       2019-09-06 04:10:57 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                   Senior Data Scientist, CPG
location                                                Cincinnati
country                                                         us
full_text        Company OverviewFractal Analytics is a strateg...
list_elements                                                   []
row_num                                                       1277
Name: 1277, dtype: object
------
Unnamed: 0                                                    8539
dt                                       2019-09-06 04:39:03 +0000
url              https://job-openings.monster.com/data-science-...
title                   Data Science Instructor, Sr Data Scientist
location                                                   Phoenix
country                                                         us
full_text        We are growing our Data Science Instructional ...
list_elements                                                   []
row_num                                                       1278
Name: 1278, dtype: object
------
Unnamed: 0                                                    8540
dt                                       2019-09-06 05:07:34 +0000
url              https://job-openings.monster.com/associate-dat...
title                                    Associate, Data Scientist
location                                                  New york
country                                                         us
full_text        CCB FAST Data Science, Analytics & Insights - ...
list_elements                                                   []
row_num                                                       1279
Name: 1279, dtype: object
------
Unnamed: 0                                                    8545
dt                                       2019-09-06 09:29:13 +0000
url              https://job-openings.monster.com/bioinformatic...
title                                Bioinformatics/Data Scientist
location                                                Pennington
country                                                         us
full_text        ACS group has an immediate need for a  Bioinfo...
list_elements                                                   []
row_num                                                       1284
Name: 1284, dtype: object
------
Unnamed: 0                                                    8546
dt                                       2019-09-06 09:45:16 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Palo alto
country                                                         us
full_text        Inscopix, a discovery phase neurotechnology co...
list_elements                                                   []
row_num                                                       1285
Name: 1285, dtype: object
------
Unnamed: 0                                                    8549
dt                                       2019-09-06 10:12:19 +0000
url              https://job-openings.monster.com/data-scientis...
title                                           Data Scientist III
location                                             Scotts valley
country                                                         us
full_text        The Judge group is looking for an experienced ...
list_elements                                                   []
row_num                                                       1288
Name: 1288, dtype: object
------
Unnamed: 0                                                    8550
dt                                       2019-09-06 10:31:18 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                                     Plano
country                                                         us
full_text        Description \n Principal   Data Scientist \n\n...
list_elements                                                   []
row_num                                                       1289
Name: 1289, dtype: object
------
Unnamed: 0                                                    8551
dt                                       2019-09-06 10:32:45 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                                Manchester
country                                                         us
full_text        This position will be responsible for enabling...
list_elements                                                   []
row_num                                                       1290
Name: 1290, dtype: object
------
Unnamed: 0                                                    8552
dt                                       2019-09-06 10:32:15 +0000
url              https://job-openings.monster.com/principal-dat...
title                   Principal Data Scientist - Marketing Cloud
location                                                   Boulder
country                                                         us
full_text        Designs, develops and programs methods, proces...
list_elements                                                   []
row_num                                                       1291
Name: 1291, dtype: object
------
Unnamed: 0                                                    8553
dt                                       2019-09-06 10:31:19 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Orlando
country                                                         us
full_text        _JOB SUMMARY   _ The Data Scientist is part of...
list_elements                                                   []
row_num                                                       1292
Name: 1292, dtype: object
------
Unnamed: 0                                                    8554
dt                                       2019-09-06 10:29:17 +0000
url              https://job-openings.monster.com/data-scientis...
title                                      Data Scientist, Sr Prin
location                                                    Mclean
country                                                         us
full_text        Responsibilities: \nInvolved in the analysis o...
list_elements                                                   []
row_num                                                       1293
Name: 1293, dtype: object
------
Unnamed: 0                                                    8555
dt                                       2019-09-06 10:31:14 +0000
url              https://job-openings.monster.com/data-scientis...
title                         Data Scientist- Product Intelligence
location                                                    Boston
country                                                         us
full_text        Wordstream is looking for a data scientist tha...
list_elements                                                   []
row_num                                                       1294
Name: 1294, dtype: object
------
Unnamed: 0                                                    8556
dt                                       2019-09-06 10:29:11 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Houston
country                                                         us
full_text        Position Information  Position Summary \nThe D...
list_elements                                                   []
row_num                                                       1295
Name: 1295, dtype: object
------
Unnamed: 0                                                    8557
dt                                       2019-09-06 10:31:42 +0000
url              https://job-openings.monster.com/principal-dat...
title                   Principal Data Scientist - Marketing Cloud
location                                              Jacksonville
country                                                         us
full_text        Designs, develops and programs methods, proces...
list_elements                                                   []
row_num                                                       1296
Name: 1296, dtype: object
------
Unnamed: 0                                                    8558
dt                                       2019-09-06 10:29:03 +0000
url              https://job-openings.monster.com/data-scientis...
title                                       Data Scientist, Online
location                                                   Atlanta
country                                                         us
full_text        Position Purpose: \nAt HomeDepot.com, our awar...
list_elements                                                   []
row_num                                                       1297
Name: 1297, dtype: object
------
Unnamed: 0                                                    8559
dt                                       2019-09-06 10:32:05 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Tableau, SaaS, Project Manage...
location                                             Santa barbara
country                                                         us
full_text        Data Scientist - Tableau, SaaS, Project Manage...
list_elements                                                   []
row_num                                                       1298
Name: 1298, dtype: object
------
Unnamed: 0                                                    8560
dt                                       2019-09-06 10:28:56 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Mathematics/Computational mod...
location                                                  Torrance
country                                                         us
full_text        If you are a Data Scientist with experience, p...
list_elements                                                   []
row_num                                                       1299
Name: 1299, dtype: object
------
Unnamed: 0                                                    8561
dt                                       2019-09-06 10:29:15 +0000
url              https://job-openings.monster.com/principal-dat...
title                   Principal Data Scientist - Marketing Cloud
location                                              Chesterfield
country                                                         us
full_text        Designs, develops and programs methods, proces...
list_elements                                                   []
row_num                                                       1300
Name: 1300, dtype: object
------
Unnamed: 0                                                    8562
dt                                       2019-09-06 10:33:14 +0000
url              https://job-openings.monster.com/fellow-data-s...
title                   Fellow, Data Scientist - Rhythm Management
location                                                     Hills
country                                                         us
full_text        Additional Locations:  (n/a) \nPurpose and Pas...
list_elements                                                   []
row_num                                                       1301
Name: 1301, dtype: object
------
Unnamed: 0                                                    8563
dt                                       2019-09-06 10:29:26 +0000
url              https://job-openings.monster.com/principal-dat...

------
Unnamed: 0                                                    8599
dt                                       2019-09-06 10:30:54 +0000
url              https://job-openings.monster.com/senior-data-s...
title                     Senior Data Scientist, Product Analytics
location                                             San francisco
country                                                         us
full_text        Do you believe that creators should have the a...
list_elements                                                   []
row_num                                                       1338
Name: 1338, dtype: object
------
Unnamed: 0                                                    8600
dt                                       2019-09-06 10:32:14 +0000
url              https://job-openings.monster.com/data-scientis...
title                                     Data Scientist Principal
location                                                    Arnold
country                                                         us
full_text        Description  \nSAIC is seeking aData Scientist...
list_elements                                                   []
row_num                                                       1339
Name: 1339, dtype: object
------
Unnamed: 0                                                    8601
dt                                       2019-09-06 10:30:19 +0000
url              https://job-openings.monster.com/principal-dat...
title                   Principal Data Scientist - Marketing Cloud
location                                                    Albany
country                                                         us
full_text        Designs, develops and programs methods, proces...
list_elements                                                   []
row_num                                                       1340
Name: 1340, dtype: object
------
Unnamed: 0                                                    8602
dt                                       2019-09-06 10:31:44 +0000
url              https://job-openings.monster.com/senior-data-s...
title                             Senior Data Scientist - Richmond
location                                                  Richmond
country                                                         us
full_text        The Opportunity \nIn an effort to better serve...
list_elements                                                   []
row_num                                                       1341
Name: 1341, dtype: object
------
Unnamed: 0                                                    8603
dt                                       2019-09-06 10:29:16 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist - WAH in US
location                                               Tallahassee
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1342
Name: 1342, dtype: object
------
Unnamed: 0                                                    8604
dt                                       2019-09-06 10:30:30 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                                    Irvine
country                                                         us
full_text        Worker Sub-Type:  Regular \n  * Job Descriptio...
list_elements                                                   []
row_num                                                       1343
Name: 1343, dtype: object
------
Unnamed: 0                                                    8605
dt                                       2019-09-06 10:31:49 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             Mountain view
country                                                         us
full_text        Data Scientist \nLocation: Mountain View, CA\n...
list_elements                                                   []
row_num                                                       1344
Name: 1344, dtype: object
------
Unnamed: 0                                                    8606
dt                                       2019-09-06 10:32:05 +0000
url              https://job-openings.monster.com/data-scientis...
title                          Data Scientist & Python Development
location                                                   Madison
country                                                         us
full_text        Net2Source is a Global Workforce Solutions Com...
list_elements                                                   []
row_num                                                       1345
Name: 1345, dtype: object
------
Unnamed: 0                                                    8607
dt                                       2019-09-06 10:30:26 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                    Denver
country                                                         us
full_text        Description \n                The Senior Data ...
list_elements                                                   []
row_num                                                       1346
Name: 1346, dtype: object
------
Unnamed: 0                                                    8608
dt                                       2019-09-06 10:31:53 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist, Deep Learning (Relo to Bo...
location                                                    Boston
country                                                         us
full_text        If you are a Lead Data Scientist with experien...
list_elements                                                   []
row_num                                                       1347
Name: 1347, dtype: object
------
Unnamed: 0                                                    8609
dt                                       2019-09-06 10:32:09 +0000
url              https://job-openings.monster.com/content-data-...
title            Content Data Scientist, Apple Media Products D...
location                                               Culver city
country                                                         us
full_text        Content Data Scientist, Apple Media Products D...
list_elements                                                   []
row_num                                                       1348
Name: 1348, dtype: object
------
Unnamed: 0                                                    8610
dt                                       2019-09-06 10:33:52 +0000
url              https://job-openings.monster.com/data-scientis...
title                          Data Scientist (Telework Available)
location                                                    Reston
country                                                         us
full_text        Responsibilities  \nThe Federal Civilian Solut...
list_elements                                                   []
row_num                                                       1349
Name: 1349, dtype: object
------
Unnamed: 0                                                    8611
dt                                       2019-09-06 10:29:09 +0000
url              https://job-openings.monster.com/senior-data-s...
title                           Senior Data Scientist - BlackLocus
location                                                    Austin
country                                                         us
full_text        POSITION PURPOSE \nThe Sr. Data Scientist will...
list_elements                                                   []
row_num                                                       1350
Name: 1350, dtype: object
------
Unnamed: 0                                                    8612
dt                                       2019-09-06 10:32:17 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Chicago
country                                                         us
full_text        Gallagher is a global leader in insurance, ris...
list_elements                                                   []
row_num                                                       1351
Name: 1351, dtype: object
------
Unnamed: 0                                                    8613
dt                                       2019-09-06 10:29:03 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist - WAH in US
location                                                Lost river
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1352
Name: 1352, dtype: object
------
Unnamed: 0                                                    8614
dt                                       2019-09-06 10:28:59 +0000
url              https://job-openings.monster.com/sr-data-scien...
title            Sr Data Scientist - Artificial Intelligence Ar...
location                                                   Raleigh
country                                                         us
full_text        Introduction  \nAs a Data Scientist at IBM, yo...
list_elements                                                   []
row_num                                                       1353
Name: 1353, dtype: object
------
Unnamed: 0                                                    8615
dt                                       2019-09-06 10:33:42 +0000
url              https://job-openings.monster.com/data-scientis...
title                                             Data Scientist I
location                                                   Lincoln
country                                                         us
full_text        Overview  \nNelnet is looking for a talented D...
list_elements                                                   []
row_num                                                       1354
Name: 1354, dtype: object
------
Unnamed: 0                                                    8616
dt                                       2019-09-06 10:33:24 +0000
url              https://job-openings.monster.com/principal-dat...
title                   Principal Data Scientist - Marketing Cloud
location                                                Menlo park
country                                                         us
full_text        Designs, develops and programs methods, proces...
list_elements                                                   []
row_num                                                       1355
Name: 1355, dtype: object
------
Unnamed: 0                                                    8617
dt                                       2019-09-06 10:31:13 +0000
url              https://job-openings.monster.com/data-scientis...
title                            Data Scientist, Product Analytics
location                                             San francisco
country                                                         us
full_text        Gusto is looking for an experienced and ambiti...
list_elements                                                   []
row_num                                                       1356
Name: 1356, dtype: object
------
Unnamed: 0                                                    8618
dt                                       2019-09-06 10:30:34 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Brunswick
country                                                         us
full_text        Kforce has a client that is seeking a Data Sci...
list_elements                                                   []
row_num                                                       1357
Name: 1357, dtype: object
------
Unnamed: 0                                                    8619
dt                                       2019-09-06 10:33:55 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                               Bentonville
country                                                         us
full_text        Design, develop, troubleshoot and debug softwa...
list_elements                                                   []
row_num                                                       1358
Name: 1358, dtype: object
------
Unnamed: 0                                                    8620
dt                                       2019-09-06 10:28:59 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Charlotte
country                                                         us
full_text        Introduction  \nIBM's Data Science and AI Tech...
list_elements                                                   []
row_num                                                       1359
Name: 1359, dtype: object
------
Unnamed: 0                                                    8621
dt                                       2019-09-06 10:32:46 +0000
url              https://job-openings.monster.com/vp-data-scien...
title                                           VP, Data Scientist
location                                                Wilmington
country                                                         us
full_text        CCB FAST Data Science, Analytics & Insights  \...
list_elements                                                   []
row_num                                                       1360
Name: 1360, dtype: object
------
Unnamed: 0                                                    8622
dt                                       2019-09-06 10:31:54 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist - WAH in US
location                                                       NaN
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1361
Name: 1361, dtype: object
------
Unnamed: 0                                                    8623
dt                                       2019-09-06 10:29:11 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Arlington
country                                                         us
full_text        Working at ICF  \nWorking at ICF means applyin...
list_elements                                                   []
row_num                                                       1362
Name: 1362, dtype: object
------
Unnamed: 0                                                    8624
dt                                       2019-09-06 10:31:31 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                                   Atlanta
country                                                         us
full_text        Overview: \n SUMMARY OF RESPONSIBILITIES  \nTh...
list_elements                                                   []
row_num                                                       1363
Name: 1363, dtype: object
------
Unnamed: 0                                                    8625
dt                                       2019-09-06 10:31:54 +0000
url              https://job-openings.monster.com/senior-data-s...
title                            Senior Data Scientist, Lifestream
location                                           Fort lauderdale
country                                                         us
full_text        Job Description:  \nAs a Senior Data Scientist...
list_elements                                                   []
row_num                                                       1364
Name: 1364, dtype: object
------
Unnamed: 0                                                    8626
dt                                       2019-09-06 10:31:51 +0000
url              https://job-openings.monster.com/risk-adjustme...
title                               Risk Adjustment Data Scientist
location                                                Long beach
country                                                         us
full_text        Company or Affiliated Company:  AHI agilon hea...
list_elements                                                   []
row_num                                                       1365
Name: 1365, dtype: object
------
Unnamed: 0                                                    8627
dt                                       2019-09-06 10:34:12 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Richmond
country                                                         us
full_text        Req Ref No: SRVAVD-23Location: Richmond, VADur...
list_elements                                                   []
row_num                                                       1366
Name: 1366, dtype: object
------
Unnamed: 0                                                    8628
dt                                       2019-09-06 10:30:10 +0000
url              https://job-openings.monster.com/data-scientis...
title                                 Data Scientist - Hopkins, MN
location                                                   Hopkins
country                                                         us
full_text        U.S. Bank is currently seeking an experienced ...
list_elements                                                   []
row_num                                                       1367
Name: 1367, dtype: object
------
Unnamed: 0                                                    8629
dt                                       2019-09-06 10:29:34 +0000
url              https://job-openings.monster.com/data-scientis...
title                                   Data Scientist - WAH in US
location                                                 Charlotte
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1368
Name: 1368, dtype: object
------
Unnamed: 0                                                    8630
dt                                       2019-09-06 10:32:22 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist

------
Unnamed: 0                                                    8665
dt                                       2019-09-06 12:13:11 +0000
url              https://job-openings.monster.com/senior-data-s...
title                        Senior Data Scientist - Corn Modeling
location                                                   Chicago
country                                                         us
full_text        Description \nOur mission at Climate is to hel...
list_elements                                                   []
row_num                                                       1404
Name: 1404, dtype: object
------
Unnamed: 0                                                    8666
dt                                       2019-09-06 12:43:07 +0000
url              https://job-openings.monster.com/entry-level-a...
title                       Entry Level - Associate Data Scientist
location                                              Philadelphia
country                                                         us
full_text        Introduction  \nAs a Data Scientist at IBM, yo...
list_elements                                                   []
row_num                                                       1405
Name: 1405, dtype: object
------
Unnamed: 0                                                    8667
dt                                       2019-09-06 12:48:45 +0000
url              https://job-openings.monster.com/entry-level-a...
title                       Entry Level - Associate Data Scientist
location                                               Minneapolis
country                                                         us
full_text        Introduction  \nAs a Data Scientist at IBM, yo...
list_elements                                                   []
row_num                                                       1406
Name: 1406, dtype: object
------
Unnamed: 0                                                    8668
dt                                       2019-09-06 12:46:46 +0000
url              https://job-openings.monster.com/entry-level-a...
title                       Entry Level - Associate Data Scientist
location                                                   Chicago
country                                                         us
full_text        Introduction  \nAs a Data Scientist at IBM, yo...
list_elements                                                   []
row_num                                                       1407
Name: 1407, dtype: object
------
Unnamed: 0                                                    8669
dt                                       2019-09-06 12:49:03 +0000
url              https://job-openings.monster.com/entry-level-d...
title                                   Entry Level Data Scientist
location                                                    Boston
country                                                         us
full_text        Introduction  \nAt IBM we have an amazing oppo...
list_elements                                                   []
row_num                                                       1408
Name: 1408, dtype: object
------
Unnamed: 0                                                    8670
dt                                       2019-09-06 13:35:50 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Austin
country                                                         us
full_text        Recently named Best Place to Work by MM&M, The...
list_elements                                                   []
row_num                                                       1409
Name: 1409, dtype: object
------
Unnamed: 0                                                    8671
dt                                       2019-09-06 13:34:36 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Chicago
country                                                         us
full_text        Job Description \nThis position will grow Stry...
list_elements                                                   []
row_num                                                       1410
Name: 1410, dtype: object
------
Unnamed: 0                                                    8672
dt                                       2019-09-06 13:35:12 +0000
url              https://job-openings.monster.com/open-source-d...
title                              Open Source Data Scientist, Mid
location                                                    Dayton
country                                                         us
full_text        Open Source Data Scientist, Mid\nKey Role:\nSu...
list_elements                                                   []
row_num                                                       1411
Name: 1411, dtype: object
------
Unnamed: 0                                                    8673
dt                                       2019-09-06 13:36:11 +0000
url              https://job-openings.monster.com/natural-langu...
title            Natural Language Processing Data Scientist- Audit
location                                                    Mclean
country                                                         us
full_text        McLean 2 (19052), United States of America, Mc...
list_elements                                                   []
row_num                                                       1412
Name: 1412, dtype: object
------
Unnamed: 0                                                    8674
dt                                       2019-09-06 13:47:58 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                           Charlottesville
country                                                         us
full_text        Do you like to look at data sets to find trend...
list_elements                                                   []
row_num                                                       1413
Name: 1413, dtype: object
------
Unnamed: 0                                                    8675
dt                                       2019-09-06 18:31:13 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Cross Asset Desk Strategist T...
location                                                  New york
country                                                         us
full_text        DESCRIPTION Morgan Stanley's business around t...
list_elements                                                   []
row_num                                                       1414
Name: 1414, dtype: object
------
Unnamed: 0                                                    8676
dt                                       2019-09-07 02:51:00 +0000
url              https://www.careerbuilder.com/job/J3V6TZ6BXR6L...
title                                           Sr. Data Scientist
location                                                   Chicago
country                                                         us
full_text        Job #: 996610 SR. DATA SCIENTIST Summary The S...
list_elements                                                   []
row_num                                                       1415
Name: 1415, dtype: object
------
Unnamed: 0                                                    8677
dt                                       2019-09-07 02:40:26 +0000
url              https://www.careerbuilder.com/job/J3T4D96HNN3C...
title                                  Data Scientist/AI Developer
location                                                    Austin
country                                                         us
full_text        If you are interested, please send updated res...
list_elements                                                   []
row_num                                                       1416
Name: 1416, dtype: object
------
Unnamed: 0                                                    8678
dt                                       2019-09-07 02:43:08 +0000
url              https://www.careerbuilder.com/job/J3T8295YFDR4...
title                                  Data Analyst/Data Scientist
location                                                Menlo park
country                                                         us
full_text        Job #: 1006108 Job Title: Data Analyst/Data Sc...
list_elements                                                   []
row_num                                                       1417
Name: 1417, dtype: object
------
Unnamed: 0                                                    8679
dt                                       2019-09-07 03:03:13 +0000
url              https://www.careerbuilder.com/job/J3V752676BTH...
title                                               Data Scientist
location                                              Indianapolis
country                                                         us
full_text        Description of Role/Responsibilities:We are se...
list_elements                                                   []
row_num                                                       1418
Name: 1418, dtype: object
------
Unnamed: 0                                                    8680
dt                                       2019-09-07 03:03:40 +0000
url              https://www.careerbuilder.com/job/J3S72369V6W3...
title                                Global Digital Data Scientist
location                                                   Chicago
country                                                         us
full_text        In today’s rapidly changing business environme...
list_elements                                                   []
row_num                                                       1419
Name: 1419, dtype: object
------
Unnamed: 0                                                    8681
dt                                       2019-09-07 03:07:36 +0000
url              https://www.careerbuilder.com/job/J3M8FY72WB3W...
title                     Data Scientist (Big Data) II (3-5 years)
location                                              Philadelphia
country                                                         us
full_text        Immediate need for a talented Data Analysts. T...
list_elements                                                   []
row_num                                                       1420
Name: 1420, dtype: object
------
Unnamed: 0                                                    8682
dt                                       2019-09-07 05:09:51 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Phoenix
country                                                         us
full_text        Data Scientist \n\nOne of our clients, a globa...
list_elements                                                   []
row_num                                                       1421
Name: 1421, dtype: object
------
Unnamed: 0                                                    8683
dt                                       2019-09-07 05:07:28 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Sunnyvale
country                                                         us
full_text        DATA SCIENTIST   \nMaster&rsquo;s in data scie...
list_elements                                                   []
row_num                                                       1422
Name: 1422, dtype: object
------
Unnamed: 0                                                    8684
dt                                       2019-09-07 05:07:31 +0000
url              https://job-openings.monster.com/principal-dat...
title                    Principal Data Scientist (Relo to Boston)
location                                                    Boston
country                                                         us
full_text        If you are a Principal Data Scientist (Relo to...
list_elements                                                   []
row_num                                                       1423
Name: 1423, dtype: object
------
Unnamed: 0                                                    8685
dt                                       2019-09-07 05:10:16 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Detroit
country                                                         us
full_text        Who We Are  \n\n\nWe’re America’s largest mort...
list_elements                                                   []
row_num                                                       1424
Name: 1424, dtype: object
------
Unnamed: 0                                                    8686
dt                                       2019-09-07 05:07:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Irving
country                                                         us
full_text        Irving, Texas\n\nSkills :  Data Analysis,Engin...
list_elements                                                   []
row_num                                                       1425
Name: 1425, dtype: object
------
Unnamed: 0                                                    8687
dt                                       2019-09-07 05:08:14 +0000
url              https://job-openings.monster.com/entry-data-sc...
title                  Entry Data Scientist - Machine Learning, AI
location                                                    Irvine
country                                                         us
full_text        ENTRY DATA SCIENTIST - MACHINE LEARNING, AI  \...
list_elements                                                   []
row_num                                                       1426
Name: 1426, dtype: object
------
Unnamed: 0                                                    8688
dt                                       2019-09-07 05:09:32 +0000
url              https://job-openings.monster.com/grad-intern-d...
title                     Grad Intern Data Scientist (Summer 2020)
location                                                   Hershey
country                                                         us
full_text        Location: Hershey, PA   \n\n Duration: Summer ...
list_elements                                                   []
row_num                                                       1427
Name: 1427, dtype: object
------
Unnamed: 0                                                    8689
dt                                       2019-09-07 05:02:41 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                              Florham park
country                                                         us
full_text        Our Direct Client looking for Senior Data Scie...
list_elements                                                   []
row_num                                                       1428
Name: 1428, dtype: object
------
Unnamed: 0                                                    8690
dt                                       2019-09-07 05:10:40 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Supply Chain, Logistics, Serv...
location                                                  Dearborn
country                                                         us
full_text        We are looking for highly-motivated and highly...
list_elements                                                   []
row_num                                                       1429
Name: 1429, dtype: object
------
Unnamed: 0                                                    8691
dt                                       2019-09-07 05:14:24 +0000
url              https://job-openings.monster.com/data-scientis...
title                                            Data Scientist IV
location                                             Scotts valley
country                                                         us
full_text        Our client is currently seeking a Data Scienti...
list_elements                                                   []
row_num                                                       1430
Name: 1430, dtype: object
------
Unnamed: 0                                                    8692
dt                                       2019-09-07 05:10:30 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Detroit
country                                                         us
full_text        Our client is currently seeking a Mid-Level/Se...
list_elements                                                   []
row_num                                                       1431
Name: 1431, dtype: object
------
Unnamed: 0                                                    8693
dt                                       2019-09-07 05:11:58 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Morristown
country                                                         us
full_text        Our direct client is searching for an experien...
list_elements                                                   []
row_num                                                       1432
Name: 1432, dtype: object
------
Unnamed: 0                                                    8694
dt                                       2019-09-07 05:08:45 +0000
url              https://job-openings.monster.com/precision-med...
title                            Precision Medicine Data Scientist
location                                                    Dallas
country                                                         us
full_text        Position Summary       Texas Oncology is searc...
list_elements                                                   []
row_num                                                       1433
Name: 1433, dtype: object
------
Unnamed: 0                                                    8695
dt                                       2019-09-07 05:07:45 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Bellevue
country                                                         us
full_text        Location: Bellevue, WA \nDuration: Fulltime \n...
list_elements                                                   []
row_num                                                       1434
Name: 1434, dtype: object
------
Unnamed: 0                                                    8696
dt                                       2019-09-07 05:14:33 +0000
url              https://job-openings.monster.com/data-scientis...
title                                            Data Scientist(s)

------
Unnamed: 0                                                    8734
dt                                       2019-09-08 02:31:31 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                                   Chicago
country                                                         us
full_text        Job Description: \n\nMastech Digital  provides...
list_elements                                                   []
row_num                                                       1472
Name: 1472, dtype: object
------
Unnamed: 0                                                    8735
dt                                       2019-09-08 01:39:28 +0000
url              https://www.careerbuilder.com/job/J3P54N655QVD...
title                         INDUSTRIAL ENGINEER - DATA SCIENTIST
location                                                     Tempe
country                                                         us
full_text        The Industrial Engineer (IE) - Data Scientist ...
list_elements                                                   []
row_num                                                       1473
Name: 1473, dtype: object
------
Unnamed: 0                                                    8736
dt                                       2019-09-08 02:03:15 +0000
url              https://www.careerbuilder.com/job/J3W3FS6QWCRV...
title               SR. NLP DATA SCIENTIST / ANALYTIC CONSULTANT 5
location                                                    Irving
country                                                         us
full_text        At Wells Fargo, we have one goal: to satisfy o...
list_elements                                                   []
row_num                                                       1474
Name: 1474, dtype: object
------
Unnamed: 0                                                    8737
dt                                       2019-09-08 01:52:34 +0000
url              https://www.careerbuilder.com/job/J3N22R6K95HH...
title               SR. NLP DATA SCIENTIST / ANALYTIC CONSULTANT 5
location                                                 Charlotte
country                                                         us
full_text        At Wells Fargo, we have one goal: to satisfy o...
list_elements                                                   []
row_num                                                       1475
Name: 1475, dtype: object
------
Unnamed: 0                                                    8738
dt                                       2019-09-08 02:44:36 +0000
url              https://job-openings.monster.com/senior-lead-m...
title            Senior Lead Machine Learning Engineer/Data Sci...
location                                                  New york
country                                                         us
full_text        (We are not sponsoring for this role or in the...
list_elements                                                   []
row_num                                                       1476
Name: 1476, dtype: object
------
Unnamed: 0                                                    8739
dt                                       2019-09-08 02:33:11 +0000
url              https://job-openings.monster.com/senior-data-s...
title                           Senior Data Scientist-Data Privacy
location                                                    Boston
country                                                         us
full_text        Description    \n\nResponsibilities   \nThe Da...
list_elements                                                   []
row_num                                                       1477
Name: 1477, dtype: object
------
Unnamed: 0                                                    8740
dt                                       2019-09-08 02:45:25 +0000
url              https://job-openings.monster.com/machine-learn...
title            Machine Learning/ Deep Learning/ Data Scientis...
location                                             San francisco
country                                                         us
full_text        Job CategoryProducts and Technology \nJob Deta...
list_elements                                                   []
row_num                                                       1478
Name: 1478, dtype: object
------
Unnamed: 0                                                    8741
dt                                       2019-09-08 03:57:56 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                  New york
country                                                         us
full_text        Responsibilities  \nReporting to the Data Anal...
list_elements                                                   []
row_num                                                       1479
Name: 1479, dtype: object
------
Unnamed: 0                                                    8751
dt                                       2019-09-08 09:33:11 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  San jose
country                                                         us
full_text        San Jose, California\n\nSkills :  Python, Data...
list_elements                                                   []
row_num                                                       1489
Name: 1489, dtype: object
------
Unnamed: 0                                                    8752
dt                                       2019-09-08 09:35:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                           Data Scientist Software Specialist
location                                                   Houston
country                                                         us
full_text        Bluware, Inc. in Houston, TX seeks Data Scient...
list_elements                                                   []
row_num                                                       1490
Name: 1490, dtype: object
------
Unnamed: 0                                                    8753
dt                                       2019-09-08 12:47:51 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Palo alto
country                                                         us
full_text        The Regulation, Evaluation, and Governance Lab...
list_elements                                                   []
row_num                                                       1491
Name: 1491, dtype: object
------
Unnamed: 0                                                    8754
dt                                       2019-09-08 16:25:14 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Advanced Marketing Anal...
location                                                  New york
country                                                         us
full_text        Spotify is seeking a Senior Data Scientist to ...
list_elements                                                   []
row_num                                                       1492
Name: 1492, dtype: object
------
Unnamed: 0                                                    8755
dt                                       2019-09-08 22:53:49 +0000
url              https://www.theladders.com/job/tv-data-scienti...
title                          TV Data Scientist in Burlington, MA
location                                                Burlington
country                                                         us
full_text        Our services power people-based customer exper...
list_elements                                                   []
row_num                                                       1493
Name: 1493, dtype: object
------
Unnamed: 0                                                    8756
dt                                       2019-09-08 23:20:21 +0000
url              https://www.theladders.com/job/tv-data-scienti...
title                          TV Data Scientist in Burlington, MA
location                                                Burlington
country                                                         us
full_text        ABOUT THIS JOB TV is one of the key growth are...
list_elements                                                   []
row_num                                                       1494
Name: 1494, dtype: object
------
Unnamed: 0                                                    8757
dt                                       2019-09-09 02:38:03 +0000
url              https://job-openings.monster.com/data-scientis...
title                                       Data Scientist (CDS19)
location                                                     Plano
country                                                         us
full_text        Colaberry, Inc.   seeks Master’s +2 yrs exp. o...
list_elements                                                   []
row_num                                                       1495
Name: 1495, dtype: object
------
Unnamed: 0                                                    8758
dt                                       2019-09-09 02:45:06 +0000
url              https://job-openings.monster.com/3-senior-data...
title            (3) Senior Data Scientist - (Machine Learning,...
location                                               Kansas city
country                                                         us
full_text        Req ID: 62398BR \nJob Description \nAetna's Me...
list_elements                                                   []
row_num                                                       1496
Name: 1496, dtype: object
------
Unnamed: 0                                                    8759
dt                                       2019-09-09 08:09:43 +0000
url              https://www.theladders.com/job/principal-progr...
title            Principal Program Manager - Data Scientist in ...
location                                               Lake forest
country                                                         us
full_text        Abbott is a global healthcare leader that help...
list_elements                                                   []
row_num                                                       1497
Name: 1497, dtype: object
------
Unnamed: 0                                                    8760
dt                                       2019-09-09 07:36:08 +0000
url              https://www.theladders.com/job/vice-president-...
title            Vice President - AML Business Analyst - Data S...
location                                               Jersey city
country                                                         us
full_text        Business Overview: The U.S. Financial Security...
list_elements                                                   []
row_num                                                       1498
Name: 1498, dtype: object
------
Unnamed: 0                                                    8761
dt                                       2019-09-09 10:02:06 +0000
url              https://www.theladders.com/job/senior-computat...
title            Senior Computational Biologist ( Senior Genomi...
location                                             San francisco
country                                                         us
full_text        The Opportunity AncestryDNA is seeking a Compu...
list_elements                                                   []
row_num                                                       1499
Name: 1499, dtype: object
------
Unnamed: 0                                                    8762
dt                                       2019-09-09 10:02:55 +0000
url              https://www.theladders.com/job/senior-computat...
title            Senior Computational Biologist ( Senior Genomi...
location                                                      Lehi
country                                                         us
full_text        When About Ancestry: When you join Ancestry, y...
list_elements                                                   []
row_num                                                       1500
Name: 1500, dtype: object
------
Unnamed: 0                                                    8763
dt                                       2019-09-09 10:02:41 +0000
url              https://www.theladders.com/job/healthcare-data...
title                   Healthcare Data Scientist in Cambridge, MA
location                                                 Cambridge
country                                                         us
full_text        A team of informatics scientists within the Cl...
list_elements                                                   []
row_num                                                       1501
Name: 1501, dtype: object
------
Unnamed: 0                                                    8764
dt                                       2019-09-09 10:05:12 +0000
url              https://www.theladders.com/job/principal-real-...
title            Principal Real World Data Scientist, PHC in Sa...
location                                             San francisco
country                                                         us
full_text        As a Real World Data Senior Data Scientist wit...
list_elements                                                   []
row_num                                                       1502
Name: 1502, dtype: object
------
Unnamed: 0                                                    8765
dt                                       2019-09-09 10:49:03 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Sales Modeling in Parsippany, NJ
location                                                Parsippany
country                                                         us
full_text        POSITION SUMMARY This role has been created to...
list_elements                                                   []
row_num                                                       1503
Name: 1503, dtype: object
------
Unnamed: 0                                                    8766
dt                                       2019-09-09 10:53:40 +0000
url              https://www.theladders.com/job/data-scientist-...
title                           Data Scientist II in Charlotte, NC
location                                                 Charlotte
country                                                         us
full_text        Job Description: The Data Scientist is respons...
list_elements                                                   []
row_num                                                       1504
Name: 1504, dtype: object
------
Unnamed: 0                                                    8767
dt                                       2019-09-09 10:47:20 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                            Sr. Data Scientist in Herndon, VA
location                                                   Herndon
country                                                         us
full_text        As a Sr. Data Scientist you will play a pivota...
list_elements                                                   []
row_num                                                       1505
Name: 1505, dtype: object
------
Unnamed: 0                                                    8768
dt                                       2019-09-09 10:54:52 +0000
url              https://www.theladders.com/job/applied-data-sc...
title                Applied Data Scientist II in Philadelphia, PA
location                                              Philadelphia
country                                                         us
full_text        Job Summary The Children's Hospital of Philade...
list_elements                                                   []
row_num                                                       1506
Name: 1506, dtype: object
------
Unnamed: 0                                                    8769
dt                                       2019-09-09 10:45:55 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title            Sr. Data Scientist, Computational Biology in L...
location                                                      Lehi
country                                                         us
full_text        When you join Ancestry, you join our family tr...
list_elements                                                   []
row_num                                                       1507
Name: 1507, dtype: object
------
Unnamed: 0                                                    8770
dt                                       2019-09-09 10:46:45 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist IV, Central Analytics in Austin...
location                                                    Austin
country                                                         us
full_text        As a data scientist you will be working closel...
list_elements                                                   []
row_num                                                       1508
Name: 1508, dtype: object
------
Unnamed: 0                                                    8771
dt                                       2019-09-09 10:47:46 +0000
url              https://www.dice.com/jobs/detail/Data-Scientis...
title                                               Data Scientist
location                                                Portsmouth
country                                                         us
full_text        Job Description Job Title: Data Scientist Loca...
list_elements                                                   []
row_num                                                       1509
Name: 1509, dtype: object
------
Unnamed: 0                                                    8772
dt                                       2019-09-09 10:53:50 +0000
url              https://www.theladders.com/job/digital-data-sc...
title                     Digital Data Scientist in Cincinnati, OH
location                                                Cincinnati
country                                                         us
full_text        Position Summary: Lead the design, development...
list_elements                                                   []
row_num                                                       1510
Name: 1510, dtype: object
------
Unnamed: 0                                                    8773
dt                                       2019-09-09 10:47:01 +0000
url              https://www.theladders.com/job/distinguished-d...
title                   DISTINGUISHED DATA SCIENTIST in Irving, TX
location                                                    Irving
country                                                         us
full_text        Location: Alpharetta, Georgia, Piscataway, NJ,...
list_elements                                                   []
row_num                                                       1511
Name: 1511, dtype: object
------
Unnamed: 0                                                    8774
dt                                       2019-09-09 10:15:45 +0000
url              https://www.theladders.com/job/data-scientist-...
title                Data Scientist / Statistician in Bellevue, WA

Name: 1542, dtype: object
------
Unnamed: 0                                                    8805
dt                                       2019-09-09 11:23:39 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Saint Paul, MN
location                                                Saint paul
country                                                         us
full_text        Position Description 3M is seeking an experien...
list_elements                                                   []
row_num                                                       1543
Name: 1543, dtype: object
------
Unnamed: 0                                                    8806
dt                                       2019-09-09 11:30:53 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Job Description We are looking for a highly mo...
list_elements                                                   []
row_num                                                       1544
Name: 1544, dtype: object
------
Unnamed: 0                                                    8807
dt                                       2019-09-09 11:36:15 +0000
url              https://www.theladders.com/job/healthcare-data...
title             Healthcare Data Scientist I or II in Seattle, WA
location                                                   Seattle
country                                                         us
full_text        Overview Healthcare Data Scientist I & II Port...
list_elements                                                   []
row_num                                                       1545
Name: 1545, dtype: object
------
Unnamed: 0                                                    8808
dt                                       2019-09-09 11:21:50 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Washington, DC
location                                                Washington
country                                                         us
full_text        Celerity is expanding and on the hunt for the ...
list_elements                                                   []
row_num                                                       1546
Name: 1546, dtype: object
------
Unnamed: 0                                                    8809
dt                                       2019-09-09 11:08:56 +0000
url              https://www.theladders.com/job/principal-data-...
title                      Principal Data Scientist in Hershey, PA
location                                                   Hershey
country                                                         us
full_text        Summary: The Network Optimization and Operatio...
list_elements                                                   []
row_num                                                       1547
Name: 1547, dtype: object
------
Unnamed: 0                                                    8810
dt                                       2019-09-09 11:40:45 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                  Data Scientist in Plano, TX
location                                                     Plano
country                                                         us
full_text        At NTT DATA Services, we know that with the ri...
list_elements                                                   []
row_num                                                       1548
Name: 1548, dtype: object
------
Unnamed: 0                                                    8811
dt                                       2019-09-09 11:39:18 +0000
url              https://www.theladders.com/job/data-scientist-...
title                     Data Scientist, Lead in Falls Church, VA
location                                              Falls church
country                                                         us
full_text        Are you excited at the prospect of unlocking t...
list_elements                                                   []
row_num                                                       1549
Name: 1549, dtype: object
------
Unnamed: 0                                                    8812
dt                                       2019-09-09 11:27:20 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                         Senior Data Scientist in Chicago, IL
location                                                Cincinnati
country                                                         us
full_text        Information Technology The United IT team desi...
list_elements                                                   []
row_num                                                       1550
Name: 1550, dtype: object
------
Unnamed: 0                                                    8813
dt                                       2019-09-09 11:06:20 +0000
url              https://www.theladders.com/job/principal-data-...
title            Principal Data Scientist - Grid Intelligence (...
location                                                 Oak brook
country                                                         us
full_text        At Exelon, we've got a place for you! Join the...
list_elements                                                   []
row_num                                                       1551
Name: 1551, dtype: object
------
Unnamed: 0                                                    8814
dt                                       2019-09-09 11:08:58 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                         Senior Data Scientist in Chicago, IL
location                                                  New york
country                                                         us
full_text        The Senior Data Scientist will develop advance...
list_elements                                                   []
row_num                                                       1552
Name: 1552, dtype: object
------
Unnamed: 0                                                    8815
dt                                       2019-09-09 11:35:02 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Pittsburgh, PA
location                                                Pittsburgh
country                                                         us
full_text        SO, WHO ARE WE? ShowClix, a product of Patron ...
list_elements                                                   []
row_num                                                       1553
Name: 1553, dtype: object
------
Unnamed: 0                                                    8816
dt                                       2019-09-09 11:06:33 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist Sr in Pittsburgh, PA
location                                                Pittsburgh
country                                                         us
full_text        Position Overview At PNC, our people are our g...
list_elements                                                   []
row_num                                                       1554
Name: 1554, dtype: object
------
Unnamed: 0                                                    8817
dt                                       2019-09-09 11:04:34 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in San Jose, CA
location                                                  San jose
country                                                         us
full_text        Who you are Customer Experience "CX" Data Scie...
list_elements                                                   []
row_num                                                       1555
Name: 1555, dtype: object
------
Unnamed: 0                                                    8818
dt                                       2019-09-09 11:13:55 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist, Regulation, Evaluation, and Go...
location                                                  Stanford
country                                                         us
full_text        The Regulation, Evaluation, and Governance Lab...
list_elements                                                   []
row_num                                                       1556
Name: 1556, dtype: object
------
Unnamed: 0                                                    8819
dt                                       2019-09-09 11:05:59 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                   Data Scientist in Cary, NC
location                                                      Cary
country                                                         us
full_text        We are looking for a Data Scientist who is rea...
list_elements                                                   []
row_num                                                       1557
Name: 1557, dtype: object
------
Unnamed: 0                                                    8820
dt                                       2019-09-09 11:24:16 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Saint Paul, MN
location                                                Saint paul
country                                                         us
full_text        Position Description 3M is seeking an experien...
list_elements                                                   []
row_num                                                       1558
Name: 1558, dtype: object
------
Unnamed: 0                                                    8821
dt                                       2019-09-09 11:39:56 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Greeley, CO
location                                                   Greeley
country                                                         us
full_text        Pilgrim's is the second largest chicken produc...
list_elements                                                   []
row_num                                                       1559
Name: 1559, dtype: object
------
Unnamed: 0                                                    8822
dt                                       2019-09-09 11:18:46 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                            Sr. Data Scientist in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        The Big Data and Panel Integration team within...
list_elements                                                   []
row_num                                                       1560
Name: 1560, dtype: object
------
Unnamed: 0                                                    8823
dt                                       2019-09-09 11:44:14 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Alpharetta, GA
location                                                Alpharetta
country                                                         us
full_text        What we offer… At Ciox Health we offer all emp...
list_elements                                                   []
row_num                                                       1561
Name: 1561, dtype: object
------
Unnamed: 0                                                    8824
dt                                       2019-09-09 11:45:42 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        Job Description People are the biggest contrib...
list_elements                                                   []
row_num                                                       1562
Name: 1562, dtype: object
------
Unnamed: 0                                                    8825
dt                                       2019-09-09 11:37:22 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist / Data Scientist, Resear...
location                                                       NaN
country                                                         us
full_text        At Synthetic Genomics, Inc., we are dedicated ...
list_elements                                                   []
row_num                                                       1563
Name: 1563, dtype: object
------
Unnamed: 0                                                    8826
dt                                       2019-09-09 11:42:17 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        Our Data Science team are central to our globa...
list_elements                                                   []
row_num                                                       1564
Name: 1564, dtype: object
------
Unnamed: 0                                                    8827
dt                                       2019-09-09 11:38:53 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Senior Consultant in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        analytics, or Big Data? Interested in learning...
list_elements                                                   []
row_num                                                       1565
Name: 1565, dtype: object
------
Unnamed: 0                                                    8828
dt                                       2019-09-09 11:38:07 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                        Senior Data Scientist in Portland, OR
location                                                  Portland
country                                                         us
full_text        Overview Senior Data Scientist Seattle, WA or ...
list_elements                                                   []
row_num                                                       1566
Name: 1566, dtype: object
------
Unnamed: 0                                                    8829
dt                                       2019-09-09 11:47:51 +0000
url              https://www.theladders.com/job/principal-data-...
title                      Principal Data Scientist in Malvern, PA
location                                                   Malvern
country                                                         us
full_text        REQUIREMENTS In This Role You Will Leads the e...
list_elements                                                   []
row_num                                                       1567
Name: 1567, dtype: object
------
Unnamed: 0                                                    8830
dt                                       2019-09-09 11:36:47 +0000
url              https://www.theladders.com/job/principal-data-...
title            Principal Data Scientist - Direct Store Delive...
location                                                     Plano
country                                                         us
full_text        As a Principal Data Scientist on the Operation...
list_elements                                                   []
row_num                                                       1568
Name: 1568, dtype: object
------
Unnamed: 0                                                    8831
dt                                       2019-09-09 11:37:09 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        ADARA serves leading travel brands by deliveri...
list_elements                                                   []
row_num                                                       1569
Name: 1569, dtype: object
------
Unnamed: 0                                                    8832
dt                                       2019-09-09 11:34:33 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title            Sr. Data Scientist, Core Experience Advertisin...
location                                                   Needham
country                                                         us
full_text        CoreX is hiring a Data Scientist to developmen...
list_elements                                                   []
row_num                                                       1570
Name: 1570, dtype: object
------
Unnamed: 0                                                    8833
dt                                       2019-09-09 11:08:30 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist 6 in Portland, OR
location                                                  Portland
country                                                         us
full_text        Responsible for working on big data/analytics ...
list_elements                                                   []
row_num                                                       1571
Name: 1571, dtype: object
------
Unnamed: 0                                                    8834
dt                                       2019-09-09 11:36:58 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title            Sr. Data Scientist, Core Experiences Advertisi...
location                                                  New york
country                                                         us
full_text        CoreX is hiring a Data Scientist to developmen...
list_elements                                                   []
row_num                                                       1572
Name: 1572, dtype: object
------
Unnamed: 0                                                    8835
dt                                       2019-09-09 11:38:01 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                          Lead Data Scientist in Columbia, MD
location                                                  Columbia
country                                                         us
full_text        Job Responsibilities Delivers all analyses to ...
list_elements                                                   []
row_num                                                       1573
Name: 1573, dtype: object
------
Unnamed: 0                                                    8836
dt                                       2019-09-09 11:21:21 +0000
url              https://www.theladders.com/job/senior-data-sci...

Unnamed: 0                                                    8868
dt                                       2019-09-09 11:50:34 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        Artificial intelligence is revolutionizing the...
list_elements                                                   []
row_num                                                       1605
Name: 1605, dtype: object
------
Unnamed: 0                                                    8869
dt                                       2019-09-09 11:47:51 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        Coinbase has built the world's leading complia...
list_elements                                                   []
row_num                                                       1606
Name: 1606, dtype: object
------
Unnamed: 0                                                    8870
dt                                       2019-09-09 12:12:44 +0000
url              https://www.theladders.com/job/intel-business-...
title            Intel Business Management Group (BMG) Senior D...
location                                               Santa clara
country                                                         us
full_text        Job Description Intel's BMG (Business Manageme...
list_elements                                                   []
row_num                                                       1607
Name: 1607, dtype: object
------
Unnamed: 0                                                    8871
dt                                       2019-09-09 11:53:40 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist- Director/ Sr. Manager level in...
location                                               Carle place
country                                                         us
full_text        Description The Data Scientist (Senior Manager...
list_elements                                                   []
row_num                                                       1608
Name: 1608, dtype: object
------
Unnamed: 0                                                    8872
dt                                       2019-09-09 11:40:47 +0000
url              https://www.theladders.com/job/data-scientist-...
title              Data Scientist - Principal in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        Do YOU have a passion for working with Data? D...
list_elements                                                   []
row_num                                                       1609
Name: 1609, dtype: object
------
Unnamed: 0                                                    8873
dt                                       2019-09-09 11:51:54 +0000
url              https://www.theladders.com/job/staff-systems-e...
title            Staff Systems Engineer (Data Scientist NLP) in...
location                                                  San jose
country                                                         us
full_text        At Cadence, we hire and develop leaders and in...
list_elements                                                   []
row_num                                                       1610
Name: 1610, dtype: object
------
Unnamed: 0                                                    8874
dt                                       2019-09-09 11:53:51 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Data Products & Machine...
location                                             San francisco
country                                                         us
full_text        About thredUP thredUP is the largest online ma...
list_elements                                                   []
row_num                                                       1611
Name: 1611, dtype: object
------
Unnamed: 0                                                    8875
dt                                       2019-09-09 11:54:27 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - DSS Training Specialist in Ne...
location                                                  New york
country                                                         us
full_text        You will be leading classroom training and hel...
list_elements                                                   []
row_num                                                       1612
Name: 1612, dtype: object
------
Unnamed: 0                                                    8876
dt                                       2019-09-09 11:38:05 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Cambridge, MA
location                                                 Cambridge
country                                                         us
full_text        Overview: Foundation Medicine is dedicated to ...
list_elements                                                   []
row_num                                                       1613
Name: 1613, dtype: object
------
Unnamed: 0                                                    8877
dt                                       2019-09-09 11:48:57 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Spring, TX
location                                                    Spring
country                                                         us
full_text        Data science encompasses the computational and...
list_elements                                                   []
row_num                                                       1614
Name: 1614, dtype: object
------
Unnamed: 0                                                    8878
dt                                       2019-09-09 11:42:24 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Boston, MA
location                                                    Boston
country                                                         us
full_text        Come and join our incredibly talented, innovat...
list_elements                                                   []
row_num                                                       1615
Name: 1615, dtype: object
------
Unnamed: 0                                                    8879
dt                                       2019-09-09 12:12:44 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Durham, NC
location                                                    Durham
country                                                         us
full_text        You will extract, transform and combine all in...
list_elements                                                   []
row_num                                                       1616
Name: 1616, dtype: object
------
Unnamed: 0                                                    8880
dt                                       2019-09-09 11:55:44 +0000
url              https://www.theladders.com/job/data-scientist-...
title                Data Scientist - StoreConnect in Portland, OR
location                                                  Portland
country                                                         us
full_text        Interact and partner with business users and i...
list_elements                                                   []
row_num                                                       1617
Name: 1617, dtype: object
------
Unnamed: 0                                                    8881
dt                                       2019-09-09 11:49:07 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        Artificial intelligence is revolutionizing the...
list_elements                                                   []
row_num                                                       1618
Name: 1618, dtype: object
------
Unnamed: 0                                                    8882
dt                                       2019-09-09 11:52:48 +0000
url              https://www.theladders.com/job/principal-data-...
title                      Principal Data Scientist in Malvern, PA
location                                                   Malvern
country                                                         us
full_text        REQUIREMENTS In This Role You Will Leads the e...
list_elements                                                   []
row_num                                                       1619
Name: 1619, dtype: object
------
Unnamed: 0                                                    8883
dt                                       2019-09-09 11:52:21 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in San Diego, CA
location                                                 San diego
country                                                         us
full_text        What We Need A Senior Data Scientist with soli...
list_elements                                                   []
row_num                                                       1620
Name: 1620, dtype: object
------
Unnamed: 0                                                    8884
dt                                       2019-09-09 11:38:29 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Arlington, VA
location                                                 Arlington
country                                                         us
full_text        Overview The Data Scientist is responsible for...
list_elements                                                   []
row_num                                                       1621
Name: 1621, dtype: object
------
Unnamed: 0                                                    8885
dt                                       2019-09-09 11:53:46 +0000
url              https://www.theladders.com/job/-data-scientist...
title            Data Scientist/Statistician Level IV in Spring...
location                                               Springfield
country                                                         us
full_text        At OGSystems we don't just create the best sol...
list_elements                                                   []
row_num                                                       1622
Name: 1622, dtype: object
------
Unnamed: 0                                                    8886
dt                                       2019-09-10 01:33:21 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Morristown
country                                                         us
full_text        ASRC Federal Mission Solutions (AFMS), a subsi...
list_elements                                                   []
row_num                                                       1623
Name: 1623, dtype: object
------
Unnamed: 0                                                    8887
dt                                       2019-09-10 02:48:24 +0000
url              https://job-openings.monster.com/transformatio...
title                                Transformation Data Scientist
location                                                    Austin
country                                                         us
full_text        Infrastructure Managed Service Data Science  \...
list_elements                                                   []
row_num                                                       1624
Name: 1624, dtype: object
------
Unnamed: 0                                                    8888
dt                                       2019-09-10 02:48:43 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Baltimore
country                                                         us
full_text        Position Description:\n  \nCGI Federal is seek...
list_elements                                                   []
row_num                                                       1625
Name: 1625, dtype: object
------
Unnamed: 0                                                    8889
dt                                       2019-09-10 03:06:38 +0000
url              https://job-openings.monster.com/data-scientis...
title                        Data Scientist - Predictive Analytics
location                                                Pittsburgh
country                                                         us
full_text        Are you motivated by cracking tough challenges...
list_elements                                                   []
row_num                                                       1626
Name: 1626, dtype: object
------
Unnamed: 0                                                    8890
dt                                       2019-09-10 03:03:14 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Deep Learning (Relo to ...
location                                                    Boston
country                                                         us
full_text        If you are a Senior Data Scientist with experi...
list_elements                                                   []
row_num                                                       1627
Name: 1627, dtype: object
------
Unnamed: 0                                                    8891
dt                                       2019-09-10 02:53:53 +0000
url              https://job-openings.monster.com/junior-data-s...
title                                        Junior Data Scientist
location                                                 Arlington
country                                                         us
full_text        Position Description:\n  \nThis is an exciting...
list_elements                                                   []
row_num                                                       1628
Name: 1628, dtype: object
------
Unnamed: 0                                                    8892
dt                                       2019-09-10 03:03:10 +0000
url              https://job-openings.monster.com/data-scientis...
title                                      Data Scientist (627979)
location                                                   Yonkers
country                                                         us
full_text        Our client is currently seeking a\n  Data Scie...
list_elements                                                   []
row_num                                                       1629
Name: 1629, dtype: object
------
Unnamed: 0                                                    8893
dt                                       2019-09-10 03:00:26 +0000
url              https://job-openings.monster.com/senior-data-s...
title                 Senior Data Scientist - Predictive Analytics
location                                                Pittsburgh
country                                                         us
full_text        Are you motivated by cracking tough challenges...
list_elements                                                   []
row_num                                                       1630
Name: 1630, dtype: object
------
Unnamed: 0                                                    8894
dt                                       2019-09-10 02:58:29 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Seattle
country                                                         us
full_text        If you are a Data Scientist with experience, p...
list_elements                                                   []
row_num                                                       1631
Name: 1631, dtype: object
------
Unnamed: 0                                                    8895
dt                                       2019-09-10 03:09:21 +0000
url              https://job-openings.monster.com/data-scientis...
title                   Data Scientist / MS Azure Machine Learning
location                                                  Richmond
country                                                         us
full_text        Data Scientist / MS Azure Machine Learning  \n...
list_elements                                                   []
row_num                                                       1632
Name: 1632, dtype: object
------
Unnamed: 0                                                    8896
dt                                       2019-09-10 03:08:23 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Detroit
country                                                         us
full_text        Overview \n Who we are:  \nMeridian, a WellCar...
list_elements                                                   []
row_num                                                       1633
Name: 1633, dtype: object
------
Unnamed: 0                                                    8897
dt                                       2019-09-10 03:03:59 +0000
url              https://job-openings.monster.com/senior-data-s...
title                   Senior Data Scientist *Relocation Offered*
location                                               Santa clara
country                                                         us
full_text        Job Titles:    Sr. Data Scientist (3-6 years) ...
list_elements                                                   []
row_num                                                       1634
Name: 1634, dtype: object
------
Unnamed: 0                                                    8898
dt                                       2019-09-10 03:10:02 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 San mateo
country                                                         us
full_text        Job Details:            \n   Job Title:     Da...
list_elements                                                   []
row_num                                                       1635
Name: 1635, dtype: object
------
Unnamed: 0                                                    8899
dt                                       2019-09-10 03:03:16 +0000
url              https://job-openings.monster.com/w2-contract-d...
title            (W2 Contract) Data Scientist in Dallas TX OR B...

Name: 1678, dtype: object
------
Unnamed: 0                                                    8947
dt                                       2019-09-11 22:54:02 +0000
url              https://www.totaljobs.com/job/data-scientist/o...
title                             Data Scientist Global Hedge Fund
location                                                       NaN
country                                                         us
full_text        A leading hedge fund based in New York is look...
list_elements                                                   []
row_num                                                       1679
Name: 1679, dtype: object
------
Unnamed: 0                                                    8948
dt                                       2019-09-12 00:44:49 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title            Seafood &amp; Food Security Data Scientist (15...
location                                                Washington
country                                                         us
full_text        Location: Washington, DC, US, 20016 Company: A...
list_elements                                                   []
row_num                                                       1680
Name: 1680, dtype: object
------
Unnamed: 0                                                    8949
dt                                       2019-09-12 00:42:48 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                            Salt lake city
country                                                         us
full_text        Requisition Number: PRN21881B FLSA Code: Compu...
list_elements                                                   []
row_num                                                       1681
Name: 1681, dtype: object
------
Unnamed: 0                                                    8954
dt                                       2019-09-12 03:48:14 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Mathematics/Computational mod...
location                                                  Torrance
country                                                         us
full_text        If you are a Data Scientist with experience, p...
list_elements                                                   []
row_num                                                       1682
Name: 1682, dtype: object
------
Unnamed: 0                                                    8956
dt                                       2019-09-12 06:06:25 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                     Salem
country                                                         us
full_text        Data Scientist  \nPortland, OR \nWant to make ...
list_elements                                                   []
row_num                                                       1684
Name: 1684, dtype: object
------
Unnamed: 0                                                    8961
dt                                       2019-09-12 08:12:47 +0000
url              https://job-openings.monster.com/junior-data-s...
title                                        Junior Data Scientist
location                                               Jersey city
country                                                         us
full_text        Full Time Opportunity with Direct Client \n&nb...
list_elements                                                   []
row_num                                                       1689
Name: 1689, dtype: object
------
Unnamed: 0                                                    8962
dt                                       2019-09-12 09:06:11 +0000
url              https://job-openings.monster.com/principal-dat...
title                            Principal Data Scientist Pipeline
location                                                   Atlanta
country                                                         us
full_text        Honeywell is a Fortune 100 company with global...
list_elements                                                   []
row_num                                                       1690
Name: 1690, dtype: object
------
Unnamed: 0                                                    8965
dt                                       2019-09-12 12:08:08 +0000
url              https://job-openings.monster.com/cognitive-mac...
title                  Cognitive/Machine Learning - Data Scientist
location                                                    Boston
country                                                         us
full_text        Description \nThe Cognitive/Machine Learning P...
list_elements                                                   []
row_num                                                       1693
Name: 1693, dtype: object
------
Unnamed: 0                                                    8966
dt                                       2019-09-12 20:34:38 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Dearborn
country                                                         us
full_text        Position Overview/Description \n\nFord's Globa...
list_elements                                                   []
row_num                                                       1694
Name: 1694, dtype: object
------
Unnamed: 0                                                    8967
dt                                       2019-09-12 20:30:53 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                          Sr Data Scientist, Connected Assets
location                                                     Mason
country                                                         us
full_text        Honeywell Intelligrated has a vision to change...
list_elements                                                   []
row_num                                                       1695
Name: 1695, dtype: object
------
Unnamed: 0                                                    8968
dt                                       2019-09-12 20:38:36 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Dearborn
country                                                         us
full_text        Job Description:  \n\nWe are trusted advisers ...
list_elements                                                   []
row_num                                                       1696
Name: 1696, dtype: object
------
Unnamed: 0                                                    8969
dt                                       2019-09-12 20:47:54 +0000
url              https://job-openings.monster.com/systems-simul...
title                        Systems and Simulation Data Scientist
location                                                  Dearborn
country                                                         us
full_text        Position Overview/Description  \n\nFord's Glob...
list_elements                                                   []
row_num                                                       1697
Name: 1697, dtype: object
------
Unnamed: 0                                                    8970
dt                                       2019-09-12 20:31:19 +0000
url              https://job-openings.monster.com/chief-data-sc...
title                      Chief Data Scientist - Consumer Lending
location                                              East hanover
country                                                         us
full_text        If you are a Chief Data Scientist with experie...
list_elements                                                   []
row_num                                                       1698
Name: 1698, dtype: object
------
Unnamed: 0                                                    8971
dt                                       2019-09-12 20:45:00 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                                   Phoenix
country                                                         us
full_text        If you are a data scientist with 2+ years expe...
list_elements                                                   []
row_num                                                       1699
Name: 1699, dtype: object
------
Unnamed: 0                                                    8972
dt                                       2019-09-13 00:41:30 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                                 Rochester
country                                                         us
full_text        4828BR Finance & Administration Inst'l Researc...
list_elements                                                   []
row_num                                                       1700
Name: 1700, dtype: object
------
Unnamed: 0                                                    8978
dt                                       2019-09-13 01:01:30 +0000
url              https://www.careerbuilder.com/job/J3R7D76S7KHR...
title                                               Data Scientist
location                                                    Skokie
country                                                         us
full_text        If you are an experienced Data Scientist looki...
list_elements                                                   []
row_num                                                       1701
Name: 1701, dtype: object
------
Unnamed: 0                                                    8982
dt                                       2019-09-13 01:02:36 +0000
url              https://www.careerbuilder.com/job/J3R2JQ66BQ1M...
title                                     Data Scientist (Innovel)
location                                                   Hoffman
country                                                         us
full_text        Req/Job ID: 987753BREmploying Entity: Transfor...
list_elements                                                   []
row_num                                                       1702
Name: 1702, dtype: object
------
Unnamed: 0                                                    8983
dt                                       2019-09-13 01:26:55 +0000
url              https://www.careerbuilder.com/job/J3T2YC6WX0Q8...
title                                               Data Scientist
location                                              Indianapolis
country                                                         us
full_text        **Must sit onsite for the contract****Can do C...
list_elements                                                   []
row_num                                                       1703
Name: 1703, dtype: object
------
Unnamed: 0                                                    8984
dt                                       2019-09-13 02:07:07 +0000
url              https://www.careerbuilder.com/job/J3W1MC73L86N...
title                               Data Scientist- Atlanta- $100K
location                                                   Atlanta
country                                                         us
full_text        Data ScientistAs a Data Scientist, you will be...
list_elements                                                   []
row_num                                                       1704
Name: 1704, dtype: object
------
Unnamed: 0                                                    8985
dt                                       2019-09-13 02:11:38 +0000
url              https://www.careerbuilder.com/job/J3Q7166ZFJVC...
title                                               Data Scientist
location                                               Lake forest
country                                                         us
full_text        Join Reynolds Consumer Products… a world of op...
list_elements                                                   []
row_num                                                       1705
Name: 1705, dtype: object
------
Unnamed: 0                                                    8986
dt                                       2019-09-13 02:33:53 +0000
url              https://job-openings.monster.com/senior-data-s...
title                               Senior Data Scientist - REMOTE
location                                             San francisco
country                                                         us
full_text        Senior Data Scientist - REMOTE \n We are a bio...
list_elements                                                   []
row_num                                                       1706
Name: 1706, dtype: object
------
Unnamed: 0                                                    8988
dt                                       2019-09-13 01:31:37 +0000
url              https://www.careerbuilder.com/job/J3Q2VX68H3H0...
title                                               Data Scientist
location                                               Lake forest
country                                                         us
full_text        Grainger is a broad line, business-to-business...
list_elements                                                   []
row_num                                                       1707
Name: 1707, dtype: object
------
Unnamed: 0                                                    8989
dt                                       2019-09-13 01:45:16 +0000
url              https://www.careerbuilder.com/job/J3P49061T0Y2...
title                                               Data Scientist
location                                               Lake forest
country                                                         us
full_text        Join Reynolds Consumer Products… a world of op...
list_elements                                                   []
row_num                                                       1708
Name: 1708, dtype: object
------
Unnamed: 0                                                    8990
dt                                       2019-09-13 04:09:52 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Torrance
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1709
Name: 1709, dtype: object
------
Unnamed: 0                                                    8991
dt                                       2019-09-13 04:09:46 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                               Los angeles
country                                                         us
full_text        Senior Data Scientist \n We strive to believe ...
list_elements                                                   []
row_num                                                       1710
Name: 1710, dtype: object
------
Unnamed: 0                                                    8992
dt                                       2019-09-13 04:11:31 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Cambridge
country                                                         us
full_text        Data Scientist \n Data Scientist - computation...
list_elements                                                   []
row_num                                                       1711
Name: 1711, dtype: object
------
Unnamed: 0                                                    8993
dt                                       2019-09-13 04:10:18 +0000
url              https://job-openings.monster.com/chief-data-sc...
title                                         Chief Data Scientist
location                                              East hanover
country                                                         us
full_text        Chief Data Scientist \n If you are a Chief Dat...
list_elements                                                   []
row_num                                                       1712
Name: 1712, dtype: object
------
Unnamed: 0                                                    8994
dt                                       2019-09-13 04:20:20 +0000
url              https://job-openings.monster.com/data-scientis...
title                               Data Scientist - Cybersecurity
location                                                 Arlington
country                                                         us
full_text        Data Scientist - Cybersecurity \n If you are a...
list_elements                                                   []
row_num                                                       1713
Name: 1713, dtype: object
------
Unnamed: 0                                                    8995
dt                                       2019-09-13 04:17:14 +0000
url              https://job-openings.monster.com/lead-bioinfor...
title                           Lead Bioinformatics/Data Scientist
location                                                 Palo alto
country                                                         us
full_text        Lead Bioinformatics/Data Scientist \n If you a...
list_elements                                                   []
row_num                                                       1714
Name: 1714, dtype: object
------
Unnamed: 0                                                    8996
dt                                       2019-09-13 04:13:59 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist, Deep Learning (Relo to Bo...
location                                                    Boston
country                                                         us
full_text        Lead Data Scientist, Deep Learning (Relo to Bo...
list_elements                                                   []
row_num                                                       1715
Name: 1715, dtype: object
------
Unnamed: 0                                                    8997
dt                                       2019-09-13 04:22:56 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 San diego
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1716
Name: 1716, dtype: object
------
Unnamed: 0                                                    8998
dt                                       2019-09-13 04:28:14 +0000
url              https://job-openings.monster.com/senior-data-s...

Name: 1743, dtype: object
------
Unnamed: 0                                                    9025
dt                                       2019-09-13 04:19:21 +0000
url              https://job-openings.monster.com/healthcare-se...
title            Healthcare Senior Data Scientist (Optimization...
location                                               Santa clara
country                                                         us
full_text        Healthcare Senior Data Scientist (Optimization...
list_elements                                                   []
row_num                                                       1744
Name: 1744, dtype: object
------
Unnamed: 0                                                    9026
dt                                       2019-09-13 04:22:06 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                             San francisco
country                                                         us
full_text        Senior Data Scientist \n Senior Data Scientist...
list_elements                                                   []
row_num                                                       1745
Name: 1745, dtype: object
------
Unnamed: 0                                                    9027
dt                                       2019-09-13 04:32:09 +0000
url              https://job-openings.monster.com/senior-data-s...
title                    Senior Data Scientist, Business Analytics
location                                             Mountain view
country                                                         us
full_text        Overview   We are looking for a hands-on Senio...
list_elements                                                   []
row_num                                                       1746
Name: 1746, dtype: object
------
Unnamed: 0                                                    9028
dt                                       2019-09-13 04:33:18 +0000
url              https://job-openings.monster.com/clinical-data...
title                            Clinical Data Scientist (Manager)
location                                                 Cambridge
country                                                         us
full_text        ROLE SUMMARY   \nAs part of the Data Monitorin...
list_elements                                                   []
row_num                                                       1747
Name: 1747, dtype: object
------
Unnamed: 0                                                    9029
dt                                       2019-09-13 04:21:50 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Optimization, Operations Rese...
location                                                 Charlotte
country                                                         us
full_text        Data Scientist - Optimization, Operations Rese...
list_elements                                                   []
row_num                                                       1748
Name: 1748, dtype: object
------
Unnamed: 0                                                    9030
dt                                       2019-09-13 04:19:00 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Florham park
country                                                         us
full_text        Senior Data Scientist \n We are the leader in ...
list_elements                                                   []
row_num                                                       1749
Name: 1749, dtype: object
------
Unnamed: 0                                                    9031
dt                                       2019-09-13 04:21:44 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Director of Dat...
list_elements                                                   []
row_num                                                       1750
Name: 1750, dtype: object
------
Unnamed: 0                                                    9032
dt                                       2019-09-13 04:34:03 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Seattle
country                                                         us
full_text        Senior Data Scientist \n AI/ML Technology Grou...
list_elements                                                   []
row_num                                                       1751
Name: 1751, dtype: object
------
Unnamed: 0                                                    9033
dt                                       2019-09-13 04:18:17 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Seattle
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1752
Name: 1752, dtype: object
------
Unnamed: 0                                                    9034
dt                                       2019-09-13 04:26:12 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n Senior Data Scientist - FTE ...
list_elements                                                   []
row_num                                                       1753
Name: 1753, dtype: object
------
Unnamed: 0                                                    9035
dt                                       2019-09-13 04:18:15 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Glendale
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1754
Name: 1754, dtype: object
------
Unnamed: 0                                                    9036
dt                                       2019-09-13 04:36:32 +0000
url              https://job-openings.monster.com/genomic-data-...
title             Genomic Data Scientist (Pharmaceutical Industry)
location                                                Ridgefield
country                                                         us
full_text        Length of Assignment:   1 year. Extension base...
list_elements                                                   []
row_num                                                       1755
Name: 1755, dtype: object
------
Unnamed: 0                                                    9037
dt                                       2019-09-13 04:37:37 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Cambridge
country                                                         us
full_text        Data Scientist \n If you are a Senior Data Sci...
list_elements                                                   []
row_num                                                       1756
Name: 1756, dtype: object
------
Unnamed: 0                                                    9038
dt                                       2019-09-13 04:37:44 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Cincinnati
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1757
Name: 1757, dtype: object
------
Unnamed: 0                                                    9039
dt                                       2019-09-13 04:38:32 +0000
url              https://job-openings.monster.com/data-scientis...
title                    Data Scientist/Sr Data Scientist in FL/TX
location                                                    Irving
country                                                         us
full_text        Title: Data Scientist/Sr Data Scientist. \nLoc...
list_elements                                                   []
row_num                                                       1758
Name: 1758, dtype: object
------
Unnamed: 0                                                    9040
dt                                       2019-09-13 05:15:30 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                       Lead Data Scientist (Machine Learning)
location                                                   Seattle
country                                                         us
full_text        Lead Data Scientist (Machine Learning) \n If y...
list_elements                                                   []
row_num                                                       1759
Name: 1759, dtype: object
------
Unnamed: 0                                                    9041
dt                                       2019-09-13 05:15:33 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Annapolis
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1760
Name: 1760, dtype: object
------
Unnamed: 0                                                    9042
dt                                       2019-09-13 05:16:55 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                       NaN
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       1761
Name: 1761, dtype: object
------
Unnamed: 0                                                    9043
dt                                       2019-09-13 05:18:00 +0000
url              https://job-openings.monster.com/senior-data-s...
title                            Senior Data Scientist, Healthcare
location                                                Santa cruz
country                                                         us
full_text        Senior Data Scientist, Healthcare \n If you ar...
list_elements                                                   []
row_num                                                       1762
Name: 1762, dtype: object
------
Unnamed: 0                                                    9044
dt                                       2019-09-13 05:17:52 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             Santa barbara
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1763
Name: 1763, dtype: object
------
Unnamed: 0                                                    9045
dt                                       2019-09-13 05:18:32 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Leawood
country                                                         us
full_text        Senior Data Scientist \n We're a large financi...
list_elements                                                   []
row_num                                                       1764
Name: 1764, dtype: object
------
Unnamed: 0                                                    9046
dt                                       2019-09-13 05:14:40 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1765
Name: 1765, dtype: object
------
Unnamed: 0                                                    9047
dt                                       2019-09-13 05:16:53 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Portland
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1766
Name: 1766, dtype: object
------
Unnamed: 0                                                    9048
dt                                       2019-09-13 05:16:59 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                               Creve coeur
country                                                         us
full_text        Lead Data Scientist \n If you are a Lead Data ...
list_elements                                                   []
row_num                                                       1767
Name: 1767, dtype: object
------
Unnamed: 0                                                    9049
dt                                       2019-09-13 05:18:30 +0000
url              https://job-openings.monster.com/principal-dat...
title                    Principal Data Scientist (Relo to Boston)
location                                                    Boston
country                                                         us
full_text        Principal Data Scientist (Relo to Boston) \n I...
list_elements                                                   []
row_num                                                       1768
Name: 1768, dtype: object
------
Unnamed: 0                                                    9050
dt                                       2019-09-13 05:18:26 +0000
url              https://job-openings.monster.com/sr-data-scien...
title            Sr. Data Scientist wanted for SaaS Fintech hel...
location                                                   Phoenix
country                                                         us
full_text        Sr. Data Scientist wanted for SaaS Fintech hel...
list_elements                                                   []
row_num                                                       1769
Name: 1769, dtype: object
------
Unnamed: 0                                                    9051
dt                                       2019-09-13 05:16:12 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Torrance
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1770
Name: 1770, dtype: object
------
Unnamed: 0                                                    9052
dt                                       2019-09-13 05:17:35 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                               Santa clara
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       1771
Name: 1771, dtype: object
------
Unnamed: 0                                                    9053
dt                                       2019-09-13 05:15:07 +0000
url              https://job-openings.monster.com/data-scientis...
title                   Data Scientist III / Senior Data Scientist
location                                                    Morton
country                                                         us
full_text        BE EMPOWERED &amp; INSPIRED  \n   We create an...
list_elements                                                   []
row_num                                                       1772
Name: 1772, dtype: object
------
Unnamed: 0                                                    9054
dt                                       2019-09-13 04:37:54 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Reston
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1773
Name: 1773, dtype: object
------
Unnamed: 0                                                    9055
dt                                       2019-09-13 04:39:23 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1774
Name: 1774, dtype: object
------
Unnamed: 0                                                    9056
dt                                       2019-09-13 05:15:42 +0000
url              https://job-openings.monster.com/data-scientis...

Name: 1813, dtype: object
------
Unnamed: 0                                                    9108
dt                                       2019-09-15 03:16:21 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist - Python, Machine Learning, R, SQL
location                                             San francisco
country                                                         us
full_text        If you are a Data Scientist with at least 3 ye...
list_elements                                                   []
row_num                                                       1814
Name: 1814, dtype: object
------
Unnamed: 0                                                    9109
dt                                       2019-09-15 03:13:49 +0000
url              https://job-openings.monster.com/ai-ml-senior-...
title                     AI/ML Senior Data Scientist in New york,
location                                                  New york
country                                                         us
full_text        Job Title: AI/ML Senior Data Scientist    \n\n...
list_elements                                                   []
row_num                                                       1815
Name: 1815, dtype: object
------
Unnamed: 0                                                    9110
dt                                       2019-09-15 03:16:17 +0000
url              https://job-openings.monster.com/senior-data-s...
title            SENIOR DATA SCIENTIST  - BE PART OF LIVE EVENT...
location                                             San francisco
country                                                         us
full_text        Job Description: \nSalary: up to $250,000\nLoc...
list_elements                                                   []
row_num                                                       1816
Name: 1816, dtype: object
------
Unnamed: 0                                                    9111
dt                                       2019-09-15 03:29:41 +0000
url              https://job-openings.monster.com/data-scientis...
title                               Data Scientist - Cybersecurity
location                                                 Arlington
country                                                         us
full_text        If you are a Data Scientist - Cybersecurity wi...
list_elements                                                   []
row_num                                                       1817
Name: 1817, dtype: object
------
Unnamed: 0                                                    9112
dt                                       2019-09-15 03:31:41 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist - Manufacturing, Supply ...
location                                               Santa clara
country                                                         us
full_text        If you are a Senior Data Scientist with at lea...
list_elements                                                   []
row_num                                                       1818
Name: 1818, dtype: object
------
Unnamed: 0                                                    9113
dt                                       2019-09-15 03:16:39 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                             Mountain view
country                                                         us
full_text        AI/ML Technology Groundbreaking Startup!\n\n* ...
list_elements                                                   []
row_num                                                       1819
Name: 1819, dtype: object
------
Unnamed: 0                                                    9114
dt                                       2019-09-15 03:14:32 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Annapolis
country                                                         us
full_text        If you are a Data Scientist with experience, p...
list_elements                                                   []
row_num                                                       1820
Name: 1820, dtype: object
------
Unnamed: 0                                                    9115
dt                                       2019-09-15 03:15:15 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Redwood city
country                                                         us
full_text        If you are a Senior Data Scientist with your M...
list_elements                                                   []
row_num                                                       1821
Name: 1821, dtype: object
------
Unnamed: 0                                                    9116
dt                                       2019-09-15 03:18:28 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Seattle
country                                                         us
full_text        AI/ML Technology Groundbreaking Startup!\n\n* ...
list_elements                                                   []
row_num                                                       1822
Name: 1822, dtype: object
------
Unnamed: 0                                                    9117
dt                                       2019-09-15 03:27:09 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                     Plano
country                                                         us
full_text        Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbs...
list_elements                                                   []
row_num                                                       1823
Name: 1823, dtype: object
------
Unnamed: 0                                                    9118
dt                                       2019-09-15 03:13:36 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist, Deep Learning (Relo to Bo...
location                                                    Boston
country                                                         us
full_text        If you are a Lead Data Scientist with experien...
list_elements                                                   []
row_num                                                       1824
Name: 1824, dtype: object
------
Unnamed: 0                                                    9119
dt                                       2019-09-15 03:17:04 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                                   Phoenix
country                                                         us
full_text        If you are a data scientist with 2+ years expe...
list_elements                                                   []
row_num                                                       1825
Name: 1825, dtype: object
------
Unnamed: 0                                                    9120
dt                                       2019-09-15 03:27:42 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist - Insurance Predictive A...
location                                                 Cambridge
country                                                         us
full_text        If you are a Senior Data Scientist with at lea...
list_elements                                                   []
row_num                                                       1826
Name: 1826, dtype: object
------
Unnamed: 0                                                    9121
dt                                       2019-09-15 03:12:47 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                       NaN
country                                                         us
full_text        Description:\n \n \nHENKEL IS FOR THOSE WHO ST...
list_elements                                                   []
row_num                                                       1827
Name: 1827, dtype: object
------
Unnamed: 0                                                    9122
dt                                       2019-09-15 03:25:23 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Peapack
country                                                         us
full_text        Job Summary  \n \nThe Data Scientist will have...
list_elements                                                   []
row_num                                                       1828
Name: 1828, dtype: object
------
Unnamed: 0                                                    9123
dt                                       2019-09-15 03:10:23 +0000
url              https://job-openings.monster.com/data-scientis...
title                            Data Scientist (Machine Learning)
location                                             Mountain view
country                                                         us
full_text        If you are a Data Scientist with ML experience...
list_elements                                                   []
row_num                                                       1829
Name: 1829, dtype: object
------
Unnamed: 0                                                    9124
dt                                       2019-09-15 03:17:43 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  San jose
country                                                         us
full_text        San Jose, California\n\nSkills :  Python, Data...
list_elements                                                   []
row_num                                                       1830
Name: 1830, dtype: object
------
Unnamed: 0                                                    9125
dt                                       2019-09-15 03:17:34 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist - CNN, Deep Learning - REL...
location                                                 Hollywood
country                                                         us
full_text        Are you an Expert with Convolutional Neural Ne...
list_elements                                                   []
row_num                                                       1831
Name: 1831, dtype: object
------
Unnamed: 0                                                    9126
dt                                       2019-09-15 03:16:08 +0000
url              https://job-openings.monster.com/senior-data-s...
title                        Senior Data Scientist - San Francisco
location                                             San francisco
country                                                         us
full_text        Senior Data Scientist - San Francisco\n\nMajor...
list_elements                                                   []
row_num                                                       1832
Name: 1832, dtype: object
------
Unnamed: 0                                                    9127
dt                                       2019-09-15 03:15:45 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 San diego
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       1833
Name: 1833, dtype: object
------
Unnamed: 0                                                    9128
dt                                       2019-09-15 03:17:38 +0000
url              https://job-openings.monster.com/qliksense-dev...
title                         QLIKSENSE DEVELOPER / DATA SCIENTIST
location                                                   Greeley
country                                                         us
full_text        Pilgrim’s is the second largest chicken produc...
list_elements                                                   []
row_num                                                       1834
Name: 1834, dtype: object
------
Unnamed: 0                                                    9129
dt                                       2019-09-15 03:11:08 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                                Santa cruz
country                                                         us
full_text        Lead Data Scientist \n If you are a Data Scien...
list_elements                                                   []
row_num                                                       1835
Name: 1835, dtype: object
------
Unnamed: 0                                                    9130
dt                                       2019-09-15 03:32:05 +0000
url              https://job-openings.monster.com/2020-citizen-...
title                       2020 Citizen Data Scientist Internship
location                                                   Detroit
country                                                         us
full_text        FCA US LLC College Intern Program offers a uni...
list_elements                                                   []
row_num                                                       1836
Name: 1836, dtype: object
------
Unnamed: 0                                                    9131
dt                                       2019-09-15 03:35:51 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Business Analytics in M...
location                                             Mountain view
country                                                         us
full_text        We are looking for a hands-on Senior Data Scie...
list_elements                                                   []
row_num                                                       1837
Name: 1837, dtype: object
------
Unnamed: 0                                                    9132
dt                                       2019-09-15 05:13:02 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Huntsville, AL
location                                                Huntsville
country                                                         us
full_text        CALIBRE, an employee-owned Management Consulti...
list_elements                                                   []
row_num                                                       1838
Name: 1838, dtype: object
------
Unnamed: 0                                                    9133
dt                                       2019-09-15 05:28:24 +0000
url              https://www.theladders.com/job/customer-data-s...
title            Customer Data Scientist / Sales Engineer in Ne...
location                                                  New york
country                                                         us
full_text        Job Summery: Can you learn demonstrations (dem...
list_elements                                                   []
row_num                                                       1839
Name: 1839, dtype: object
------
Unnamed: 0                                                    9134
dt                                       2019-09-15 05:29:26 +0000
url              https://www.theladders.com/job/customer-data-s...
title            Customer Data Scientist / Sales Engineer in Bo...
location                                                    Boston
country                                                         us
full_text        Job Summery: Can you learn demonstrations (dem...
list_elements                                                   []
row_num                                                       1840
Name: 1840, dtype: object
------
Unnamed: 0                                                    9135
dt                                       2019-09-15 05:28:38 +0000
url              https://www.theladders.com/job/customer-data-s...
title            Customer Data Scientist / Sales Engineer in Mo...
location                                             Mountain view
country                                                         us
full_text        Job Summery: Can you learn demonstrations (dem...
list_elements                                                   []
row_num                                                       1841
Name: 1841, dtype: object
------
Unnamed: 0                                                    9136
dt                                       2019-09-15 06:00:26 +0000
url              https://www.theladders.com/job/senior-principa...
title             Senior Principal Data Scientist in Santa Ana, CA
location                                                 Santa ana
country                                                         us
full_text        Position Description Combine two of the fastes...
list_elements                                                   []
row_num                                                       1842
Name: 1842, dtype: object
------
Unnamed: 0                                                    9137
dt                                       2019-09-15 05:59:15 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        At Roku, Data Scientists leverage Big Data and...
list_elements                                                   []
row_num                                                       1843
Name: 1843, dtype: object
------
Unnamed: 0                                                    9138
dt                                       2019-09-15 05:52:57 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                      Senior Data Scientist in High Point, NC
location                                                High point
country                                                         us
full_text        Logistics done differently. Innovation is in o...
list_elements                                                   []
row_num                                                       1844
Name: 1844, dtype: object
------
Unnamed: 0                                                    9139
dt                                       2019-09-15 05:42:23 +0000
url              https://www.theladders.com/job/senior-data-sci...

Name: 1878, dtype: object
------
Unnamed: 0                                                    9174
dt                                       2019-09-15 06:24:52 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                          Senior Data Scientist in Austin, TX
location                                                    Austin
country                                                         us
full_text        Amazon Fulfillment Technologies (AFT) powers t...
list_elements                                                   []
row_num                                                       1879
Name: 1879, dtype: object
------
Unnamed: 0                                                    9175
dt                                       2019-09-15 06:21:24 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title              Sr. Data Scientist, Trulia in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        About the team Trulia Decision Science is seek...
list_elements                                                   []
row_num                                                       1880
Name: 1880, dtype: object
------
Unnamed: 0                                                    9176
dt                                       2019-09-15 06:08:34 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        We're looking for a Data Scientist to join our...
list_elements                                                   []
row_num                                                       1881
Name: 1881, dtype: object
------
Unnamed: 0                                                    9177
dt                                       2019-09-15 06:07:02 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                        Lead Data Scientist in Broomfield, CO
location                                                Broomfield
country                                                         us
full_text        CenturyLink (NYSE: CTL) is a global communicat...
list_elements                                                   []
row_num                                                       1882
Name: 1882, dtype: object
------
Unnamed: 0                                                    9178
dt                                       2019-09-15 06:33:16 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                     Lead Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        Our purpose We are the agency absolutely, utte...
list_elements                                                   []
row_num                                                       1883
Name: 1883, dtype: object
------
Unnamed: 0                                                    9179
dt                                       2019-09-15 06:33:12 +0000
url              https://www.theladders.com/job/-data-scientist...
title                Data Scientist | Advertising in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        About the Role Our Data Scientists play a dire...
list_elements                                                   []
row_num                                                       1884
Name: 1884, dtype: object
------
Unnamed: 0                                                    9180
dt                                       2019-09-15 06:27:47 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Analytics Platform as a...
location                                                    Boston
country                                                         us
full_text        Boston, MA Apply Description The Senior Data S...
list_elements                                                   []
row_num                                                       1885
Name: 1885, dtype: object
------
Unnamed: 0                                                    9181
dt                                       2019-09-15 06:34:19 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                         Senior Data Scientist in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        We're looking for a Senior Data Scientist in o...
list_elements                                                   []
row_num                                                       1886
Name: 1886, dtype: object
------
Unnamed: 0                                                    9182
dt                                       2019-09-15 06:52:07 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Stellar Astrophysics in New Y...
location                                                  New york
country                                                         us
full_text        POSITION SUMMARY Data Scientist for Stellar As...
list_elements                                                   []
row_num                                                       1887
Name: 1887, dtype: object
------
Unnamed: 0                                                    9183
dt                                       2019-09-15 07:01:36 +0000
url              https://www.theladders.com/job/senior-computat...
title            Senior Computational Biologist (Senior Genomic...
location                                                      Lehi
country                                                         us
full_text        AncestryDNA is seeking a Computational Biologi...
list_elements                                                   []
row_num                                                       1888
Name: 1888, dtype: object
------
Unnamed: 0                                                    9184
dt                                       2019-09-15 06:21:59 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Edison, NJ
location                                                       NaN
country                                                         us
full_text        The Data Scientist will be leading advanced an...
list_elements                                                   []
row_num                                                       1889
Name: 1889, dtype: object
------
Unnamed: 0                                                    9185
dt                                       2019-09-15 07:13:10 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Seattle, WA
location                                                   Seattle
country                                                         us
full_text        Flyhomes is reinventing the traditional real e...
list_elements                                                   []
row_num                                                       1890
Name: 1890, dtype: object
------
Unnamed: 0                                                    9186
dt                                       2019-09-15 07:07:54 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                          Lead Data Scientist, in Raritan, NJ
location                                                   Raritan
country                                                         us
full_text        Position 1. Job Description – Lead Data Scient...
list_elements                                                   []
row_num                                                       1891
Name: 1891, dtype: object
------
Unnamed: 0                                                    9187
dt                                       2019-09-15 07:11:43 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Fairfax, VA
location                                                   Fairfax
country                                                         us
full_text        At Capital One, data is at the center of every...
list_elements                                                   []
row_num                                                       1892
Name: 1892, dtype: object
------
Unnamed: 0                                                    9188
dt                                       2019-09-15 07:08:47 +0000
url              https://www.theladders.com/job/mgr-sr-mgr-mode...
title            Mgr/Sr Mgr - Model Risk Quantitative/Data Scie...
location                                                  New york
country                                                         us
full_text        Description Model Risk Management Group (MRMG)...
list_elements                                                   []
row_num                                                       1893
Name: 1893, dtype: object
------
Unnamed: 0                                                    9189
dt                                       2019-09-15 07:16:15 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        Position Accellion is seeking a Senior Data Sc...
list_elements                                                   []
row_num                                                       1894
Name: 1894, dtype: object
------
Unnamed: 0                                                    9190
dt                                       2019-09-15 07:20:14 +0000
url              https://www.theladders.com/job/data-scientist-...
title                        Data Scientist Engineer in Boston, MA
location                                                    Boston
country                                                         us
full_text        Octo Consulting Group (Octo) is an industry-le...
list_elements                                                   []
row_num                                                       1895
Name: 1895, dtype: object
------
Unnamed: 0                                                    9191
dt                                       2019-09-15 07:13:29 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                        Senior Data Scientist in Pasadena, CA
location                                                  Pasadena
country                                                         us
full_text        Job Summary As a Senior Data Scientist at Gree...
list_elements                                                   []
row_num                                                       1896
Name: 1896, dtype: object
------
Unnamed: 0                                                    9192
dt                                       2019-09-15 07:12:15 +0000
url              https://www.theladders.com/job/staff-data-scie...
title                        Staff Data Scientist in Sunnyvale, CA
location                                                 Sunnyvale
country                                                         us
full_text        What you'll do Demonstrates up-to-date experti...
list_elements                                                   []
row_num                                                       1897
Name: 1897, dtype: object
------
Unnamed: 0                                                    9193
dt                                       2019-09-15 07:12:10 +0000
url              https://www.theladders.com/job/data-scientist-...
title                      Data Scientist - eComm in San Bruno, CA
location                                                 San bruno
country                                                         us
full_text        What you'll do at Leads small and participates...
list_elements                                                   []
row_num                                                       1898
Name: 1898, dtype: object
------
Unnamed: 0                                                    9194
dt                                       2019-09-15 07:09:04 +0000
url              https://www.theladders.com/job/data-scientist-...
title                     Data Scientist, Genomics in New York, NY
location                                                  New york
country                                                         us
full_text        Your Mission: Genomics Data Scientist is a key...
list_elements                                                   []
row_num                                                       1899
Name: 1899, dtype: object
------
Unnamed: 0                                                    9195
dt                                       2019-09-15 07:11:42 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                            Sr. Data Scientist in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        The Big Data and Panel Integration team within...
list_elements                                                   []
row_num                                                       1900
Name: 1900, dtype: object
------
Unnamed: 0                                                    9196
dt                                       2019-09-15 07:18:43 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        The Role – Data Scientist We collect a lot of ...
list_elements                                                   []
row_num                                                       1901
Name: 1901, dtype: object
------
Unnamed: 0                                                    9197
dt                                       2019-09-15 07:19:29 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                          Lead Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        About Us The IT division sets technology visio...
list_elements                                                   []
row_num                                                       1902
Name: 1902, dtype: object
------
Unnamed: 0                                                    9198
dt                                       2019-09-15 07:17:10 +0000
url              https://www.theladders.com/job/healthcare-stat...
title            Healthcare Statistician - Data Scientist in Ro...
location                                                   Roanoke
country                                                         us
full_text        Job Summary Healthcare Statistician At Carilio...
list_elements                                                   []
row_num                                                       1903
Name: 1903, dtype: object
------
Unnamed: 0                                                    9199
dt                                       2019-09-15 07:12:48 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist III in Chantilly, VA
location                                                 Chantilly
country                                                         us
full_text        Business Group Highlights Intelligence The Int...
list_elements                                                   []
row_num                                                       1904
Name: 1904, dtype: object
------
Unnamed: 0                                                    9200
dt                                       2019-09-15 07:11:36 +0000
url              https://www.theladders.com/job/data-scientist-...
title                 Data Scientist in Rancho Santa Margarita, CA
location                                    Rancho santa margarita
country                                                         us
full_text        Overview PADI, the global leader in Scuba Dive...
list_elements                                                   []
row_num                                                       1905
Name: 1905, dtype: object
------
Unnamed: 0                                                    9201
dt                                       2019-09-15 07:14:23 +0000
url              https://www.theladders.com/job/staff-data-scie...
title            Staff Data Scientist - Ecomm (Vudu) in Los Ang...
location                                               Los angeles
country                                                         us
full_text        What you'll do at Build complex data sets from...
list_elements                                                   []
row_num                                                       1906
Name: 1906, dtype: object
------
Unnamed: 0                                                    9202
dt                                       2019-09-15 07:14:26 +0000
url              https://www.theladders.com/job/deep-learning-s...
title            Deep Learning Staff Data Scientist in Sunnyval...
location                                                 Sunnyvale
country                                                         us
full_text        What you'll do A Staff Data Scientist is respo...
list_elements                                                   []
row_num                                                       1907
Name: 1907, dtype: object
------
Unnamed: 0                                                    9203
dt                                       2019-09-15 07:19:18 +0000
url              https://www.theladders.com/job/senior-manager-...
title            Senior Manager (Data Scientist), Decision Anal...
location                                                  Columbus
country                                                         us
full_text        EXL Analytics provides data-driven, action-ori...
list_elements                                                   []
row_num                                                       1908
Name: 1908, dtype: object
------
Unnamed: 0                                                    9204
dt                                       2019-09-15 07:25:25 +0000
url              https://www.theladders.com/job/lead-data-scien...
title            Lead Data Scientist, Two Sigma Private Investm...
location                                                  New york
country                                                         us
full_text        Sightway Capital is a Two Sigma company focuse...
list_elements                                                   []
row_num                                                       1909
Name: 1909, dtype: object
------
Unnamed: 0                                                    9205
dt                                       2019-09-15 07:20:26 +0000
url              https://www.theladders.com/job/-senior-data-sc...

------
Unnamed: 0                                                    9237
dt                                       2019-09-15 07:19:46 +0000
url              https://www.theladders.com/job/principal-data-...
title            Principal Data Scientist / Architect in Hartfo...
location                                                  Hartford
country                                                         us
full_text        Description: Responsible for security strategi...
list_elements                                                   []
row_num                                                       1942
Name: 1942, dtype: object
------
Unnamed: 0                                                    9238
dt                                       2019-09-15 07:45:59 +0000
url              https://www.theladders.com/job/-data-scientist...
title                           Data Scientist in Jacksonville, FL
location                                              Jacksonville
country                                                         us
full_text        Description SUMMARY: Responsible for leading e...
list_elements                                                   []
row_num                                                       1943
Name: 1943, dtype: object
------
Unnamed: 0                                                    9239
dt                                       2019-09-15 07:49:07 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist 4 in Mc Lean, VA
location                                                       NaN
country                                                         us
full_text        Job Description Are you looking for a new and ...
list_elements                                                   []
row_num                                                       1944
Name: 1944, dtype: object
------
Unnamed: 0                                                    9240
dt                                       2019-09-15 07:39:11 +0000
url              https://www.theladders.com/job/staff-data-scie...
title                        Staff Data Scientist in San Ramon, CA
location                                                 San ramon
country                                                         us
full_text        The Staff Data Scientist will be part of the c...
list_elements                                                   []
row_num                                                       1945
Name: 1945, dtype: object
------
Unnamed: 0                                                    9241
dt                                       2019-09-15 07:42:41 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Reston, VA
location                                                    Reston
country                                                         us
full_text        ManTech is seeking a motivated, career, and cu...
list_elements                                                   []
row_num                                                       1946
Name: 1946, dtype: object
------
Unnamed: 0                                                    9242
dt                                       2019-09-15 07:48:55 +0000
url              https://www.theladders.com/job/data-scientist-...
title                           Data Scientist in Santa Monica, CA
location                                              Santa monica
country                                                         us
full_text        Data Scientist Data Science | Santa Monica, Ca...
list_elements                                                   []
row_num                                                       1947
Name: 1947, dtype: object
------
Unnamed: 0                                                    9243
dt                                       2019-09-15 07:50:43 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Product Analytics in S...
location                                             San francisco
country                                                         us
full_text        Common Networks was founded on the idea that e...
list_elements                                                   []
row_num                                                       1948
Name: 1948, dtype: object
------
Unnamed: 0                                                    9244
dt                                       2019-09-15 07:18:21 +0000
url              https://www.theladders.com/job/data-scientist-...
title                Data Scientist Lead / Architect in Reston, VA
location                                                    Reston
country                                                         us
full_text        Job Description: Novetta is seeking a Lead Dat...
list_elements                                                   []
row_num                                                       1949
Name: 1949, dtype: object
------
Unnamed: 0                                                    9245
dt                                       2019-09-15 07:21:09 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in Santa Ana, CA
location                                                 Santa ana
country                                                         us
full_text        Job Summary We have an exciting role for a Dat...
list_elements                                                   []
row_num                                                       1950
Name: 1950, dtype: object
------
Unnamed: 0                                                    9246
dt                                       2019-09-15 07:24:52 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist For Information Management & An...
location                                                   Orlando
country                                                         us
full_text        Position Statement: The Data Scientist for Inf...
list_elements                                                   []
row_num                                                       1951
Name: 1951, dtype: object
------
Unnamed: 0                                                    9247
dt                                       2019-09-15 07:43:14 +0000
url              https://www.theladders.com/job/ai-implementati...
title            AI Implementation Leader - APaaS - Lead Data S...
location                                                Louisville
country                                                         us
full_text        Description The Lead Data Scientist uses mathe...
list_elements                                                   []
row_num                                                       1952
Name: 1952, dtype: object
------
Unnamed: 0                                                    9248
dt                                       2019-09-15 07:42:23 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Manchester, NH
location                                                Manchester
country                                                         us
full_text        This position will be responsible for enabling...
list_elements                                                   []
row_num                                                       1953
Name: 1953, dtype: object
------
Unnamed: 0                                                    9249
dt                                       2019-09-15 07:38:55 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title            Sr. Data Scientist Leadership Program (DSLP) i...
location                                               Minneapolis
country                                                         us
full_text        As a Sr Data Scientist, you'll apply mathemati...
list_elements                                                   []
row_num                                                       1954
Name: 1954, dtype: object
------
Unnamed: 0                                                    9250
dt                                       2019-09-15 07:41:10 +0000
url              https://www.theladders.com/job/staff-data-scie...
title               Staff Data Scientist - Tech in Bentonville, AR
location                                               Bentonville
country                                                         us
full_text        What you'll do Build complex data sets from mu...
list_elements                                                   []
row_num                                                       1955
Name: 1955, dtype: object
------
Unnamed: 0                                                    9251
dt                                       2019-09-15 07:36:32 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Austin, TX
location                                                    Austin
country                                                         us
full_text        Imagine what you could do here. At Apple, new ...
list_elements                                                   []
row_num                                                       1956
Name: 1956, dtype: object
------
Unnamed: 0                                                    9252
dt                                       2019-09-15 07:33:51 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Houston, TX
location                                                   Houston
country                                                         us
full_text        Responsibilities: For all markets that we are ...
list_elements                                                   []
row_num                                                       1957
Name: 1957, dtype: object
------
Unnamed: 0                                                    9254
dt                                       2019-09-15 07:29:20 +0000
url              https://www.theladders.com/job/research-data-s...
title                    Research Data Scientist in Washington, DC
location                                                Washington
country                                                         us
full_text        The Challenge: Are you excited at the prospect...
list_elements                                                   []
row_num                                                       1958
Name: 1958, dtype: object
------
Unnamed: 0                                                    9255
dt                                       2019-09-15 07:37:32 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Hartford, CT
location                                                  Hartford
country                                                         us
full_text        Responsibilities, Competencies and Experience ...
list_elements                                                   []
row_num                                                       1959
Name: 1959, dtype: object
------
Unnamed: 0                                                    9256
dt                                       2019-09-15 07:30:36 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Irvine, CA
location                                                    Irvine
country                                                         us
full_text        Description At Cox Automotive, our data scient...
list_elements                                                   []
row_num                                                       1960
Name: 1960, dtype: object
------
Unnamed: 0                                                    9257
dt                                       2019-09-15 07:39:39 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                        Senior Data Scientist in Suitland, MD
location                                                  Suitland
country                                                         us
full_text        Secure our Nation, Ignite your Future Data Sci...
list_elements                                                   []
row_num                                                       1961
Name: 1961, dtype: object
------
Unnamed: 0                                                    9258
dt                                       2019-09-15 07:42:07 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                       Lead Data Scientist in Minneapolis, MN
location                                               Minneapolis
country                                                         us
full_text        Description: Target is an iconic brand, a Fort...
list_elements                                                   []
row_num                                                       1962
Name: 1962, dtype: object
------
Unnamed: 0                                                    9259
dt                                       2019-09-15 07:24:49 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Two Sigma is a different kind of investment ma...
list_elements                                                   []
row_num                                                       1963
Name: 1963, dtype: object
------
Unnamed: 0                                                    9260
dt                                       2019-09-15 06:30:47 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist and Computer Engineer in Norcro...
location                                                  Norcross
country                                                         us
full_text        WHY DO WE LOVE COMING TO WORK EVERY DAY? With ...
list_elements                                                   []
row_num                                                       1964
Name: 1964, dtype: object
------
Unnamed: 0                                                    9261
dt                                       2019-09-15 06:09:36 +0000
url              https://www.theladders.com/job/revenue-modelin...
title            Revenue Modeling Data Scientist in San Francis...
location                                             San francisco
country                                                         us
full_text        At StubHub, our mission is to bring the joy of...
list_elements                                                   []
row_num                                                       1965
Name: 1965, dtype: object
------
Unnamed: 0                                                    9262
dt                                       2019-09-15 07:26:05 +0000
url              https://www.theladders.com/job/data-scientist-...
title                           Data Scientist in Jacksonville, FL
location                                              Jacksonville
country                                                         us
full_text        In 2018, the University of North Florida (UNF)...
list_elements                                                   []
row_num                                                       1966
Name: 1966, dtype: object
------
Unnamed: 0                                                    9263
dt                                       2019-09-15 07:30:16 +0000
url              https://www.theladders.com/job/associate-direc...
title            Associate Director, Data Scientist in Kenilwor...
location                                                Kenilworth
country                                                         us
full_text        The Role: We are looking for a Data Scientist ...
list_elements                                                   []
row_num                                                       1967
Name: 1967, dtype: object
------
Unnamed: 0                                                    9264
dt                                       2019-09-15 07:39:59 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                        Senior Data Scientist in Suitland, MD
location                                                  Suitland
country                                                         us
full_text        Develop trade-craft techniques and solutions f...
list_elements                                                   []
row_num                                                       1968
Name: 1968, dtype: object
------
Unnamed: 0                                                    9265
dt                                       2019-09-15 07:44:02 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                         Sr Data Scientist in Minneapolis, MN
location                                               Minneapolis
country                                                         us
full_text        Description: Target is an iconic brand, a Fort...
list_elements                                                   []
row_num                                                       1969
Name: 1969, dtype: object
------
Unnamed: 0                                                    9266
dt                                       2019-09-15 07:49:12 +0000
url              https://www.theladders.com/job/principal-data-...
title                     Principal Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Our global house-of-brands inspires and empowe...
list_elements                                                   []
row_num                                                       1970
Name: 1970, dtype: object
------
Unnamed: 0                                                    9267
dt                                       2019-09-15 07:43:04 +0000
url              https://www.theladders.com/job/data-scientist-...
title               Data Scientist SAS Programmer in Rockville, MD
location                                                 Rockville
country                                                         us
full_text        The Challenge: Are you excited at the prospect...
list_elements                                                   []
row_num                                                       1971
Name: 1971, dtype: object
------
Unnamed: 0                                                    9268
dt                                       2019-09-15 07:50:36 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Atlanta, GA
location                                                   Atlanta
country                                                         us
full_text        Company Description CapTech is a national IT m...
list_elements                                                   []
row_num                                                       1972
Name: 1972, dtype: object
------
Unnamed: 0                                                    9269
dt                                       2019-09-15 07:52:08 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Dearborn, MI

Name: 2017, dtype: object
------
Unnamed: 0                                                    9327
dt                                       2019-09-17 17:18:32 +0000
url              https://www.indeed.com/viewjob?jk=1264db06ab0d...
title                                      Data Scientist, Sr Prin
location                                                    Mclean
country                                                         us
full_text        Responsibilities\n\nInvolved in the analysis o...
list_elements                                                   []
row_num                                                       2027
Name: 2027, dtype: object
------
Unnamed: 0                                                    9330
dt                                       2019-09-18 01:42:47 +0000
url              https://www.careerbuilder.com/job/J3R0WS71YRZS...
title                                        Junior Data Scientist
location                                                 Cambridge
country                                                         us
full_text        RESPONSIBILITIES:Kforce has a client in search...
list_elements                                                   []
row_num                                                       2028
Name: 2028, dtype: object
------
Unnamed: 0                                                    9333
dt                                       2019-09-18 01:32:22 +0000
url              https://www.careerbuilder.com/job/J3M3H66XC6R5...
title                                               Data Scientist
location                                                Menlo park
country                                                         us
full_text        Job Title: Data Scientist Location: Menlo Park...
list_elements                                                   []
row_num                                                       2029
Name: 2029, dtype: object
------
Unnamed: 0                                                    9335
dt                                       2019-09-18 01:05:44 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                 Data Scientist, Intermediate
location                                           Charlottesville
country                                                         us
full_text        Collaborate with assigned departments to provi...
list_elements                                                   []
row_num                                                       2030
Name: 2030, dtype: object
------
Unnamed: 0                                                    9336
dt                                       2019-09-18 01:15:23 +0000
url              https://www.careerbuilder.com/job/J3R393708CBZ...
title                                               Data Scientist
location                                                    Boston
country                                                         us
full_text        :Senior Data ScientistWe are an investment man...
list_elements                                                   []
row_num                                                       2031
Name: 2031, dtype: object
------
Unnamed: 0                                                    9337
dt                                       2019-09-18 00:58:33 +0000
url              https://www.careerbuilder.com/job/J3W4LR67XG6H...
title                                       Data Scientist/Analyst
location                                               Santa clara
country                                                         us
full_text        Volt is looking for a Data Analyst for a contr...
list_elements                                                   []
row_num                                                       2032
Name: 2032, dtype: object
------
Unnamed: 0                                                    9338
dt                                       2019-09-18 01:21:09 +0000
url              https://www.careerbuilder.com/job/J3R6QD70VWFC...
title                                               Data Scientist
location                                                    Boston
country                                                         us
full_text        :Data ScientistA holding company for several i...
list_elements                                                   []
row_num                                                       2033
Name: 2033, dtype: object
------
Unnamed: 0                                                    9339
dt                                       2019-09-18 03:11:42 +0000
url              https://www.careerbuilder.com/job/J3V0FJ6M1540...
title                   Senior Data Scientist- Atlanta, GA- $150K+
location                                                   Atlanta
country                                                         us
full_text        Senior Data ScientistAs a Senior Data Scientis...
list_elements                                                   []
row_num                                                       2034
Name: 2034, dtype: object
------
Unnamed: 0                                                    9340
dt                                       2019-09-18 03:11:44 +0000
url              https://www.careerbuilder.com/job/J3N0T65ZMJJT...
title                                   Data Scientist - Ecommerce
location                                                    Boston
country                                                         us
full_text        A start-up ecommerce company in Boston is look...
list_elements                                                   []
row_num                                                       2035
Name: 2035, dtype: object
------
Unnamed: 0                                                    9341
dt                                       2019-09-18 05:36:41 +0000
url              https://job-openings.monster.com/data-scientis...
title                                    Data Scientist, Principal
location                                                 Ann arbor
country                                                         us
full_text        Logistics done differently.     At XPO Logisti...
list_elements                                                   []
row_num                                                       2036
Name: 2036, dtype: object
------
Unnamed: 0                                                    9342
dt                                       2019-09-18 05:28:32 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Pittsburgh
country                                                         us
full_text        We have a client located in the Southside of P...
list_elements                                                   []
row_num                                                       2037
Name: 2037, dtype: object
------
Unnamed: 0                                                    9343
dt                                       2019-09-18 05:32:48 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Austin
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2038
Name: 2038, dtype: object
------
Unnamed: 0                                                    9344
dt                                       2019-09-18 05:34:11 +0000
url              https://job-openings.monster.com/data-scientis...
title                    Data Scientist/ Machine Learning Engineer
location                                                Northbrook
country                                                         us
full_text        Where good people build rewarding careers.  \n...
list_elements                                                   []
row_num                                                       2039
Name: 2039, dtype: object
------
Unnamed: 0                                                    9345
dt                                       2019-09-18 05:42:26 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                      Sr Data Scientist (HCE)
location                                             Morris plains
country                                                         us
full_text        Are you a leader in the data science community...
list_elements                                                   []
row_num                                                       2040
Name: 2040, dtype: object
------
Unnamed: 0                                                    9346
dt                                       2019-09-18 05:37:40 +0000
url              https://job-openings.monster.com/medical-data-...
title                                       Medical Data Scientist
location                                                  Westwood
country                                                         us
full_text        Medical Data Scientist\n\nMust have at least 2...
list_elements                                                   []
row_num                                                       2041
Name: 2041, dtype: object
------
Unnamed: 0                                                    9347
dt                                       2019-09-18 05:49:13 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Carlsbad
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2042
Name: 2042, dtype: object
------
Unnamed: 0                                                    9348
dt                                       2019-09-18 05:51:19 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Centennial
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2043
Name: 2043, dtype: object
------
Unnamed: 0                                                    9349
dt                                       2019-09-18 05:50:53 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                            Sr Data Scientist
location                                                    Boston
country                                                         us
full_text        We are looking for&nbsp;Data Scientists to be ...
list_elements                                                   []
row_num                                                       2044
Name: 2044, dtype: object
------
Unnamed: 0                                                    9350
dt                                       2019-09-18 11:17:43 +0000
url              https://www.indeed.com/viewjob?jk=cb1db17c4fe2...
title            Data Scientist / Machine Learning / DL / AI - ...
location                                                 Liverpool
country                                                         us
full_text        At Lockheed Martin Rotary & Mission Systems, w...
list_elements                                                   []
row_num                                                       2045
Name: 2045, dtype: object
------
Unnamed: 0                                                    9354
dt                                       2019-09-18 12:34:54 +0000
url              https://www.indeed.com/viewjob?jk=4baf6253b5fa...
title                                               DATA SCIENTIST
location                                                   Seattle
country                                                         us
full_text        As a UW employee, you have a unique opportunit...
list_elements                                                   []
row_num                                                       2049
Name: 2049, dtype: object
------
Unnamed: 0                                                    9355
dt                                       2019-09-18 13:17:16 +0000
url              https://job-openings.monster.com/data-scientis...
title                              Data Scientist - Bioinformatics
location                                                 San diego
country                                                         us
full_text        Data Scientist - Bioinformatics \n If you are ...
list_elements                                                   []
row_num                                                       2050
Name: 2050, dtype: object
------
Unnamed: 0                                                    9357
dt                                       2019-09-18 14:19:35 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                                Washington
country                                                         us
full_text        228384                                        ...
list_elements                                                   []
row_num                                                       2052
Name: 2052, dtype: object
------
Unnamed: 0                                                    9358
dt                                       2019-09-18 14:19:36 +0000
url              https://job-openings.monster.com/advanced-cate...
title                  Advanced Category Management Data Scientist
location                                                Long beach
country                                                         us
full_text        About DENSO  \nDENSO is one of the largest glo...
list_elements                                                   []
row_num                                                       2053
Name: 2053, dtype: object
------
Unnamed: 0                                                    9359
dt                                       2019-09-18 14:01:20 +0000
url              https://job-openings.monster.com/senior-data-s...
title                         Senior Data Scientist - Big Data, AI
location                                                    Austin
country                                                         us
full_text        Senior Data Scientist      \n\nLocation: Austi...
list_elements                                                   []
row_num                                                       2054
Name: 2054, dtype: object
------
Unnamed: 0                                                    9360
dt                                       2019-09-18 14:03:21 +0000
url              https://job-openings.monster.com/data-scientis...
title                                 Data Scientist, TS Clearance
location                                                    Fallon
country                                                         us
full_text        WANTED: An experienced \nData Scientist  with ...
list_elements                                                   []
row_num                                                       2055
Name: 2055, dtype: object
------
Unnamed: 0                                                    9361
dt                                       2019-09-18 19:03:51 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Woodlawn
country                                                         us
full_text        Data Scientist  \nThe client is seeking indivi...
list_elements                                                   []
row_num                                                       2056
Name: 2056, dtype: object
------
Unnamed: 0                                                    9362
dt                                       2019-09-18 19:03:57 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Baltimore
country                                                         us
full_text        Candidates will be selected based on quality o...
list_elements                                                   []
row_num                                                       2057
Name: 2057, dtype: object
------
Unnamed: 0                                                    9364
dt                                       2019-09-19 01:02:39 +0000
url              https://www.careerbuilder.com/job/J3V0KQ60JT73...
title                                            IT Data Scientist
location                                               Lake forest
country                                                         us
full_text        Join Reynolds Consumer Products… a world of op...
list_elements                                                   []
row_num                                                       2058
Name: 2058, dtype: object
------
Unnamed: 0                                                    9365
dt                                       2019-09-19 01:02:44 +0000
url              https://www.careerbuilder.com/job/J3P0XX6KG4CJ...
title                                        Senior Data Scientist
location                                                  New york
country                                                         us
full_text        Job ID:19001546Job Summary: We are looking for...
list_elements                                                   []
row_num                                                       2059
Name: 2059, dtype: object
------
Unnamed: 0                                                    9366
dt                                       2019-09-19 01:15:51 +0000
url              https://www.careerbuilder.com/job/J3M2C870HJ31...
title                                           Sr. Data Scientist
location                                                    Boston
country                                                         us
full_text        :An Internet Services company is looking to ad...
list_elements                                                   []
row_num                                                       2060
Name: 2060, dtype: object
------
Unnamed: 0                                                    9367
dt                                       2019-09-19 00:59:43 +0000
url              https://www.careerbuilder.com/job/J3W17F6LJSKZ...
title                                      Data Scientist- Atlanta
location                                                   Atlanta
country                                                         us
full_text        Data ScientistAs a Data Scientist, you will be...
list_elements                                                   []
row_num                                                       2061
Name: 2061, dtype: object
------
Unnamed: 0                                                    9369
dt                                       2019-09-19 01:31:12 +0000
url              https://job-openings.monster.com/data-scientis...

------
Unnamed: 0                                                    9407
dt                                       2019-09-20 01:04:30 +0000
url              https://www.careerbuilder.com/job/J3N1WC6Z6ZB1...
title            Senior NLP Data Scientist / Analytic Consultant 5
location                                                    Dallas
country                                                         us
full_text        At Wells Fargo, we want to satisfy our custome...
list_elements                                                   []
row_num                                                       2095
Name: 2095, dtype: object
------
Unnamed: 0                                                    9408
dt                                       2019-09-20 01:01:02 +0000
url              https://www.careerbuilder.com/job/J3V1KS76M458...
title            Senior NLP Data Scientist / Analytic Consultant 5
location                                                    Irving
country                                                         us
full_text        At Wells Fargo, we want to satisfy our custome...
list_elements                                                   []
row_num                                                       2096
Name: 2096, dtype: object
------
Unnamed: 0                                                    9411
dt                                       2019-09-20 01:03:39 +0000
url              https://www.careerbuilder.com/job/J3R04G6ZDGP0...
title                                     Associate Data Scientist
location                                                    Boston
country                                                         us
full_text        :Associate Data ScientistA healthcare software...
list_elements                                                   []
row_num                                                       2097
Name: 2097, dtype: object
------
Unnamed: 0                                                    9412
dt                                       2019-09-20 01:32:09 +0000
url              https://www.careerbuilder.com/job/J3R5Q8600FPM...
title            Senior NLP Data Scientist / Analytic Consultant 5
location                                                   Addison
country                                                         us
full_text        At Wells Fargo, we want to satisfy our custome...
list_elements                                                   []
row_num                                                       2098
Name: 2098, dtype: object
------
Unnamed: 0                                                    9413
dt                                       2019-09-20 01:01:20 +0000
url              https://www.careerbuilder.com/job/J3W4W0706WSH...
title            Senior NLP Data Scientist / Analytic Consultant 5
location                                                 Charlotte
country                                                         us
full_text        At Wells Fargo, we want to satisfy our custome...
list_elements                                                   []
row_num                                                       2099
Name: 2099, dtype: object
------
Unnamed: 0                                                    9414
dt                                       2019-09-20 02:44:03 +0000
url              https://job-openings.monster.com/principal-dat...
title            Principal Data Scientist / Applied Machine Lea...
location                                                  New york
country                                                         us
full_text        Role Specification5+ years of professional exp...
list_elements                                                   []
row_num                                                       2100
Name: 2100, dtype: object
------
Unnamed: 0                                                    9415
dt                                       2019-09-20 02:41:59 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Cupertino
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2101
Name: 2101, dtype: object
------
Unnamed: 0                                                    9416
dt                                       2019-09-20 03:39:43 +0000
url              https://job-openings.monster.com/data-scientis...
title                            Data Scientist - Machine Learning
location                                               Saint louis
country                                                         us
full_text        If you are passionate to work on unstructured ...
list_elements                                                   []
row_num                                                       2102
Name: 2102, dtype: object
------
Unnamed: 0                                                    9417
dt                                       2019-09-20 05:11:57 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                               Santa clara
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       2103
Name: 2103, dtype: object
------
Unnamed: 0                                                    9418
dt                                       2019-09-20 05:12:18 +0000
url              https://job-openings.monster.com/data-scientis...
title                              Data Scientist - Bioinformatics
location                                                 San diego
country                                                         us
full_text        Data Scientist - Bioinformatics \n If you are ...
list_elements                                                   []
row_num                                                       2104
Name: 2104, dtype: object
------
Unnamed: 0                                                    9419
dt                                       2019-09-20 05:23:57 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Florham park
country                                                         us
full_text        Senior Data Scientist \n We are the leader in ...
list_elements                                                   []
row_num                                                       2105
Name: 2105, dtype: object
------
Unnamed: 0                                                    9421
dt                                       2019-09-20 05:24:50 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Analytics Platform as a...
location                                                    Boston
country                                                         us
full_text        Description  The Senior Data Scientist uses ma...
list_elements                                                   []
row_num                                                       2106
Name: 2106, dtype: object
------
Unnamed: 0                                                    9422
dt                                       2019-09-20 05:24:55 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Boston
country                                                         us
full_text        Client is looking for a data scientist that wi...
list_elements                                                   []
row_num                                                       2107
Name: 2107, dtype: object
------
Unnamed: 0                                                    9423
dt                                       2019-09-20 05:27:39 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Carlsbad
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2108
Name: 2108, dtype: object
------
Unnamed: 0                                                    9425
dt                                       2019-09-20 11:38:10 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Beaverton
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2110
Name: 2110, dtype: object
------
Unnamed: 0                                                    9426
dt                                       2019-09-20 11:40:13 +0000
url              https://job-openings.monster.com/data-scientis...
title                                     Data Scientist - Actuary
location                                                   Reading
country                                                         us
full_text        Data Scientist - Actuary \n \nJob Title:    Da...
list_elements                                                   []
row_num                                                       2111
Name: 2111, dtype: object
------
Unnamed: 0                                                    9427
dt                                       2019-09-20 11:51:33 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                 Lead Data Scientist - REMOTE
location                                              Indianapolis
country                                                         us
full_text        Lead Data Scientist - REMOTE \n If you are a L...
list_elements                                                   []
row_num                                                       2112
Name: 2112, dtype: object
------
Unnamed: 0                                                    9428
dt                                       2019-09-20 14:54:34 +0000
url              https://www.indeed.com/viewjob?jk=3aad1e2c4e7c...
title                       Senior Data Scientist, VSP Vision care
location                                            Rancho cordova
country                                                         us
full_text        Senior Data Scientist, VSP Vision care\n\nDate...
list_elements                                                   []
row_num                                                       2113
Name: 2113, dtype: object
------
Unnamed: 0                                                    9431
dt                                       2019-09-21 00:47:48 +0000
url              https://job-openings.monster.com/federal-cyber...
title                               Federal - Cyber Data Scientist
location                                                 Arlington
country                                                         us
full_text        Organization: Accenture Federal Services \nLoc...
list_elements                                                   []
row_num                                                       2114
Name: 2114, dtype: object
------
Unnamed: 0                                                    9438
dt                                       2019-09-21 01:23:06 +0000
url              https://www.careerbuilder.com/job/J3R5P46SGDHG...
title                                               Data Scientist
location                                                    Austin
country                                                         us
full_text        Perform physical and/or logical data modeling ...
list_elements                                                   []
row_num                                                       2115
Name: 2115, dtype: object
------
Unnamed: 0                                                    9444
dt                                       2019-09-21 01:55:01 +0000
url              https://www.careerbuilder.com/job/J3N2MX66BTXM...
title                                               Data Scientist
location                                              Philadelphia
country                                                         us
full_text        Client is seeking Data Scientist consultant wi...
list_elements                                                   []
row_num                                                       2116
Name: 2116, dtype: object
------
Unnamed: 0                                                    9445
dt                                       2019-09-21 02:12:30 +0000
url              https://www.careerbuilder.com/job/J3P3S1740C1G...
title                                               Data Scientist
location                                                    Austin
country                                                         us
full_text        Job Title : Data Scientist Job Reference # : 1...
list_elements                                                   []
row_num                                                       2117
Name: 2117, dtype: object
------
Unnamed: 0                                                    9446
dt                                       2019-09-21 01:45:53 +0000
url              https://www.careerbuilder.com/job/J3P07X6LGXD8...
title                                        Senior Data Scientist
location                                                  New york
country                                                         us
full_text        Senior Data Scientist - New York City As a Dat...
list_elements                                                   []
row_num                                                       2118
Name: 2118, dtype: object
------
Unnamed: 0                                                    9447
dt                                       2019-09-21 01:56:42 +0000
url              https://www.careerbuilder.com/job/J3Q6XC6HWMBT...
title                                               Data Scientist
location                                                  New york
country                                                         us
full_text        A multinational financial firm is seeking a Da...
list_elements                                                   []
row_num                                                       2119
Name: 2119, dtype: object
------
Unnamed: 0                                                    9448
dt                                       2019-09-21 02:13:14 +0000
url              https://www.careerbuilder.com/job/J3R0LC6DM1PQ...
title                                               Data Scientist
location                                                    Boston
country                                                         us
full_text        : Data ScientistA leading tech firm in Boston ...
list_elements                                                   []
row_num                                                       2120
Name: 2120, dtype: object
------
Unnamed: 0                                                    9449
dt                                       2019-09-21 02:20:56 +0000
url              https://www.careerbuilder.com/job/J3R0YM6G9WKP...
title                                            Data Scientist II
location                                                Burlington
country                                                         us
full_text        Keurig Dr Pepper is building a sophisticated D...
list_elements                                                   []
row_num                                                       2121
Name: 2121, dtype: object
------
Unnamed: 0                                                    9450
dt                                       2019-09-21 02:35:24 +0000
url              https://www.careerbuilder.com/job/J3N4PN63VDQ0...
title                                    Data Scientist, Analytics
location                                                 Santa ana
country                                                         us
full_text        below for your reference: Job Title : Data Sci...
list_elements                                                   []
row_num                                                       2122
Name: 2122, dtype: object
------
Unnamed: 0                                                    9451
dt                                       2019-09-21 03:03:49 +0000
url              https://job-openings.monster.com/freelance-dat...
title                         Freelance Data Scientist / Developer
location                                                    Boston
country                                                         us
full_text        We are looking for Freelance Data Scientists, ...
list_elements                                                   []
row_num                                                       2123
Name: 2123, dtype: object
------
Unnamed: 0                                                    9452
dt                                       2019-09-21 03:42:13 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Bellevue
country                                                         us
full_text        Description    ProKarma   currently has exciti...
list_elements                                                   []
row_num                                                       2124
Name: 2124, dtype: object
------
Unnamed: 0                                                    9454
dt                                       2019-09-21 03:03:35 +0000
url              https://www.indeed.com/viewjob?jk=9046e53c261c...
title                                     Analyst - Data Scientist
location                                                 Arlington
country                                                         us
full_text        Category\n\nFinance and Accounting\n\nJob Loca...
list_elements                                                   []
row_num                                                       2126
Name: 2126, dtype: object
------
Unnamed: 0                                                    9455
dt                                       2019-09-21 03:58:57 +0000
url              https://job-openings.monster.com/medical-data-...
title                                       Medical Data Scientist
location                                                  Westwood
country                                                         us
full_text        Medical Data Scientist\n\nMust have at least 2...
list_elements                                                   []
row_num                                                       2127
Name: 2127, dtype: object
------
Unnamed: 0                                                    9456
dt                                       2019-09-21 03:58:51 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist

Name: 2172, dtype: object
------
Unnamed: 0                                                    9506
dt                                       2019-09-24 02:59:43 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                               Aliso viejo
country                                                         us
full_text        Data Scientist \n We are an established enterp...
list_elements                                                   []
row_num                                                       2173
Name: 2173, dtype: object
------
Unnamed: 0                                                    9508
dt                                       2019-09-24 03:12:47 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                       NaN
country                                                         us
full_text        Bring Big Data to Life!   \nThe Senior Data Sc...
list_elements                                                   []
row_num                                                       2174
Name: 2174, dtype: object
------
Unnamed: 0                                                    9509
dt                                       2019-09-24 03:14:54 +0000
url              https://job-openings.monster.com/data-analytic...
title                               Data Analytics/ Data Scientist
location                                             Silver spring
country                                                         us
full_text        Our client is currently seeking a Data Analyti...
list_elements                                                   []
row_num                                                       2175
Name: 2175, dtype: object
------
Unnamed: 0                                                    9510
dt                                       2019-09-24 03:22:12 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Seattle
country                                                         us
full_text        Senior Data Scientist \n AI/ML Technology Grou...
list_elements                                                   []
row_num                                                       2176
Name: 2176, dtype: object
------
Unnamed: 0                                                    9511
dt                                       2019-09-24 03:15:20 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                                       NaN
country                                                         us
full_text        #TrackingJobBody table, #TrackingJobBody a {  ...
list_elements                                                   []
row_num                                                       2177
Name: 2177, dtype: object
------
Unnamed: 0                                                    9512
dt                                       2019-09-24 03:23:57 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                                          Lead Data Scientist
location                                                Santa cruz
country                                                         us
full_text        Lead Data Scientist \n If you are a Data Scien...
list_elements                                                   []
row_num                                                       2178
Name: 2178, dtype: object
------
Unnamed: 0                                                    9513
dt                                       2019-09-24 03:19:36 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                       NaN
country                                                         us
full_text        Description:\n \n \nHENKEL IS FOR THOSE WHO ST...
list_elements                                                   []
row_num                                                       2179
Name: 2179, dtype: object
------
Unnamed: 0                                                    9515
dt                                       2019-09-24 02:54:18 +0000
url              https://www.careerbuilder.com/job/J2V6PM72HCRF...
title                                               Data Scientist
location                                                Fort worth
country                                                         us
full_text        JOB Data Scientist JOB REQUIREMENTS Advanced d...
list_elements                                                   []
row_num                                                       2180
Name: 2180, dtype: object
------
Unnamed: 0                                                    9516
dt                                       2019-09-24 15:56:38 +0000
url              https://job-openings.monster.com/lead-bioinfor...
title                           Lead Bioinformatics/Data Scientist
location                                                 Palo alto
country                                                         us
full_text        Lead Bioinformatics/Data Scientist \n If you a...
list_elements                                                   []
row_num                                                       2181
Name: 2181, dtype: object
------
Unnamed: 0                                                    9517
dt                                       2019-09-24 19:13:29 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                 Villanova
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       2182
Name: 2182, dtype: object
------
Unnamed: 0                                                    9518
dt                                       2019-09-24 19:07:11 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist  -  Fast-growing, Data Analytic...
list_elements                                                   []
row_num                                                       2183
Name: 2183, dtype: object
------
Unnamed: 0                                                    9519
dt                                       2019-09-24 19:07:21 +0000
url              https://job-openings.monster.com/principal-dat...
title                    Principal Data Scientist (Relo to Boston)
location                                                    Boston
country                                                         us
full_text        Principal Data Scientist (Relo to Boston) \n I...
list_elements                                                   []
row_num                                                       2184
Name: 2184, dtype: object
------
Unnamed: 0                                                    9520
dt                                       2019-09-24 19:10:42 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                              Redwood city
country                                                         us
full_text        NEW Senior Data Scientist!!! \n  \n \n\nRead B...
list_elements                                                   []
row_num                                                       2185
Name: 2185, dtype: object
------
Unnamed: 0                                                    9521
dt                                       2019-09-24 19:10:58 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                               Santa clara
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       2186
Name: 2186, dtype: object
------
Unnamed: 0                                                    9522
dt                                       2019-09-24 19:09:32 +0000
url              https://job-openings.monster.com/sr-data-scien...
title            Sr. Data Scientist - Fraud Detection/AML/Lower...
location                                                  New york
country                                                         us
full_text        Read Below and See If This Position Is A Fit! ...
list_elements                                                   []
row_num                                                       2187
Name: 2187, dtype: object
------
Unnamed: 0                                                    9523
dt                                       2019-09-24 19:07:43 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Phoenix
country                                                         us
full_text        Data Scientist \n\nOne of our clients, a globa...
list_elements                                                   []
row_num                                                       2188
Name: 2188, dtype: object
------
Unnamed: 0                                                    9524
dt                                       2019-09-24 19:07:46 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Deep Learning (Relo to ...
location                                                    Boston
country                                                         us
full_text        Senior Data Scientist, Deep Learning (Relo to ...
list_elements                                                   []
row_num                                                       2189
Name: 2189, dtype: object
------
Unnamed: 0                                                    9525
dt                                       2019-09-24 19:14:09 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Carlsbad
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2190
Name: 2190, dtype: object
------
Unnamed: 0                                                    9527
dt                                       2019-09-24 19:13:36 +0000
url              https://job-openings.monster.com/sr-data-scien...
title            Sr. Data Scientist - Cyber Security / Lower Ma...
location                                                  New york
country                                                         us
full_text        Read Below and See If This Position Is A Fit! ...
list_elements                                                   []
row_num                                                       2191
Name: 2191, dtype: object
------
Unnamed: 0                                                    9529
dt                                       2019-09-25 00:43:52 +0000
url              https://www.theladders.com/job/actuarial-data-...
title                       Actuarial Data Scientist in Irving, TX
location                                                    Irving
country                                                         us
full_text        Excellent knowledge of spreadsheet software an...
list_elements                                                   []
row_num                                                       2192
Name: 2192, dtype: object
------
Unnamed: 0                                                    9530
dt                                       2019-09-25 01:11:49 +0000
url              https://www.careerbuilder.com/job/J3M47Z6MGPGH...
title                      IT Solutions Architect (Data Scientist)
location                                                    Irvine
country                                                         us
full_text        Job #: 995698 Sr. Data Scientist Costa Mesa, C...
list_elements                                                   []
row_num                                                       2193
Name: 2193, dtype: object
------
Unnamed: 0                                                    9531
dt                                       2019-09-25 01:19:34 +0000
url              https://www.careerbuilder.com/job/J3Q37F5XKGPS...
title                                               Data Scientist
location                                                    Boston
country                                                         us
full_text        Ref ID: 02100-0011090560Classification: Data S...
list_elements                                                   []
row_num                                                       2194
Name: 2194, dtype: object
------
Unnamed: 0                                                    9532
dt                                       2019-09-25 01:22:18 +0000
url              https://www.careerbuilder.com/job/J3N8836JBFV7...
title                                               Data Scientist
location                                                Schaumburg
country                                                         us
full_text        Welcome! Are you seeking a global, well-establ...
list_elements                                                   []
row_num                                                       2195
Name: 2195, dtype: object
------
Unnamed: 0                                                    9533
dt                                       2019-09-25 01:16:03 +0000
url              https://www.careerbuilder.com/job/J3T83Y69WQYF...
title            Data Analyst/Data Scientist with expertise on ...
location                                               San antonio
country                                                         us
full_text        Overview We do have an immediate oppurtunity w...
list_elements                                                   []
row_num                                                       2196
Name: 2196, dtype: object
------
Unnamed: 0                                                    9534
dt                                       2019-09-25 01:20:11 +0000
url              https://www.careerbuilder.com/job/JDD1VS6P5H8D...
title            Urgent Job Opening :: Data Scientist / Data En...
location                                                    Boston
country                                                         us
full_text        : Should have extensive experience in Machine ...
list_elements                                                   []
row_num                                                       2197
Name: 2197, dtype: object
------
Unnamed: 0                                                    9535
dt                                       2019-09-25 01:16:24 +0000
url              https://www.careerbuilder.com/job/J3T1ZC5WB496...
title                                         Lead, Data Scientist
location                                                     Miami
country                                                         us
full_text        Position Summary: This position is responsible...
list_elements                                                   []
row_num                                                       2198
Name: 2198, dtype: object
------
Unnamed: 0                                                    9536
dt                                       2019-09-25 01:45:16 +0000
url              https://www.careerbuilder.com/job/J3Q3B978C3W6...
title                                        Senior Data Scientist
location                                                   Boulder
country                                                         us
full_text        If this job looks great for you, apply below o...
list_elements                                                   []
row_num                                                       2199
Name: 2199, dtype: object
------
Unnamed: 0                                                    9537
dt                                       2019-09-25 01:56:58 +0000
url              https://www.careerbuilder.com/job/J3W59077YW9R...
title            Subject Matter Expert (Data Scientist/ Data Mo...
location                                                   Atlanta
country                                                         us
full_text        Job ID RFQ1372632 Job Title Subject Matter Exp...
list_elements                                                   []
row_num                                                       2200
Name: 2200, dtype: object
------
Unnamed: 0                                                    9538
dt                                       2019-09-25 02:02:50 +0000
url              https://www.careerbuilder.com/job/J3R80K6CPMCK...
title                        Data Scientist- $90-110K- Atlanta, GA
location                                             Sandy springs
country                                                         us
full_text        Data ScientistAs a Data Scientist, you will be...
list_elements                                                   []
row_num                                                       2201
Name: 2201, dtype: object
------
Unnamed: 0                                                    9539
dt                                       2019-09-25 02:07:28 +0000
url              https://www.careerbuilder.com/job/J2P1YQ6B835P...
title                                               Data Scientist
location                                                Schaumburg
country                                                         us
full_text        INX is looking for a Data Scientist who will s...
list_elements                                                   []
row_num                                                       2202
Name: 2202, dtype: object
------
Unnamed: 0                                                    9540
dt                                       2019-09-25 01:59:30 +0000
url              https://www.careerbuilder.com/job/J3V043616VCZ...
title              PART TIME Data Scientist Apprentice (bilingual)
location                                                    Austin
country                                                         us
full_text        : The data science team is looking for part-ti...
list_elements                                                   []
row_num                                                       2203
Name: 2203, dtype: object
------
Unnamed: 0                                                    9542
dt                                       2019-09-25 02:38:38 +0000
url              https://www.careerbuilder.com/job/J3R6166DPFN5...

Name: 2235, dtype: object
------
Unnamed: 0                                                    9574
dt                                       2019-09-25 05:03:09 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Cincinnati, OH
location                                                Cincinnati
country                                                         us
full_text        Responsibilities Engage with internal or exter...
list_elements                                                   []
row_num                                                       2236
Name: 2236, dtype: object
------
Unnamed: 0                                                    9576
dt                                       2019-09-25 05:02:45 +0000
url              https://www.theladders.com/job/junior-engineer...
title               Junior Engineer/Data Scientist in Dumfries, VA
location                                                  Dumfries
country                                                         us
full_text        Job Title: Junior Engineer/Data Scientist Loca...
list_elements                                                   []
row_num                                                       2237
Name: 2237, dtype: object
------
Unnamed: 0                                                    9577
dt                                       2019-09-25 04:40:25 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist, Safety Assessment in South San...
location                                       South san francisco
country                                                         us
full_text        The Position The Department of Safety Assessme...
list_elements                                                   []
row_num                                                       2238
Name: 2238, dtype: object
------
Unnamed: 0                                                    9578
dt                                       2019-09-25 05:01:05 +0000
url              https://www.theladders.com/job/operational-dat...
title                     Operational Data Scientist in Laurel, MD
location                                                    Laurel
country                                                         us
full_text        We are seeking a creative and motivated person...
list_elements                                                   []
row_num                                                       2239
Name: 2239, dtype: object
------
Unnamed: 0                                                    9579
dt                                       2019-09-25 04:55:28 +0000
url              https://www.theladders.com/job/ai-data-scienti...
title            AI Data Scientist - Machine Learning TS/SCI in...
location                                                Washington
country                                                         us
full_text        Responsibilities Build the future of Data Scie...
list_elements                                                   []
row_num                                                       2240
Name: 2240, dtype: object
------
Unnamed: 0                                                    9580
dt                                       2019-09-25 04:58:56 +0000
url              https://www.theladders.com/job/lead-data-scien...
title            Lead Data Scientist - Healthcare in Cincinnati...
location                                                Cincinnati
country                                                         us
full_text        Who We Are In a digital economy data is the 21...
list_elements                                                   []
row_num                                                       2241
Name: 2241, dtype: object
------
Unnamed: 0                                                    9581
dt                                       2019-09-25 04:57:55 +0000
url              https://www.theladders.com/job/-senior-data-sc...
title            Senior Data Scientist/Statistician in San Jose...
location                                                  San jose
country                                                         us
full_text        The Sr. Data Scientist/Statistician will be pa...
list_elements                                                   []
row_num                                                       2242
Name: 2242, dtype: object
------
Unnamed: 0                                                    9582
dt                                       2019-09-25 04:55:14 +0000
url              https://www.theladders.com/job/ai-data-scienti...
title                        AI Data Scientist Lead in Mc Lean, VA
location                                                       NaN
country                                                         us
full_text        Responsibilities Build the future of Data Scie...
list_elements                                                   []
row_num                                                       2243
Name: 2243, dtype: object
------
Unnamed: 0                                                    9583
dt                                       2019-09-25 05:01:10 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                           Lead Data Scientist in Atlanta, GA
location                                                   Atlanta
country                                                         us
full_text        JOB DESCRIPTION The Lead Data Scientist plays ...
list_elements                                                   []
row_num                                                       2244
Name: 2244, dtype: object
------
Unnamed: 0                                                    9584
dt                                       2019-09-25 05:09:11 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        About Zyper A rare opportunity to join the eng...
list_elements                                                   []
row_num                                                       2245
Name: 2245, dtype: object
------
Unnamed: 0                                                    9585
dt                                       2019-09-25 05:15:39 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Operations Research in ...
location                                             San francisco
country                                                         us
full_text        AMS is seeking an operations research data sci...
list_elements                                                   []
row_num                                                       2246
Name: 2246, dtype: object
------
Unnamed: 0                                                    9586
dt                                       2019-09-25 05:05:43 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Boston, MA
location                                                    Boston
country                                                         us
full_text        Position Description: Do you want to do someth...
list_elements                                                   []
row_num                                                       2247
Name: 2247, dtype: object
------
Unnamed: 0                                                    9587
dt                                       2019-09-25 05:13:08 +0000
url              https://www.theladders.com/job/deep-learning-d...
title                Deep Learning Data Scientist in San Diego, CA
location                                                 San diego
country                                                         us
full_text        With all the investments made in analytics, it...
list_elements                                                   []
row_num                                                       2248
Name: 2248, dtype: object
------
Unnamed: 0                                                    9588
dt                                       2019-09-25 05:12:21 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                         Senior Data Scientist in Mc Lean, VA
location                                                       NaN
country                                                         us
full_text        JOB DESCRIPTION TEGNA is seeking an experience...
list_elements                                                   []
row_num                                                       2249
Name: 2249, dtype: object
------
Unnamed: 0                                                    9589
dt                                       2019-09-25 05:08:45 +0000
url              https://www.theladders.com/job/data-scientist-...
title                        Data Scientist, Lead in San Diego, CA
location                                                 San diego
country                                                         us
full_text        Data Scientist, Lead The Challenge: Are you ex...
list_elements                                                   []
row_num                                                       2250
Name: 2250, dtype: object
------
Unnamed: 0                                                    9590
dt                                       2019-09-25 05:35:14 +0000
url              https://www.theladders.com/job/data-scientist-...
title                        Data Scientist in Hoffman Estates, IL
location                                                   Hoffman
country                                                         us
full_text        The Data Scientist is responsible for developi...
list_elements                                                   []
row_num                                                       2251
Name: 2251, dtype: object
------
Unnamed: 0                                                    9591
dt                                       2019-09-25 05:12:52 +0000
url              https://www.theladders.com/job/data-scientist-...
title                            Data Scientist in Kansas City, MO
location                                               Kansas city
country                                                         us
full_text        Job Description The Data Scientist shall suppo...
list_elements                                                   []
row_num                                                       2252
Name: 2252, dtype: object
------
Unnamed: 0                                                    9592
dt                                       2019-09-25 05:35:54 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        We're looking for an expert Data Scientist to ...
list_elements                                                   []
row_num                                                       2253
Name: 2253, dtype: object
------
Unnamed: 0                                                    9593
dt                                       2019-09-25 05:39:29 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        THE COMPANY Legends is a holistic agency that ...
list_elements                                                   []
row_num                                                       2254
Name: 2254, dtype: object
------
Unnamed: 0                                                    9594
dt                                       2019-09-25 05:24:12 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Roseland, NJ
location                                                  Roseland
country                                                         us
full_text        POSITION SUMMARY We are looking for a Data Sci...
list_elements                                                   []
row_num                                                       2255
Name: 2255, dtype: object
------
Unnamed: 0                                                    9595
dt                                       2019-09-25 05:38:19 +0000
url              https://www.theladders.com/job/-sr-data-scient...
title                            Sr. Data Scientist in Atlanta, GA
location                                                   Atlanta
country                                                         us
full_text        Description The senior data scientist will be ...
list_elements                                                   []
row_num                                                       2256
Name: 2256, dtype: object
------
Unnamed: 0                                                    9596
dt                                       2019-09-25 05:25:33 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        This is a key role in SmartThings' New York-ba...
list_elements                                                   []
row_num                                                       2257
Name: 2257, dtype: object
------
Unnamed: 0                                                    9597
dt                                       2019-09-25 05:29:43 +0000
url              https://www.theladders.com/job/genomics-data-s...
title                        Genomics Data Scientist in Durham, NC
location                                                    Durham
country                                                         us
full_text        We are seeking a curious and collaborative res...
list_elements                                                   []
row_num                                                       2258
Name: 2258, dtype: object
------
Unnamed: 0                                                    9598
dt                                       2019-09-25 05:09:48 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                           Sr. Data Scientist in Columbia, MD
location                                                  Columbia
country                                                         us
full_text        The Sr. Data Scientist's primary responsibilit...
list_elements                                                   []
row_num                                                       2259
Name: 2259, dtype: object
------
Unnamed: 0                                                    9599
dt                                       2019-09-25 05:19:44 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Knoxville, TN
location                                                 Knoxville
country                                                         us
full_text        Description ABS Group is a global company that...
list_elements                                                   []
row_num                                                       2260
Name: 2260, dtype: object
------
Unnamed: 0                                                    9600
dt                                       2019-09-25 05:16:40 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Duluth, GA
location                                                    Duluth
country                                                         us
full_text        Structuring, analyzing and interpreting inform...
list_elements                                                   []
row_num                                                       2261
Name: 2261, dtype: object
------
Unnamed: 0                                                    9601
dt                                       2019-09-25 05:01:05 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        POSITION SUMMARY Aktana is looking for an expe...
list_elements                                                   []
row_num                                                       2262
Name: 2262, dtype: object
------
Unnamed: 0                                                    9602
dt                                       2019-09-25 05:06:43 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist / Data Analytics Manager in New...
location                                                  New york
country                                                         us
full_text        Zola, the fastest growing wedding company in t...
list_elements                                                   []
row_num                                                       2263
Name: 2263, dtype: object
------
Unnamed: 0                                                    9603
dt                                       2019-09-25 05:28:07 +0000
url              https://www.theladders.com/job/principal-data-...
title                       Principal Data Scientist in Boston, MA
location                                                    Boston
country                                                         us
full_text        Role Summary: Avitas Systems is a BHGE venture...
list_elements                                                   []
row_num                                                       2264
Name: 2264, dtype: object
------
Unnamed: 0                                                    9604
dt                                       2019-09-25 05:20:15 +0000
url              https://www.theladders.com/job/distinguished-d...
title               Distinguished Data Scientist in Piscataway, NJ
location                                                Piscataway
country                                                         us
full_text        You'll be a thought leader who challenges the ...
list_elements                                                   []
row_num                                                       2265
Name: 2265, dtype: object
------
Unnamed: 0                                                    9605
dt                                       2019-09-25 05:54:26 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        At Afresh, we're solving the big problems arou...
list_elements                                                   []
row_num                                                       2266
Name: 2266, dtype: object
------
Unnamed: 0                                                    9606
dt                                       2019-09-25 05:36:58 +0000
url              https://www.theladders.com/job/senior-data-sci...

Name: 2299, dtype: object
------
Unnamed: 0                                                    9639
dt                                       2019-09-25 06:20:19 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist, Product Analytics in Sa...
location                                             San francisco
country                                                         us
full_text        The Patreon Data Science team makes it easy to...
list_elements                                                   []
row_num                                                       2300
Name: 2300, dtype: object
------
Unnamed: 0                                                    9640
dt                                       2019-09-25 06:16:14 +0000
url              https://www.theladders.com/job/principal-data-...
title                     Principal Data Scientist in Bellevue, WA
location                                                  Bellevue
country                                                         us
full_text        The Data Science team is a shared-service to t...
list_elements                                                   []
row_num                                                       2301
Name: 2301, dtype: object
------
Unnamed: 0                                                    9641
dt                                       2019-09-25 06:27:37 +0000
url              https://www.theladders.com/job/-data-scientist...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Description Greystone is a national financial ...
list_elements                                                   []
row_num                                                       2302
Name: 2302, dtype: object
------
Unnamed: 0                                                    9642
dt                                       2019-09-25 06:32:15 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Rosemead, CA
location                                                  Rosemead
country                                                         us
full_text        About Customer Service Southern California Edi...
list_elements                                                   []
row_num                                                       2303
Name: 2303, dtype: object
------
Unnamed: 0                                                    9643
dt                                       2019-09-25 05:55:13 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                           Sr. Data Scientist in Columbia, MD
location                                                  Columbia
country                                                         us
full_text        The Senior Data Scientist's primary responsibi...
list_elements                                                   []
row_num                                                       2304
Name: 2304, dtype: object
------
Unnamed: 0                                                    9644
dt                                       2019-09-25 06:18:04 +0000
url              https://www.theladders.com/job/data-scientist-...
title                       Data Scientist, OCI in Culver City, CA
location                                               Culver city
country                                                         us
full_text        Preferred Qualifications Oracle's OCI Data Sci...
list_elements                                                   []
row_num                                                       2305
Name: 2305, dtype: object
------
Unnamed: 0                                                    9645
dt                                       2019-09-25 05:50:36 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                          Lead Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Description ​​ Position Summary: MassMutual's ...
list_elements                                                   []
row_num                                                       2306
Name: 2306, dtype: object
------
Unnamed: 0                                                    9646
dt                                       2019-09-25 06:23:09 +0000
url              https://www.theladders.com/job/director-data-s...
title            Director - Data Scientist, Modeling in San Fra...
location                                             San francisco
country                                                         us
full_text        Job Summary: Disney Streaming Services is an i...
list_elements                                                   []
row_num                                                       2307
Name: 2307, dtype: object
------
Unnamed: 0                                                    9647
dt                                       2019-09-25 05:48:19 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                 Data Scientist in Skokie, IL
location                                                    Skokie
country                                                         us
full_text        If you are an experienced Data Scientist looki...
list_elements                                                   []
row_num                                                       2308
Name: 2308, dtype: object
------
Unnamed: 0                                                    9648
dt                                       2019-09-25 06:21:38 +0000
url              https://www.theladders.com/job/manager-data-sc...
title            Manager, Data Scientist, Credit Review in Mc L...
location                                                       NaN
country                                                         us
full_text        At Capital One, we're building a leading infor...
list_elements                                                   []
row_num                                                       2309
Name: 2309, dtype: object
------
Unnamed: 0                                                    9649
dt                                       2019-09-25 06:25:34 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Amazon is investing heavily in building a worl...
list_elements                                                   []
row_num                                                       2310
Name: 2310, dtype: object
------
Unnamed: 0                                                    9650
dt                                       2019-09-25 06:21:52 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Description: Participates in the development, ...
list_elements                                                   []
row_num                                                       2311
Name: 2311, dtype: object
------
Unnamed: 0                                                    9651
dt                                       2019-09-25 06:26:26 +0000
url              https://www.theladders.com/job/director-data-s...
title            Director - Data Scientist, Experimentation in ...
location                                             San francisco
country                                                         us
full_text        Job Summary: Disney Streaming Services is an i...
list_elements                                                   []
row_num                                                       2312
Name: 2312, dtype: object
------
Unnamed: 0                                                    9652
dt                                       2019-09-25 06:18:10 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Monterey, CA
location                                                  Monterey
country                                                         us
full_text        In this role you will be adept at using large ...
list_elements                                                   []
row_num                                                       2313
Name: 2313, dtype: object
------
Unnamed: 0                                                    9653
dt                                       2019-09-25 05:58:43 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                        Senior Data Scientist in Carlsbad, CA
location                                                  Carlsbad
country                                                         us
full_text        Bigger challenges. Bolder ideas. Global impact...
list_elements                                                   []
row_num                                                       2314
Name: 2314, dtype: object
------
Unnamed: 0                                                    9654
dt                                       2019-09-25 06:09:02 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Operations Research in Cheste...
location                                              Chesterfield
country                                                         us
full_text        Your tasks and responsibilities The primary re...
list_elements                                                   []
row_num                                                       2315
Name: 2315, dtype: object
------
Unnamed: 0                                                    9655
dt                                       2019-09-25 06:27:41 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Bethesda, MD
location                                                  Bethesda
country                                                         us
full_text        List daily duties and/or specific job responsi...
list_elements                                                   []
row_num                                                       2316
Name: 2316, dtype: object
------
Unnamed: 0                                                    9656
dt                                       2019-09-25 06:24:40 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Pittsburgh, PA
location                                                Pittsburgh
country                                                         us
full_text        Position Description This position is responsi...
list_elements                                                   []
row_num                                                       2317
Name: 2317, dtype: object
------
Unnamed: 0                                                    9657
dt                                       2019-09-25 06:20:44 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in Santa Barbara, CA
location                                             Santa barbara
country                                                         us
full_text        Job Description Apeel's position in the global...
list_elements                                                   []
row_num                                                       2318
Name: 2318, dtype: object
------
Unnamed: 0                                                    9659
dt                                       2019-09-25 05:42:56 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Graph in Mountain View...
location                                             Mountain view
country                                                         us
full_text        Responsibilities Research applications of Grap...
list_elements                                                   []
row_num                                                       2319
Name: 2319, dtype: object
------
Unnamed: 0                                                    9660
dt                                       2019-09-25 05:36:21 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                  Data Scientist in Miami, FL
location                                                     Miami
country                                                         us
full_text        Summary of Position: The Data Scientist will b...
list_elements                                                   []
row_num                                                       2320
Name: 2320, dtype: object
------
Unnamed: 0                                                    9661
dt                                       2019-09-25 05:37:57 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        Employees at The RealReal are dedicated, colla...
list_elements                                                   []
row_num                                                       2321
Name: 2321, dtype: object
------
Unnamed: 0                                                    9662
dt                                       2019-09-25 05:42:49 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Deep Learning in Mount...
location                                             Mountain view
country                                                         us
full_text        At Aera Technology, we apply Internet scale te...
list_elements                                                   []
row_num                                                       2322
Name: 2322, dtype: object
------
Unnamed: 0                                                    9663
dt                                       2019-09-25 06:05:50 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Herndon, VA
location                                                   Herndon
country                                                         us
full_text        Overview LMI is looking for a Data Scientist t...
list_elements                                                   []
row_num                                                       2323
Name: 2323, dtype: object
------
Unnamed: 0                                                    9664
dt                                       2019-09-25 05:20:36 +0000
url              https://www.theladders.com/job/distinguished-d...
title                 Distinguished Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        You'll be a thought leader who challenges the ...
list_elements                                                   []
row_num                                                       2324
Name: 2324, dtype: object
------
Unnamed: 0                                                    9665
dt                                       2019-09-25 05:42:31 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in El Segundo, CA
location                                                El segundo
country                                                         us
full_text        Description Our client is looking for an exper...
list_elements                                                   []
row_num                                                       2325
Name: 2325, dtype: object
------
Unnamed: 0                                                    9666
dt                                       2019-09-25 05:53:55 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                         Senior Data Scientist in Seattle, WA
location                                                   Seattle
country                                                         us
full_text        Porch is looking for an accomplished, hands-on...
list_elements                                                   []
row_num                                                       2326
Name: 2326, dtype: object
------
Unnamed: 0                                                    9667
dt                                       2019-09-25 05:56:25 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                           Lead Data Scientist in Seattle, WA
location                                                   Seattle
country                                                         us
full_text        Porch is looking for an accomplished, hands-on...
list_elements                                                   []
row_num                                                       2327
Name: 2327, dtype: object
------
Unnamed: 0                                                    9668
dt                                       2019-09-25 05:23:04 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - New Construction in Se...
location                                                   Seattle
country                                                         us
full_text        About the team Zillow Group's New Construction...
list_elements                                                   []
row_num                                                       2328
Name: 2328, dtype: object
------
Unnamed: 0                                                    9669
dt                                       2019-09-25 05:35:24 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        Please review the job details below. Do you ha...
list_elements                                                   []
row_num                                                       2329
Name: 2329, dtype: object
------
Unnamed: 0                                                    9670
dt                                       2019-09-25 05:41:47 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Machine Learning Engin...
location                                             Mountain view
country                                                         us
full_text        Responsibilities You will be responsible for d...
list_elements                                                   []
row_num                                                       2330
Name: 2330, dtype: object
------
Unnamed: 0                                                    9671
dt                                       2019-09-25 05:17:22 +0000
url              https://www.theladders.com/job/data-scientist-...

Name: 2365, dtype: object
------
Unnamed: 0                                                    9706
dt                                       2019-09-25 18:22:40 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                  Pasadena
country                                                         us
full_text        Job Summary   \nAs a Senior Data Scientist at ...
list_elements                                                   []
row_num                                                       2366
Name: 2366, dtype: object
------
Unnamed: 0                                                    9707
dt                                       2019-09-26 01:16:09 +0000
url              https://job-openings.monster.com/data-scientis...
title                                          Data Scientist, Mid
location                                                       NaN
country                                                         us
full_text        Data Scientist, Mid\n\nThe Challenge: \n\nAre ...
list_elements                                                   []
row_num                                                       2367
Name: 2367, dtype: object
------
Unnamed: 0                                                    9708
dt                                       2019-09-26 01:44:50 +0000
url              https://job-openings.monster.com/principal-dat...
title            Principal Data Scientist - Eden Prairie, MN or...
location                                              Eden prairie
country                                                         us
full_text        The Data Science Transformation team seeks a\n...
list_elements                                                   []
row_num                                                       2368
Name: 2368, dtype: object
------
Unnamed: 0                                                    9709
dt                                       2019-09-26 01:47:22 +0000
url              https://job-openings.monster.com/principal-dat...
title            Principal Data Scientist - Eden Prairie, MN, B...
location                                              Eden prairie
country                                                         us
full_text        The \nPrincipal Data Scientist  is responsible...
list_elements                                                   []
row_num                                                       2369
Name: 2369, dtype: object
------
Unnamed: 0                                                    9710
dt                                       2019-09-26 01:03:41 +0000
url              https://www.careerbuilder.com/job/J3V0XK6NWPXG...
title              PART TIME Data Scientist Apprentice (bilingual)
location                                                    Austin
country                                                         us
full_text        : The data science team is looking for part-ti...
list_elements                                                   []
row_num                                                       2370
Name: 2370, dtype: object
------
Unnamed: 0                                                    9711
dt                                       2019-09-26 01:22:07 +0000
url              https://www.careerbuilder.com/job/J3N5NJ7523B5...
title                                               Data Scientist
location                                                     Tempe
country                                                         us
full_text        Circle K is a great place to work! Here is why...
list_elements                                                   []
row_num                                                       2371
Name: 2371, dtype: object
------
Unnamed: 0                                                    9712
dt                                       2019-09-26 02:18:13 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title            Statistical Researcher / Data Scientist I (Sci...
location                                            Salt lake city
country                                                         us
full_text        If faculty, tenure track status: Not Applicabl...
list_elements                                                   []
row_num                                                       2372
Name: 2372, dtype: object
------
Unnamed: 0                                                    9713
dt                                       2019-09-26 02:14:55 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                                  New york
country                                                         us
full_text        Location: US-NY-New York Department: Office of...
list_elements                                                   []
row_num                                                       2373
Name: 2373, dtype: object
------
Unnamed: 0                                                    9714
dt                                       2019-09-26 01:36:50 +0000
url              https://www.careerbuilder.com/job/J3W2L96B4M50...
title                                               Data Scientist
location                                                Cincinnati
country                                                         us
full_text        The Company Worldpay is a global payments lead...
list_elements                                                   []
row_num                                                       2374
Name: 2374, dtype: object
------
Unnamed: 0                                                    9715
dt                                       2019-09-26 01:48:12 +0000
url              https://www.careerbuilder.com/job/J3R6886CJZDS...
title                                            Sr Data Scientist
location                                                   Chicago
country                                                         us
full_text        As a Sr. Data Scientist on Grainger’s analytic...
list_elements                                                   []
row_num                                                       2375
Name: 2375, dtype: object
------
Unnamed: 0                                                    9716
dt                                       2019-09-26 02:03:51 +0000
url              https://www.careerbuilder.com/job/J3N1LY6KX8LC...
title                                               Data Scientist
location                                                 Fort mill
country                                                         us
full_text        Schaeffler, a global automotive and industrial...
list_elements                                                   []
row_num                                                       2376
Name: 2376, dtype: object
------
Unnamed: 0                                                    9717
dt                                       2019-09-26 04:18:07 +0000
url              https://job-openings.monster.com/data-scientis...
title                                       Data Scientist Analyst
location                                                Menlo park
country                                                         us
full_text        If you are interested in a contract job please...
list_elements                                                   []
row_num                                                       2377
Name: 2377, dtype: object
------
Unnamed: 0                                                    9719
dt                                       2019-09-26 04:21:07 +0000
url              https://job-openings.monster.com/data-scientis...
title                      Data Scientist-Dealer Network Analytics
location                                              Auburn hills
country                                                         us
full_text        The Dealer Network Analytics Data Scientist is...
list_elements                                                   []
row_num                                                       2378
Name: 2378, dtype: object
------
Unnamed: 0                                                    9720
dt                                       2019-09-26 04:22:08 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Annapolis
country                                                         us
full_text        Data Scientist\n\nThe Challenge: \n\nAre you e...
list_elements                                                   []
row_num                                                       2379
Name: 2379, dtype: object
------
Unnamed: 0                                                    9721
dt                                       2019-09-26 04:26:59 +0000
url              https://job-openings.monster.com/senior-data-s...
title            Senior Data Scientist, Data Privacy  (Relo to ...
location                                                    Boston
country                                                         us
full_text        Senior Data Scientist, Data Privacy  (Relo to ...
list_elements                                                   []
row_num                                                       2380
Name: 2380, dtype: object
------
Unnamed: 0                                                    9722
dt                                       2019-09-26 03:54:57 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist (Machine Learning, IIoT) / Manu...
location                                                   Peapack
country                                                         us
full_text        Our client, a world leading Pharmaceutical Com...
list_elements                                                   []
row_num                                                       2381
Name: 2381, dtype: object
------
Unnamed: 0                                                    9723
dt                                       2019-09-26 04:28:15 +0000
url              https://job-openings.monster.com/statistical-r...
title            Statistical Researcher / Data Scientist I (Sci...
location                                            Salt lake city
country                                                         us
full_text        Statistical Researcher / Data Scientist I (Sci...
list_elements                                                   []
row_num                                                       2382
Name: 2382, dtype: object
------
Unnamed: 0                                                    9724
dt                                       2019-09-26 04:30:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                       NaN
country                                                         us
full_text        DATA SCIENTIST\n\nJOB SUMMARY\n\nAs part of ou...
list_elements                                                   []
row_num                                                       2383
Name: 2383, dtype: object
------
Unnamed: 0                                                    9725
dt                                       2019-09-26 06:11:39 +0000
url              https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
title                                               Data Scientist
location                                                       NaN
country                                                         us
full_text        The professionals at the National Security Age...
list_elements                                                   []
row_num                                                       2384
Name: 2384, dtype: object
------
Unnamed: 0                                                    9729
dt                                       2019-09-26 11:57:20 +0000
url              https://job-openings.monster.com/principal-dat...
title                                    Principal, Data Scientist
location                                                Menlo park
country                                                         us
full_text        More than 30 years ago, E*TRADE pioneered the ...
list_elements                                                   []
row_num                                                       2388
Name: 2388, dtype: object
------
Unnamed: 0                                                    9730
dt                                       2019-09-26 11:57:08 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                Pittsburgh
country                                                         us
full_text        Are you motivated bycracking tough challenges ...
list_elements                                                   []
row_num                                                       2389
Name: 2389, dtype: object
------
Unnamed: 0                                                    9731
dt                                       2019-09-26 12:02:21 +0000
url              https://job-openings.monster.com/data-scientis...
title                 Data Scientist - Connected Vehicle Analytics
location                                                  Dearborn
country                                                         us
full_text        The Global Data Insights and Analytics (GDI&A)...
list_elements                                                   []
row_num                                                       2390
Name: 2390, dtype: object
------
Unnamed: 0                                                    9732
dt                                       2019-09-26 11:57:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Palo alto
country                                                         us
full_text        Job description:   \n\nData Scientist position...
list_elements                                                   []
row_num                                                       2391
Name: 2391, dtype: object
------
Unnamed: 0                                                    9733
dt                                       2019-09-27 01:39:54 +0000
url              https://job-openings.monster.com/data-scientis...
title                          Data Scientist, Operations Research
location                                               San antonio
country                                                         us
full_text        Current employees and contingent workers click...
list_elements                                                   []
row_num                                                       2392
Name: 2392, dtype: object
------
Unnamed: 0                                                    9734
dt                                       2019-09-27 01:08:50 +0000
url              https://www.careerbuilder.com/job/J3N3RD78QWKH...
title                                               Data Scientist
location                                                Cincinnati
country                                                         us
full_text        The CompanyWorldpay is a global payments leade...
list_elements                                                   []
row_num                                                       2393
Name: 2393, dtype: object
------
Unnamed: 0                                                    9735
dt                                       2019-09-27 01:33:03 +0000
url              https://www.careerbuilder.com/job/J3W3C9627DP5...
title                        Data Scientist –AI Safety Engineering
location                                                 Charlotte
country                                                         us
full_text        Genesis10 is currently seeking a Data Scientis...
list_elements                                                   []
row_num                                                       2394
Name: 2394, dtype: object
------
Unnamed: 0                                                    9736
dt                                       2019-09-27 03:14:32 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Seattle
country                                                         us
full_text        Job Description         \n           Role Summ...
list_elements                                                   []
row_num                                                       2395
Name: 2395, dtype: object
------
Unnamed: 0                                                    9737
dt                                       2019-09-27 03:19:41 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist Machine Learning Engineer (LOCA...
location                                              Orchard park
country                                                         us
full_text        Description of job duties: This is a staff pos...
list_elements                                                   []
row_num                                                       2396
Name: 2396, dtype: object
------
Unnamed: 0                                                    9738
dt                                       2019-09-27 02:45:07 +0000
url              https://www.theladders.com/job/marketing-data-...
title                     Marketing Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        About You: We're looking for a data scientist ...
list_elements                                                   []
row_num                                                       2397
Name: 2397, dtype: object
------
Unnamed: 0                                                    9739
dt                                       2019-09-27 03:08:36 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Dearborn
country                                                         us
full_text        The Corporate Decision Sciences team within Gl...
list_elements                                                   []
row_num                                                       2398
Name: 2398, dtype: object
------
Unnamed: 0                                                    9740
dt                                       2019-09-27 03:08:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Detroit
country                                                         us
full_text        Fiat Chrysler Automobiles is looking to hire a...
list_elements                                                   []
row_num                                                       2399
Name: 2399, dtype: object
------
Unnamed: 0                                                    9741
dt                                       2019-09-27 03:12:59 +0000
url              https://job-openings.monster.com/data-scientis...

------
Unnamed: 0                                                    9777
dt                                       2019-09-27 05:20:54 +0000
url              https://www.theladders.com/job/data-scientist-...
title                           Data Scientist I in Chesapeake, VA
location                                                Chesapeake
country                                                         us
full_text        Purpose of Job Uses advanced techniques that i...
list_elements                                                   []
row_num                                                       2433
Name: 2433, dtype: object
------
Unnamed: 0                                                    9779
dt                                       2019-09-27 05:22:22 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                          Sr. Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        Become a Senior Data Scientist on VMware's Ent...
list_elements                                                   []
row_num                                                       2434
Name: 2434, dtype: object
------
Unnamed: 0                                                    9780
dt                                       2019-09-27 05:29:22 +0000
url              https://www.theladders.com/job/senior-data-sci...
title             Senior Data Scientist, Home Loans in Seattle, WA
location                                                   Seattle
country                                                         us
full_text        About the team You will join Zillow Group Home...
list_elements                                                   []
row_num                                                       2435
Name: 2435, dtype: object
------
Unnamed: 0                                                    9781
dt                                       2019-09-27 05:18:00 +0000
url              https://www.theladders.com/job/data-scientist-...
title              Data Scientist - Machine Learning in Dallas, TX
location                                                    Dallas
country                                                         us
full_text        PwC Labs is focused on standardizing, automati...
list_elements                                                   []
row_num                                                       2436
Name: 2436, dtype: object
------
Unnamed: 0                                                    9782
dt                                       2019-09-27 05:00:37 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Travel, Transport and Logisti...
location                                                   Waltham
country                                                         us
full_text        QUALIFICATIONS Masters or advanced degree requ...
list_elements                                                   []
row_num                                                       2437
Name: 2437, dtype: object
------
Unnamed: 0                                                    9783
dt                                       2019-09-27 05:23:55 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                   Data Scientist in Cary, NC
location                                                      Cary
country                                                         us
full_text        What you'll do As an Data Scientist at SAS and...
list_elements                                                   []
row_num                                                       2438
Name: 2438, dtype: object
------
Unnamed: 0                                                    9784
dt                                       2019-09-27 05:06:26 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Translational Informat...
location                                                    Boston
country                                                         us
full_text        We are pioneers at technology enabled services...
list_elements                                                   []
row_num                                                       2439
Name: 2439, dtype: object
------
Unnamed: 0                                                    9785
dt                                       2019-09-27 04:58:24 +0000
url              https://www.theladders.com/job/soil-health-dat...
title                     Soil Health Data Scientist in Boston, MA
location                                                    Boston
country                                                         us
full_text        Systems Innovation is the idea factory for Ind...
list_elements                                                   []
row_num                                                       2440
Name: 2440, dtype: object
------
Unnamed: 0                                                    9786
dt                                       2019-09-27 05:28:08 +0000
url              https://www.theladders.com/job/sr-director-dat...
title            Sr. Director, Data Scientist Customer Experien...
location                                               Bentonville
country                                                         us
full_text        What you'll do at Walmart's Customer organizat...
list_elements                                                   []
row_num                                                       2441
Name: 2441, dtype: object
------
Unnamed: 0                                                    9787
dt                                       2019-09-27 05:09:40 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Arlington, VA
location                                                 Arlington
country                                                         us
full_text        Job Description A financial company that origi...
list_elements                                                   []
row_num                                                       2442
Name: 2442, dtype: object
------
Unnamed: 0                                                    9788
dt                                       2019-09-27 05:14:20 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        Job Purpose: This position is responsible for ...
list_elements                                                   []
row_num                                                       2443
Name: 2443, dtype: object
------
Unnamed: 0                                                    9789
dt                                       2019-09-27 05:03:20 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Moody's is an essential component of the globa...
list_elements                                                   []
row_num                                                       2444
Name: 2444, dtype: object
------
Unnamed: 0                                                    9790
dt                                       2019-09-27 05:00:53 +0000
url              https://www.theladders.com/job/analytics-data-...
title                  Analytics, Data Scientist in Woonsocket, RI
location                                                Woonsocket
country                                                         us
full_text        Job Description Position Summary : Are you pas...
list_elements                                                   []
row_num                                                       2445
Name: 2445, dtype: object
------
Unnamed: 0                                                    9791
dt                                       2019-09-27 05:20:46 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Connected Vehicle Analytics i...
location                                                  Dearborn
country                                                         us
full_text        The Global Data Insights and Analytics (GDIA) ...
list_elements                                                   []
row_num                                                       2446
Name: 2446, dtype: object
------
Unnamed: 0                                                    9792
dt                                       2019-09-27 05:13:02 +0000
url              https://www.theladders.com/job/data-scientist-...
title                                Data Scientist in Detroit, MI
location                                                   Detroit
country                                                         us
full_text        Fiat Chrysler Automobiles is looking to hire a...
list_elements                                                   []
row_num                                                       2447
Name: 2447, dtype: object
------
Unnamed: 0                                                    9793
dt                                       2019-09-27 05:29:49 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist, Models and Algorithms in San F...
location                                             San francisco
country                                                         us
full_text        Gusto is looking for experienced data scientis...
list_elements                                                   []
row_num                                                       2448
Name: 2448, dtype: object
------
Unnamed: 0                                                    9794
dt                                       2019-09-27 05:17:26 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                       Senior Data Scientist in Palo Alto, CA
location                                                 Palo alto
country                                                         us
full_text        Become a Senior Data Scientist on VMware's Ent...
list_elements                                                   []
row_num                                                       2449
Name: 2449, dtype: object
------
Unnamed: 0                                                    9795
dt                                       2019-09-27 05:17:19 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist Senior - Center of Excellence f...
location                                               Saint louis
country                                                         us
full_text        Company Overview Enterprise Holdings is the la...
list_elements                                                   []
row_num                                                       2450
Name: 2450, dtype: object
------
Unnamed: 0                                                    9796
dt                                       2019-09-27 05:07:08 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Translational Informat...
location                                              Redwood city
country                                                         us
full_text        We are pioneers at technology enabled services...
list_elements                                                   []
row_num                                                       2451
Name: 2451, dtype: object
------
Unnamed: 0                                                    9797
dt                                       2019-09-27 05:00:46 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - QuantumBlack in Boston...
location                                                    Boston
country                                                         us
full_text        QUALIFICATIONS MSc or PhD level in the field o...
list_elements                                                   []
row_num                                                       2452
Name: 2452, dtype: object
------
Unnamed: 0                                                    9798
dt                                       2019-09-27 04:59:10 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                     Senior Data Scientist in Kansas City, MO
location                                               Kansas city
country                                                         us
full_text        Major Responsibilities and Accountabilities: Y...
list_elements                                                   []
row_num                                                       2453
Name: 2453, dtype: object
------
Unnamed: 0                                                    9799
dt                                       2019-09-27 05:02:34 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - QuantumBlack in Chicag...
location                                                   Chicago
country                                                         us
full_text        QUALIFICATIONS MSc or PhD level in the field o...
list_elements                                                   []
row_num                                                       2454
Name: 2454, dtype: object
------
Unnamed: 0                                                    9800
dt                                       2019-09-27 05:08:02 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Machine Learning / AI ...
location                                              Philadelphia
country                                                         us
full_text        It's fun to work in a company where people tru...
list_elements                                                   []
row_num                                                       2455
Name: 2455, dtype: object
------
Unnamed: 0                                                    9801
dt                                       2019-09-27 05:24:02 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                Senior Data Scientist AI / ML in San Jose, CA
location                                                  San jose
country                                                         us
full_text        What You'll Do You will have a multi-faceted r...
list_elements                                                   []
row_num                                                       2456
Name: 2456, dtype: object
------
Unnamed: 0                                                    9802
dt                                       2019-09-27 05:13:55 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist I in Bellevue, WA
location                                                  Bellevue
country                                                         us
full_text        PI – Platform Intelligence. Within eCP, PI is ...
list_elements                                                   []
row_num                                                       2457
Name: 2457, dtype: object
------
Unnamed: 0                                                    9803
dt                                       2019-09-27 05:11:48 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist - Demand Forecasting in Arlingt...
location                                                 Arlington
country                                                         us
full_text        Position summary: The Statistical Modeling Sci...
list_elements                                                   []
row_num                                                       2458
Name: 2458, dtype: object
------
Unnamed: 0                                                    9804
dt                                       2019-09-27 05:02:20 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in New York, NY
location                                                  New york
country                                                         us
full_text        Client Systems Engineer Tracking Code SN100023...
list_elements                                                   []
row_num                                                       2459
Name: 2459, dtype: object
------
Unnamed: 0                                                    9805
dt                                       2019-09-27 05:19:02 +0000
url              https://www.theladders.com/job/principal-data-...
title                Principal Data Scientist in Newport Beach, CA
location                                             Newport beach
country                                                         us
full_text        COMPANY DESCRIPTION SAP started in 1972 as a t...
list_elements                                                   []
row_num                                                       2460
Name: 2460, dtype: object
------
Unnamed: 0                                                    9806
dt                                       2019-09-27 05:07:56 +0000
url              https://www.theladders.com/job/mid-level-data-...
title                      Mid-Level Data Scientist in Chicago, IL
location                                                   Chicago
country                                                         us
full_text        Mid-Level Data Scientist A top marketing analy...
list_elements                                                   []
row_num                                                       2461
Name: 2461, dtype: object
------
Unnamed: 0                                                    9807
dt                                       2019-09-27 05:22:48 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist I in Phoenix, AZ
location                                                   Phoenix
country                                                         us
full_text        Job Description Freeport-McMoRan is a premier ...
list_elements                                                   []
row_num                                                       2462
Name: 2462, dtype: object
------
Unnamed: 0                                                    9808
dt                                       2019-09-27 05:29:37 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                      Sr. Data Scientist in San Francisco, CA
location                                             San francisco
country                                                         us
full_text        Trulia Decision Science is seeking a Senior Da...
list_elements                                                   []
row_num                                                       2463
Name: 2463, dtype: object
------
Unnamed: 0                                                    9809
dt                                       2019-09-27 05:27:16 +0000
url              https://www.theladders.com/job/lead-data-scien...
title                      Lead Data Scientist in Philadelphia, PA

Name: 2492, dtype: object
------
Unnamed: 0                                                    9839
dt                                       2019-09-28 00:21:36 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                                               Data Scientist
location                                                    Irvine
country                                                         us
full_text        Under the direction of the Director of Enrollm...
list_elements                                                   []
row_num                                                       2493
Name: 2493, dtype: object
------
Unnamed: 0                                                    9840
dt                                       2019-09-28 00:47:34 +0000
url              https://www.higheredjobs.com/admin/details.cfm...
title                           Data Architect Lead/Data Scientist
location                                                 Ann arbor
country                                                         us
full_text        JOB OPENING ID: 178799 REGULAR/TEMPORARY: Regu...
list_elements                                                   []
row_num                                                       2494
Name: 2494, dtype: object
------
Unnamed: 0                                                    9841
dt                                       2019-09-28 01:03:06 +0000
url              https://www.careerbuilder.com/job/J3R42Y6K7FHL...
title                                        Senior Data Scientist
location                                                       NaN
country                                                         us
full_text        Description The Global Analytics – Predictive ...
list_elements                                                   []
row_num                                                       2495
Name: 2495, dtype: object
------
Unnamed: 0                                                    9842
dt                                       2019-09-28 01:30:25 +0000
url              https://www.careerbuilder.com/job/J3N0GP6W5Q1F...
title                                        Senior Data Scientist
location                                               Jersey city
country                                                         us
full_text        Description The Global Analytics – Predictive ...
list_elements                                                   []
row_num                                                       2496
Name: 2496, dtype: object
------
Unnamed: 0                                                    9843
dt                                       2019-09-28 01:32:51 +0000
url              https://www.careerbuilder.com/job/J3M5RP6BJGK1...
title                                          Lead Data Scientist
location                                                     Plano
country                                                         us
full_text        Why Crestron?At Crestron we build the technolo...
list_elements                                                   []
row_num                                                       2497
Name: 2497, dtype: object
------
Unnamed: 0                                                    9844
dt                                       2019-09-28 01:25:48 +0000
url              https://www.careerbuilder.com/job/J3S1H96P4ZFF...
title                                               Data Scientist
location                                           Port washington
country                                                         us
full_text        Learn and work on meaningful initiatives with ...
list_elements                                                   []
row_num                                                       2498
Name: 2498, dtype: object
------
Unnamed: 0                                                    9846
dt                                       2019-09-28 01:10:18 +0000
url              https://www.careerbuilder.com/job/J3R7ZG6WNW6G...
title            Chubb Global Risk Advisors\: Data Scientist Co...
location                                                   Chicago
country                                                         us
full_text        : The Data Scientist Consultant (DSC) actively...
list_elements                                                   []
row_num                                                       2499
Name: 2499, dtype: object
------
Unnamed: 0                                                    9847
dt                                       2019-09-28 01:58:25 +0000
url              https://www.careerbuilder.com/job/J3R3GN6086FB...
title                                        Junior Data Scientist
location                                                 Charlotte
country                                                         us
full_text        : The Data Scientist will be responsible in as...
list_elements                                                   []
row_num                                                       2500
Name: 2500, dtype: object
------
Unnamed: 0                                                    9848
dt                                       2019-09-28 04:00:40 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist, Deep Learning (Relo to Bo...
location                                                    Boston
country                                                         us
full_text        Lead Data Scientist, Deep Learning (Relo to Bo...
list_elements                                                   []
row_num                                                       2501
Name: 2501, dtype: object
------
Unnamed: 0                                                    9849
dt                                       2019-09-28 04:01:40 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2502
Name: 2502, dtype: object
------
Unnamed: 0                                                    9850
dt                                       2019-09-28 04:02:13 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Glendale
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2503
Name: 2503, dtype: object
------
Unnamed: 0                                                    9851
dt                                       2019-09-28 04:06:10 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               DATA SCIENTIST
location                                               Creve coeur
country                                                         us
full_text        Hello,  \nWe have a critical position for you ...
list_elements                                                   []
row_num                                                       2504
Name: 2504, dtype: object
------
Unnamed: 0                                                    9852
dt                                       2019-09-28 04:09:59 +0000
url              https://job-openings.monster.com/lead-data-sci...
title            Lead Data Scientist - CNN, Deep Learning - REL...
location                                            West hollywood
country                                                         us
full_text        Lead Data Scientist - CNN, Deep Learning - REL...
list_elements                                                   []
row_num                                                       2505
Name: 2505, dtype: object
------
Unnamed: 0                                                    9853
dt                                       2019-09-28 04:10:06 +0000
url              https://job-openings.monster.com/data-scientis...
title            Data Scientist (Machine Learning, IIoT) / Manu...
location                                                   Peapack
country                                                         us
full_text        Our client, a world leading Pharmaceutical Com...
list_elements                                                   []
row_num                                                       2506
Name: 2506, dtype: object
------
Unnamed: 0                                                    9855
dt                                       2019-09-28 04:11:47 +0000
url              https://job-openings.monster.com/chief-data-sc...
title                                         Chief Data Scientist
location                                              East hanover
country                                                         us
full_text        Chief Data Scientist \n If you are a Chief Dat...
list_elements                                                   []
row_num                                                       2507
Name: 2507, dtype: object
------
Unnamed: 0                                                    9856
dt                                       2019-09-28 04:14:02 +0000
url              https://job-openings.monster.com/principal-inf...
title            Principal Information Security Analyst - Data ...
location                                                  New york
country                                                         us
full_text        Description: \n\n1910654\n\nQualifications:\n\...
list_elements                                                   []
row_num                                                       2508
Name: 2508, dtype: object
------
Unnamed: 0                                                    9857
dt                                       2019-09-28 04:11:20 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                   Leawood
country                                                         us
full_text        Senior Data Scientist \n We're a large financi...
list_elements                                                   []
row_num                                                       2509
Name: 2509, dtype: object
------
Unnamed: 0                                                    9858
dt                                       2019-09-28 04:13:00 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Torrance
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2510
Name: 2510, dtype: object
------
Unnamed: 0                                                    9859
dt                                       2019-09-28 04:02:25 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Annapolis
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2511
Name: 2511, dtype: object
------
Unnamed: 0                                                    9860
dt                                       2019-09-28 04:03:37 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                    Irving
country                                                         us
full_text        Reporting to our Director of Marketing Analyti...
list_elements                                                   []
row_num                                                       2512
Name: 2512, dtype: object
------
Unnamed: 0                                                    9861
dt                                       2019-09-28 04:06:00 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                                           Sr. Data Scientist
location                                                 San diego
country                                                         us
full_text        Sr. Data Scientist \n If you are a Sr. Data Sc...
list_elements                                                   []
row_num                                                       2513
Name: 2513, dtype: object
------
Unnamed: 0                                                    9862
dt                                       2019-09-28 04:08:22 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  New york
country                                                         us
full_text        Data Scientist \n We are seeking a smart and e...
list_elements                                                   []
row_num                                                       2514
Name: 2514, dtype: object
------
Unnamed: 0                                                    9863
dt                                       2019-09-28 04:04:25 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 San mateo
country                                                         us
full_text        Job Details:            \n   Job Title:     Da...
list_elements                                                   []
row_num                                                       2515
Name: 2515, dtype: object
------
Unnamed: 0                                                    9864
dt                                       2019-09-28 04:09:21 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Aberdeen
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2516
Name: 2516, dtype: object
------
Unnamed: 0                                                    9865
dt                                       2019-09-28 04:09:57 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Buffalo
country                                                         us
full_text        Our client has been able to pull off something...
list_elements                                                   []
row_num                                                       2517
Name: 2517, dtype: object
------
Unnamed: 0                                                    9866
dt                                       2019-09-28 04:09:55 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                  Torrance
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2518
Name: 2518, dtype: object
------
Unnamed: 0                                                    9867
dt                                       2019-09-28 04:11:58 +0000
url              https://job-openings.monster.com/sr-data-scien...
title                           Sr Data Scientist - TS/SCI w/ Poly
location                                                   Herndon
country                                                         us
full_text        Sr Data Scientist - TS/SCI w/ Poly \n If you a...
list_elements                                                   []
row_num                                                       2519
Name: 2519, dtype: object
------
Unnamed: 0                                                    9868
dt                                       2019-09-28 04:06:10 +0000
url              https://job-openings.monster.com/healthcare-se...
title            Healthcare Senior Data Scientist (Optimization...
location                                               Santa clara
country                                                         us
full_text        Healthcare Senior Data Scientist (Optimization...
list_elements                                                   []
row_num                                                       2520
Name: 2520, dtype: object
------
Unnamed: 0                                                    9869
dt                                       2019-09-28 04:08:33 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             San francisco
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2521
Name: 2521, dtype: object
------
Unnamed: 0                                                    9870
dt                                       2019-09-28 04:11:59 +0000
url              https://job-openings.monster.com/principal-dat...
title                                     Principal Data Scientist
location                                                 San diego
country                                                         us
full_text        Principal Data Scientist \n If you are a Princ...
list_elements                                                   []
row_num                                                       2522
Name: 2522, dtype: object
------
Unnamed: 0                                                    9871
dt                                       2019-09-28 04:12:14 +0000
url              https://job-openings.monster.com/lead-data-sci...
title                       Lead Data Scientist (Machine Learning)
location                                                   Seattle
country                                                         us
full_text        Lead Data Scientist (Machine Learning) \n If y...
list_elements                                                   []
row_num                                                       2523
Name: 2523, dtype: object
------
Unnamed: 0                                                    9874
dt                                       2019-09-28 12:47:59 +0000
url              https://job-openings.monster.com/lead-data-sci...

Unnamed: 0                                                    9915
dt                                       2019-09-29 06:34:26 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                          Sr Data Scientist in Alpharetta, GA
location                                                Alpharetta
country                                                         us
full_text        The Senior Data Scientist position exists to s...
list_elements                                                   []
row_num                                                       2562
Name: 2562, dtype: object
------
Unnamed: 0                                                    9916
dt                                       2019-09-29 06:53:20 +0000
url              https://www.theladders.com/job/director-data-s...
title                       Director, Data Scientist in Toledo, OH
location                                                    Toledo
country                                                         us
full_text        This is a fantastic opportunity to work with p...
list_elements                                                   []
row_num                                                       2563
Name: 2563, dtype: object
------
Unnamed: 0                                                    9917
dt                                       2019-09-29 06:37:07 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Aerial Imagery in Both...
location                                                   Bothell
country                                                         us
full_text        Job Family Summary Data Science incorporates t...
list_elements                                                   []
row_num                                                       2564
Name: 2564, dtype: object
------
Unnamed: 0                                                    9918
dt                                       2019-09-29 06:44:31 +0000
url              https://www.theladders.com/job/marketing-data-...
title                  Marketing Data Scientist in Santa Clara, CA
location                                               Santa clara
country                                                         us
full_text        This position is in Global Insights and Analyt...
list_elements                                                   []
row_num                                                       2565
Name: 2565, dtype: object
------
Unnamed: 0                                                    9919
dt                                       2019-09-29 06:42:41 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist, Analytics - Signals Detection ...
location                                                Menlo park
country                                                         us
full_text        RESPONSIBILITIES Apply your expertise in quant...
list_elements                                                   []
row_num                                                       2566
Name: 2566, dtype: object
------
Unnamed: 0                                                    9920
dt                                       2019-09-29 06:38:21 +0000
url              https://www.theladders.com/job/data-scientist-...
title                             Data Scientist in Chelmsford, MA
location                                                       NaN
country                                                         us
full_text        Data Scientist Location: Chelmsford, MA Resusc...
list_elements                                                   []
row_num                                                       2567
Name: 2567, dtype: object
------
Unnamed: 0                                                    9921
dt                                       2019-09-29 06:39:14 +0000
url              https://www.theladders.com/job/data-scientist-...
title            Data Scientist / Machine Learning Research Pro...
location                                                 Princeton
country                                                         us
full_text        Job Description This Research Scientist will c...
list_elements                                                   []
row_num                                                       2568
Name: 2568, dtype: object
------
Unnamed: 0                                                    9922
dt                                       2019-09-29 06:49:59 +0000
url              https://www.theladders.com/job/sr-specialist-i...
title            Sr. Specialist Info Sec Analyst - Data Scienti...
location                                                  New york
country                                                         us
full_text        Job Description At BNY Mellon, cybersecurity i...
list_elements                                                   []
row_num                                                       2569
Name: 2569, dtype: object
------
Unnamed: 0                                                    9923
dt                                       2019-09-29 06:34:15 +0000
url              https://www.theladders.com/job/senior-data-sci...
title            Senior Data Scientist - Analytics in New York, NY
location                                                  New york
country                                                         us
full_text        We're looking for exceptional Data Scientists ...
list_elements                                                   []
row_num                                                       2570
Name: 2570, dtype: object
------
Unnamed: 0                                                    9924
dt                                       2019-09-29 06:48:19 +0000
url              https://www.theladders.com/job/founding-data-s...
title            Founding Data Scientist / Big Data in Mountain...
location                                             Mountain view
country                                                         us
full_text        An early-stage startup in Mountain View is loo...
list_elements                                                   []
row_num                                                       2571
Name: 2571, dtype: object
------
Unnamed: 0                                                    9925
dt                                       2019-09-29 06:46:21 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                   Senior Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        Artificial intelligence is revolutionizing the...
list_elements                                                   []
row_num                                                       2572
Name: 2572, dtype: object
------
Unnamed: 0                                                    9927
dt                                       2019-09-29 06:33:18 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                          Senior Data Scientist in Austin, TX
location                                                    Austin
country                                                         us
full_text        Senior Data Scientist, IBM Corporation, Austin...
list_elements                                                   []
row_num                                                       2573
Name: 2573, dtype: object
------
Unnamed: 0                                                    9928
dt                                       2019-09-29 06:40:20 +0000
url              https://www.theladders.com/job/sr-data-scienti...
title                    Sr. Data Scientist- R & D in New York, NY
location                                                  New york
country                                                         us
full_text        About the role The political R&D group is seek...
list_elements                                                   []
row_num                                                       2574
Name: 2574, dtype: object
------
Unnamed: 0                                                    9929
dt                                       2019-09-29 06:49:05 +0000
url              https://www.theladders.com/job/data-scientist-...
title                               Data Scientist in Johnston, RI
location                                                       NaN
country                                                         us
full_text        As the Data Scientist, you will work at the di...
list_elements                                                   []
row_num                                                       2575
Name: 2575, dtype: object
------
Unnamed: 0                                                    9931
dt                                       2019-09-29 06:41:01 +0000
url              https://www.theladders.com/job/data-scientist-...
title                          Data Scientist in Mountain View, CA
location                                             Mountain view
country                                                         us
full_text        Are you interested in working for an organizat...
list_elements                                                   []
row_num                                                       2576
Name: 2576, dtype: object
------
Unnamed: 0                                                    9933
dt                                       2019-09-29 06:36:31 +0000
url              https://www.theladders.com/job/data-scientist-...
title                           Data Scientist III in Franklin, TN
location                                                  Franklin
country                                                         us
full_text        The Data Scientist III role is to wrangle data...
list_elements                                                   []
row_num                                                       2577
Name: 2577, dtype: object
------
Unnamed: 0                                                    9937
dt                                       2019-09-29 06:46:20 +0000
url              https://www.theladders.com/job/data-scientist-...
title                              Data Scientist in Arlington, VA
location                                                 Arlington
country                                                         us
full_text        Data Scientist A Data Science firm in the D.C....
list_elements                                                   []
row_num                                                       2578
Name: 2578, dtype: object
------
Unnamed: 0                                                    9938
dt                                       2019-09-29 06:50:28 +0000
url              https://www.theladders.com/job/staff-engineer-...
title            Staff Engineer, Data Scientist in Mountain Vie...
location                                             Mountain view
country                                                         us
full_text        Artificial intelligence is revolutionizing the...
list_elements                                                   []
row_num                                                       2579
Name: 2579, dtype: object
------
Unnamed: 0                                                    9939
dt                                       2019-09-29 06:47:09 +0000
url              https://www.theladders.com/job/senior-data-sci...
title                          Senior Data Scientist in Reston, VA
location                                                    Reston
country                                                         us
full_text        Bechtel Corporation is seeking a talented and ...
list_elements                                                   []
row_num                                                       2580
Name: 2580, dtype: object
------
Unnamed: 0                                                    9940
dt                                       2019-09-29 09:42:54 +0000
url              https://job-openings.monster.com/principal-dat...
title            Principal Data Scientist (Neural Networks, Sta...
location                                                 Cambridge
country                                                         us
full_text        Principal Data Scientist (Neural Networks, Sta...
list_elements                                                   []
row_num                                                       2581
Name: 2581, dtype: object
------
Unnamed: 0                                                    9941
dt                                       2019-09-29 10:22:16 +0000
url              https://job-openings.monster.com/data-scientis...
title                                 Data Scientist Sensor Fusion
location                                                  New york
country                                                         us
full_text        Data Scientist, Sensor Fusion   The Early Sign...
list_elements                                                   []
row_num                                                       2582
Name: 2582, dtype: object
------
Unnamed: 0                                                    9944
dt                                       2019-09-30 00:57:44 +0000
url              https://www.careerbuilder.com/job/J3V4ZJ70LJZW...
title                                Data Scientist (PhD) - Intern
location                                                    Spring
country                                                         us
full_text        Job Summary Data science encompasses the compu...
list_elements                                                   []
row_num                                                       2585
Name: 2585, dtype: object
------
Unnamed: 0                                                    9945
dt                                       2019-09-30 01:02:38 +0000
url              https://www.careerbuilder.com/job/J3W3Q363SX90...
title                                         Data Scientist (PhD)
location                                                    Spring
country                                                         us
full_text        Job SummaryData science encompasses the comput...
list_elements                                                   []
row_num                                                       2586
Name: 2586, dtype: object
------
Unnamed: 0                                                    9946
dt                                       2019-09-30 03:09:39 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                   Houston
country                                                         us
full_text        EOG Resources, Inc. is recruiting for a Data S...
list_elements                                                   []
row_num                                                       2587
Name: 2587, dtype: object
------
Unnamed: 0                                                    9947
dt                                       2019-09-30 03:09:03 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                             San francisco
country                                                         us
full_text        Senior Data Scientist \n If you are a Senior D...
list_elements                                                   []
row_num                                                       2588
Name: 2588, dtype: object
------
Unnamed: 0                                                    9948
dt                                       2019-09-30 03:10:41 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Beaverton
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2589
Name: 2589, dtype: object
------
Unnamed: 0                                                    9949
dt                                       2019-09-30 03:10:24 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                             Santa barbara
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2590
Name: 2590, dtype: object
------
Unnamed: 0                                                    9950
dt                                       2019-09-30 03:09:50 +0000
url              https://job-openings.monster.com/senior-data-s...
title                     Senior Data Scientist (Image Processing)
location                                                Centennial
country                                                         us
full_text        Senior Data Scientist (Image Processing) \n Ba...
list_elements                                                   []
row_num                                                       2591
Name: 2591, dtype: object
------
Unnamed: 0                                                    9951
dt                                       2019-09-30 03:09:38 +0000
url              https://job-openings.monster.com/senior-data-s...
title                                        Senior Data Scientist
location                                                 Sunnyvale
country                                                         us
full_text        DATA \n\tSenior Data Scientist professional ne...
list_elements                                                   []
row_num                                                       2592
Name: 2592, dtype: object
------
Unnamed: 0                                                    9953
dt                                       2019-09-30 10:17:26 +0000
url              https://job-openings.monster.com/data-scientis...
title                                               Data Scientist
location                                                 Annapolis
country                                                         us
full_text        Data Scientist \n If you are a Data Scientist ...
list_elements                                                   []
row_num                                                       2594
Name: 2594, dtype: object
------
Unnamed: 0                                                    9954
dt                                       2019-09-30 10:24:41 +0000
url              https://job-openings.monster.com/data-scientis...
title                                 Data Scientist Sensor Fusion
location                                                  New york
country                                                         us
full_text        Data Scientist, Sensor Fusion     The Early Si...
list_elements                                                   []
row_num                                                       2595
Name: 2595, dtype: object
------
Unnamed: 0                                                    9955
dt                                       2019-09-30 11:12:24 +0000
url              https://job-openings.monster.com/data-scientis...
title                      Data Scientist/Principal Data Scientist

In [11]:
dtale.show(df)