In [1]:
import pdfplumber
import pandas as pd
from sentence_transformers import SentenceTransformer, util
import pickle
import numpy as np
import re
from scipy import spatial

In [2]:
import dtale
#handy pandas visualizer, when on local Jupyter Server just run dtale.show(df)
#from Docker container visual is available at http://localhost:40000/

In [3]:
path = '../datasets/resume_samples.txt'
df = pd.DataFrame()
counter = 0
id_list = []
title_list = []
skill_list = []
#exp_list = []
with open(path, 'r',encoding="utf8", errors='backslashreplace') as f:
    for line in f.readlines():
        
        splitted = line.split(':::')
        title = splitted[1].split(';')[0]
        if 'data scientist' in title.lower():
            splitted = splitted[2].lower()
            splitted = splitted.replace('\\xa0',';;;')
            splitted = splitted.replace('*',';;;')
            splitted = splitted.replace('\\x95',';;;')
            splitted = splitted.replace('education',';;;')
            #splitted = splitted.replace(',',';;;')
            splitted = splitted.split(';;;')
            
            for skill in splitted[1:]:
                if (len(skill)>1) & ('responsibilities:' not in skill.lower()):
                    id_list.append(counter)
                    
                    title_list.append(title)
                    skill_list.append(skill)
            counter+=1
df['id']=id_list
df['title']=title_list
df['skill']=skill_list

In [4]:
df

,id,title,skill
0,0,Data Scientist/Analytics Consultant,"design sql, r & python scripts to directly qu..."
1,0,Data Scientist/Analytics Consultant,aid in the development of predictive modeling...
2,0,Data Scientist/Analytics Consultant,test model fit using cross-validation and boo...
3,0,Data Scientist/Analytics Consultant,develop in an scrum environment with team mem...
4,0,Data Scientist/Analytics Consultant,"model data using pandas/r dataframes, powerpi..."
...,...,...,...
5649,66,Data Scientist,"development methodologies agile/scrum, uml, d..."
5650,66,Data Scientist,"build tools jenkins, toad, sql loader, maven,..."
5651,66,Data Scientist,reporting tools ms office (word/excel/power p...
5652,66,Data Scientist,"databases microsoft sql server 2008,2010/2012..."
5653,66,Data Scientist,"operating systems all versions of windows, un..."

In [5]:
def preprocess_for_bert(string):
    string = string.strip("\n.’:")
    string = string.strip("’")
    string = string.strip("\\n")
    string = string.replace("/"," ")
    return(string)

In [6]:
k21 = pickle.load(open('../Experiments/k21.sav', 'rb'))
objectives = []
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

Downloading:   0%|          | 0.00/690 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/3.69k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/629 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/122 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/229 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/90.9M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/112 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/466k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/314 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/232k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [7]:
skill_list = []
for s in df['skill'].to_list():
    skill_list.append(preprocess_for_bert(s))
embeddings = model.encode(skill_list)
clusters =  k21.predict(np.array(embeddings.tolist()))
df['cluster']=clusters

In [8]:
print(clusters[1])

16

In [9]:
results = []
for index, row in df.iterrows():
    #print(clusters[index])
    #print(embeddings[index])
    #k21.cluster_centers_[1]
    result = 1 - spatial.distance.cosine(k21.cluster_centers_[clusters[index]], embeddings[index])
    results.append(result)
    #print(df[skill].loc[index])
df['similarity_to_cluster']=results

In [10]:
k20_bigrams = pickle.load(open('../Experiments/k20_bigrams', 'rb'))

In [11]:
bigrams = []
for cluster in clusters:
    bigrams.append(k20_bigrams[cluster])
df['bigrams_k20']=bigrams

In [12]:
d=dtale.show(df)

2021-09-20 20:34:36,442 - INFO     - NumExpr defaulting to 2 threads.

In [13]:
dtale.instances()

To gain access to an instance object simply pass the value from 'ID' to dtale.get_instance(ID)

ID Name                                    URL
 1      http://f468fa972f9e:40000/dtale/main/1
        http://f468fa972f9e:40000/dtale/main/1

In [14]:
#df['cluster'].value_counts()
for c, count in df['cluster'].value_counts().iteritems():
    print(str(c)+" "+str(count)+" "+k20_bigrams[c])
    print('-----------------------')
    
for i in range(0,20):
    if i not in df['cluster'].to_list():
         print('missing '+str(i))

15 1427 data visualization, large datasets, experience data, knowledge data, data visualisation, large data, big data, understanding data, data engineering, data pipelines,
-----------------------
3 1061 software development, software engineering, best practices, data science, experience working, processing frameworks, frameworks spark, tools (e.g., standard software, ci cd,,
-----------------------
11 847 develop processes, processes tools, tools monitor, model performance, performance data, data accuracy, analyze data, data analysis, ability develop, develop experimental,
-----------------------
16 492 machine learning, learning techniques, learning algorithms, understanding machine, experience machine, deep learning, learning experience, strong knowledge, knowledge machine, machine learning,,
-----------------------
7 383 relational databases, experience sql, knowledge sql, sql queries, experience databases, advanced sql, sql skills, experience relational, sql experience, python sql,
-----------------------
19 338 programming languages, languages python,, programming skills, python data, programming experience, python, r,, data analysis, proficient python, data science, languages (python,,
-----------------------
8 302 product teams, support identifying, identifying opportunities, opportunities creating, creating customer, customer value, identify opportunities, closely business, business outcomes, better understand,
-----------------------
17 140 multiple projects, r&d projects, project team, research partners, specific development, development projects, product engineering, engineering teams, identify trends, experience building,
-----------------------
13 136 data science, data engineering, experience data, data scientists, years experience, 5+ years, years data, science experience, data scientist, 3+ years,
-----------------------
1 126 experience demonstrated, scientific journals,, scientific cv, cv contact, contact details;, scientific results, present scientific, scientific technical, drug discovery, discovery early,
-----------------------
20 89 experience cloud, google cloud, cloud platform, experience working, ms azure, platform technology, technology (aws, (aws ms, ms azure), cloud services,
-----------------------
6 57 career development, willingness learn, new technologies, learn new, genuine willingness, learn drive, dedicated house, house l&d, l&d department,, department, access,
-----------------------
0 57 teams across, key stakeholders, strong communication, communication skills, internal stakeholders, across business, ability communicate, technical non-technical, interest working, informal, dynamic,
-----------------------
14 43 international environment, work environment, relocation packages, city center, great job,, job, international, willing travel, relocation support, flexible enthusiastic, enthusiastic work,
-----------------------
10 36 flexible working, work environment, working hours, environment flexible, working environment, flexible work, dynamic work, work home, hours flexible, large degree,
-----------------------
2 29 team player, ability work, communication skills, team environment, excellent communication, collaboration skills, skills ability, within team, communication teamwork, good communication,
-----------------------
12 27 competitive salary, competitive compensation, salary competitive, compensation package, package competitive, benefits package, including performance, social benefits, benefits competitive, competitive remuneration,
-----------------------
18 23 working people, problem solving, lifestyle curiosity,, curiosity, learning,, learning, sharing,, sharing, working, people share, share hunger."], think creatively, solve problems,
-----------------------
9 22 computer science,, degree computer, science, mathematics,, master’s degree, phd computer, related field, computer science, quantitative field, statistics, engineering,, engineering, computer,
-----------------------
4 16 communication skills, skills excellent, excellent communication, written communication, verbal written, skills good, good communication, communication skills,, strong communication, verbal communication,
-----------------------
5 3 fluent english, english fluent, written spoken, spoken english, english fluency, fluent written, english skills, language skills, excellent written, written verbal,
-----------------------

In [15]:
cluster_matrix = []

for id in np.unique(df[['id']].values):
    cluster_counter = []
    filtered = df[df['id']==id]
    for cluster in range(0,20):
        c=0
        for index, row in filtered.iterrows():
            if row['cluster']==cluster:
                c+=1/len(filtered)
        cluster_counter.append(c)
    cluster_matrix.append(cluster_counter)

In [16]:
df_resume  = pd.DataFrame()
df_resume['id']=np.unique(df[['id']].values)
df_resume['matrix']=cluster_matrix
#df_resume = df_resume.append(pd.DataFrame(df_resume['matrix'].tolist()))
foo=pd.DataFrame(df_resume['matrix'].tolist())
df_resume = pd.concat([df_resume,foo], axis=1)
counted = df_resume.iloc[:,2:].astype(bool).sum(axis=0).sort_values(ascending=False)

In [17]:
scored = df_resume.iloc[:,2:].sum(axis=0).sort_values(ascending=False)

In [18]:
for cluster, score in scored.iteritems():
    print("cluster "+str(cluster)+" scored "+str(score)+" Most common bigrams of this cluster are "+k20_bigrams[cluster])
    print('---------------------')

cluster 15 scored 14.830993416249223 Most common bigrams of this cluster are data visualization, large datasets, experience data, knowledge data, data visualisation, large data, big data, understanding data, data engineering, data pipelines,
---------------------
cluster 3 scored 13.658230137730028 Most common bigrams of this cluster are software development, software engineering, best practices, data science, experience working, processing frameworks, frameworks spark, tools (e.g., standard software, ci cd,,
---------------------
cluster 11 scored 9.86464014150455 Most common bigrams of this cluster are develop processes, processes tools, tools monitor, model performance, performance data, data accuracy, analyze data, data analysis, ability develop, develop experimental,
---------------------
cluster 16 scored 5.301561245213319 Most common bigrams of this cluster are machine learning, learning techniques, learning algorithms, understanding machine, experience machine, deep learning, learning experience, strong knowledge, knowledge machine, machine learning,,
---------------------
cluster 8 scored 4.035537649346849 Most common bigrams of this cluster are product teams, support identifying, identifying opportunities, opportunities creating, creating customer, customer value, identify opportunities, closely business, business outcomes, better understand,
---------------------
cluster 19 scored 3.9439604040416816 Most common bigrams of this cluster are programming languages, languages python,, programming skills, python data, programming experience, python, r,, data analysis, proficient python, data science, languages (python,,
---------------------
cluster 7 scored 3.76658841970619 Most common bigrams of this cluster are relational databases, experience sql, knowledge sql, sql queries, experience databases, advanced sql, sql skills, experience relational, sql experience, python sql,
---------------------
cluster 1 scored 2.0366765115125465 Most common bigrams of this cluster are experience demonstrated, scientific journals,, scientific cv, cv contact, contact details;, scientific results, present scientific, scientific technical, drug discovery, discovery early,
---------------------
cluster 17 scored 1.7857924455712717 Most common bigrams of this cluster are multiple projects, r&d projects, project team, research partners, specific development, development projects, product engineering, engineering teams, identify trends, experience building,
---------------------
cluster 13 scored 1.531772040910981 Most common bigrams of this cluster are data science, data engineering, experience data, data scientists, years experience, 5+ years, years data, science experience, data scientist, 3+ years,
---------------------
cluster 6 scored 1.1628802955053417 Most common bigrams of this cluster are career development, willingness learn, new technologies, learn new, genuine willingness, learn drive, dedicated house, house l&d, l&d department,, department, access,
---------------------
cluster 14 scored 0.8986972321999951 Most common bigrams of this cluster are international environment, work environment, relocation packages, city center, great job,, job, international, willing travel, relocation support, flexible enthusiastic, enthusiastic work,
---------------------
cluster 0 scored 0.826620564653588 Most common bigrams of this cluster are teams across, key stakeholders, strong communication, communication skills, internal stakeholders, across business, ability communicate, technical non-technical, interest working, informal, dynamic,
---------------------
cluster 9 scored 0.48893708941207087 Most common bigrams of this cluster are computer science,, degree computer, science, mathematics,, master’s degree, phd computer, related field, computer science, quantitative field, statistics, engineering,, engineering, computer,
---------------------
cluster 18 scored 0.47463696708729014 Most common bigrams of this cluster are working people, problem solving, lifestyle curiosity,, curiosity, learning,, learning, sharing,, sharing, working, people share, share hunger."], think creatively, solve problems,
---------------------
cluster 10 scored 0.42890484094086523 Most common bigrams of this cluster are flexible working, work environment, working hours, environment flexible, working environment, flexible work, dynamic work, work home, hours flexible, large degree,
---------------------
cluster 12 scored 0.42876370126704144 Most common bigrams of this cluster are competitive salary, competitive compensation, salary competitive, compensation package, package competitive, benefits package, including performance, social benefits, benefits competitive, competitive remuneration,
---------------------
cluster 2 scored 0.3089345253672636 Most common bigrams of this cluster are team player, ability work, communication skills, team environment, excellent communication, collaboration skills, skills ability, within team, communication teamwork, good communication,
---------------------
cluster 4 scored 0.3071563433451635 Most common bigrams of this cluster are communication skills, skills excellent, excellent communication, written communication, verbal written, skills good, good communication, communication skills,, strong communication, verbal communication,
---------------------
cluster 5 scored 0.0538181998530161 Most common bigrams of this cluster are fluent english, english fluent, written spoken, spoken english, english fluency, fluent written, english skills, language skills, excellent written, written verbal,
---------------------
Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:40:42,921 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:40:45,427 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:40:45,959 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:40:47,044 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:40:56,802 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:41:29,002 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:42:21,990 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2021-09-20 20:44:00,929 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 105, in _handle_exceptions
    return func(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/dtale/views.py", line 2381, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence