In [1]:
import pandas as pd
pd.options.plotting.backend = "plotly" #interactive plots will be useful in this context
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import gensim
from sentence_transformers import SentenceTransformer, util
import pickle
import torch
from sklearn.cluster import KMeans

C:\Users\BothmK01\Anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [3]:
df = pd.read_csv('../datasets/df_cv.csv')
k31_full = pickle.load(open('../Model_Selection/k_31_full', 'rb'))

In [20]:
df_sample = df.sample(n=50, random_state=1)

In [22]:
df_sample.to_csv('sample.csv')

## Labeling
After acquiring a random sample of 50 skills from the CV data each labels cluster was labeled 0 for false and 1 for true. This was done outside of the coding environment and stored in csv 'sample_labeled.csv'. After labeling it is read into memory to compute basic statistics.

In [31]:
df_labeled = pd.read_csv('sample_labeled.csv', sep=';')

In [32]:
df_labeled

,Unnamed: 0,skill,Label,cluster
0,3969,strong skills in statistical methodologies su...,0,12
1,3300,"extensive experience in development of t-sql,...",1,1
2,4384,worked on resulting reports of the application.,1,23
3,3308,"proficient in system analysis, er/dimensional...",0,30
4,2890,created a wholesale portal with easy checkout...,1,25
5,3830,"programming languages: python, sql, r, matlab...",1,18
6,545,responsible for debugging and troubleshooting...,0,22
7,1812,experience in big data technologies like spar...,1,8
8,2596,- built an nlp system to automatically assess...,1,9
9,959,experienced in ensemble learning usingbagging...,1,6
10,4096,familiar with predictive models using classif...,1,12
11,2407,designed and created data marts as part of a ...,1,29
12,1328,to determine the best tool available in the m...,0,22
13,2908,detect and classify tumour images using,0,9
14,4821,"knowledgeable in deep learning (tensorflow, k...",1,15
15,4846,"played a key role to solve complex problems, ...",1,25
16,931,created various types of data visualizations ...,1,14
17,5564,classification of diabetes data,1,11
18,3565,held meetings with client and worked for the ...,1,16
19,4035,"experience with common data science toolkits,...",1,18
20,141,supported it team on various development proj...,1,16
21,4576,involved in writing stored procedures using o...,1,22
22,1764,? performed data analysis and data profiling ...,1,29
23,4475,"worked with team of developers to design, dev...",1,16
24,2242,"ggplot2, caret, dplyr, rweka, gmodels, rcurl,...",1,18
25,3677,conducted every day scrum as part of the scru...,1,0
26,4309,worked with various teradata15 tools and util...,1,29
27,5397,good experience with both waterfall and agile...,1,10
28,4203,"environment: aws ec2, s3, redshift, lambda, l...",0,25
29,2779,"generated reports with internal records, seco...",1,29
30,4939,"development ide jupyter notebook, spyder, pyc...",1,18
31,3078,"ms excel: macros, visual basic, vb scripting,...",0,9
32,2543,designed and maintained databases using pytho...,1,1
33,1162,write python scripts to parse documents.,1,9
34,5189,strong experience in c/c++ on linux using stl...,1,18
35,147,"classification, regression, clustering, neura...",1,12
36,4200,observed groups of customers being neglected ...,1,25
37,4622,over 7 years\x92 hand on experienced in the a...,1,24
38,4285,currently working on building clustering and ...,1,19
39,2498,"installed, configured and managed flume infra...",1,27
40,5473,"used c++ stl containers, algorithms in the sy...",0,9
41,1406,created sql scripts to find data quality issu...,1,29
42,383,"hands on advanced sql experience summarizing,...",1,1
43,4519,"performed data cleaning, features scaling, fe...",1,19
44,5117,"the migrated database from legacy systems, sq...",1,1
45,255,performed data analysis on target data after ...,1,29
46,200,statistics and ml: strong mathematical skills...,1,12
47,2868,saved the company $500k+ by writing in-house ...,0,26
48,840,developed etls to pull data from various sour...,1,29

In [33]:
df_labeled

,Unnamed: 0,skill,Label,cluster
0,3969,strong skills in statistical methodologies su...,0,12
1,3300,"extensive experience in development of t-sql,...",1,1
2,4384,worked on resulting reports of the application.,1,23
3,3308,"proficient in system analysis, er/dimensional...",0,30
4,2890,created a wholesale portal with easy checkout...,1,25
5,3830,"programming languages: python, sql, r, matlab...",1,18
6,545,responsible for debugging and troubleshooting...,0,22
7,1812,experience in big data technologies like spar...,1,8
8,2596,- built an nlp system to automatically assess...,1,9
9,959,experienced in ensemble learning usingbagging...,1,6
10,4096,familiar with predictive models using classif...,1,12
11,2407,designed and created data marts as part of a ...,1,29
12,1328,to determine the best tool available in the m...,0,22
13,2908,detect and classify tumour images using,0,9
14,4821,"knowledgeable in deep learning (tensorflow, k...",1,15
15,4846,"played a key role to solve complex problems, ...",1,25
16,931,created various types of data visualizations ...,1,14
17,5564,classification of diabetes data,1,11
18,3565,held meetings with client and worked for the ...,1,16
19,4035,"experience with common data science toolkits,...",1,18
20,141,supported it team on various development proj...,1,16
21,4576,involved in writing stored procedures using o...,1,22
22,1764,? performed data analysis and data profiling ...,1,29
23,4475,"worked with team of developers to design, dev...",1,16
24,2242,"ggplot2, caret, dplyr, rweka, gmodels, rcurl,...",1,18
25,3677,conducted every day scrum as part of the scru...,1,0
26,4309,worked with various teradata15 tools and util...,1,29
27,5397,good experience with both waterfall and agile...,1,10
28,4203,"environment: aws ec2, s3, redshift, lambda, l...",0,25
29,2779,"generated reports with internal records, seco...",1,29
30,4939,"development ide jupyter notebook, spyder, pyc...",1,18
31,3078,"ms excel: macros, visual basic, vb scripting,...",0,9
32,2543,designed and maintained databases using pytho...,1,1
33,1162,write python scripts to parse documents.,1,9
34,5189,strong experience in c/c++ on linux using stl...,1,18
35,147,"classification, regression, clustering, neura...",1,12
36,4200,observed groups of customers being neglected ...,1,25
37,4622,over 7 years\x92 hand on experienced in the a...,1,24
38,4285,currently working on building clustering and ...,1,19
39,2498,"installed, configured and managed flume infra...",1,27
40,5473,"used c++ stl containers, algorithms in the sy...",0,9
41,1406,created sql scripts to find data quality issu...,1,29
42,383,"hands on advanced sql experience summarizing,...",1,1
43,4519,"performed data cleaning, features scaling, fe...",1,19
44,5117,"the migrated database from legacy systems, sq...",1,1
45,255,performed data analysis on target data after ...,1,29
46,200,statistics and ml: strong mathematical skills...,1,12
47,2868,saved the company $500k+ by writing in-house ...,0,26
48,840,developed etls to pull data from various sour...,1,29

In [30]:
df_labeled['Label'].mean()

0.8163265306122449

In [35]:
from platform import python_version
print(python_version())

3.8.3