## Model Evaluation
It is challenging to evaluate unsupervised learning approaches like clustering. In order to get an idea of the accuracy of the modelling pipeline trained in ../Model_Selection/ this notebook was used to get an estimation by manual labeling of the outcomes.

In [1]:
import pandas as pd
pd.options.plotting.backend = "plotly" #interactive plots will be useful in this context
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import gensim
from sentence_transformers import SentenceTransformer, util
import pickle
import torch
from sklearn.cluster import KMeans

/opt/conda/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

## Sampling of the CV data
From a large dataset of CVs a set of 5805 skills that are present on Data Scientist CVs was extracted in ../data_acquisition/. In the steps below a sample of 100 skills is randomly selected from this dataset. The modelling pipeline as described in ../Model_Selection/ is read into memory and used to infer clusters on the sample.

In [2]:
df = pd.read_csv('../datasets/df_cv.csv')
k31_full = pickle.load(open('../Model_Selection/k_31_full', 'rb'))

In [3]:
df_sample = df.sample(n=100, random_state=1)

In [4]:
df_sample.to_csv('sample.csv')

In [8]:
pd.options.display.max_rows = 100
df_sample

,Unnamed: 0,id,title,skill,cluster,score,embedding
3969,3969,43,Data Scientist,strong skills in statistical methodologies su...,12,0.709697,"[0.013033631257712841, -0.0799548551440239, -0..."
3300,3300,37,Data Scientist,"extensive experience in development of t-sql,...",1,0.706087,"[0.055112168192863464, -0.00916033424437046, -..."
4384,4384,45,Sr. Data Scientist/Machine Learning Engineer,worked on resulting reports of the application.,23,0.463415,"[0.03124876320362091, 0.017939738929271698, -0..."
3308,3308,37,Data Scientist,"proficient in system analysis, er/dimensional...",30,0.664705,"[0.039068177342414856, -0.04305744916200638, -..."
2890,2890,32,Senior Data Scientist,created a wholesale portal with easy checkout...,25,0.519363,"[0.000201515867956914, 0.003409451339393854, 0..."
3830,3830,40,Data Scientist/Machine Learning Engineer,"programming languages: python, sql, r, matlab...",18,0.719582,"[0.030494963750243187, -0.030020488426089287, ..."
545,545,12,Data Scientist,responsible for debugging and troubleshooting...,22,0.456460,"[0.02476958930492401, -0.012480653822422028, -..."
1812,1812,23,Data Scientist,experience in big data technologies like spar...,8,0.809228,"[0.02623741142451763, -0.015738269314169884, -..."
2596,2596,28,Senior Data Scientist,- built an nlp system to automatically assess...,9,0.233252,"[-0.02712273970246315, -0.019583553075790405, ..."
959,959,16,Data Scientist,experienced in ensemble learning usingbagging...,6,0.465559,"[0.03367180749773979, -0.03725603222846985, -0..."
4096,4096,44,Data Scientist,familiar with predictive models using classif...,12,0.701829,"[0.015132094733417034, -0.05577091872692108, -..."
2407,2407,26,Data Scientist/ Machine Learning,designed and created data marts as part of a ...,29,0.583524,"[-0.05091865360736847, -0.0446547195315361, -0..."
1328,1328,19,Data Resarcher/ Data Scientist,to determine the best tool available in the m...,22,0.623440,"[-0.012344637885689735, -0.00801167730242014, ..."
2908,2908,33,Data Scientist / ML Engineer and Architecture,detect and classify tumour images using,9,0.151946,"[-0.013536632061004639, -0.010489302687346935,..."
4821,4821,53,Python Developer/Data Scientist,"knowledgeable in deep learning (tensorflow, k...",15,0.638933,"[0.01329235639423132, -0.04608360305428505, -0..."
4846,4846,54,Data Scientist,"played a key role to solve complex problems, ...",25,0.427561,"[0.021392669528722763, -0.009242333471775055, ..."
931,931,15,Data Scientist/Data Science Manager,created various types of data visualizations ...,14,0.746050,"[-0.02099745161831379, -0.024830706417560577, ..."
5564,5564,64,Data Scientist,classification of diabetes data,11,0.347261,"[-0.02721785195171833, -0.0656600221991539, -0..."
3565,3565,38,Data Scientist/Machine Learning Engineer,held meetings with client and worked for the ...,16,0.453088,"[-0.04616042971611023, -0.006468615960329771, ..."
4035,4035,43,Data Scientist,"experience with common data science toolkits,...",18,0.702050,"[0.019527493044734, -0.020073292776942253, -0...."
141,141,5,Data Scientist,supported it team on various development proj...,16,0.680540,"[0.0019086198881268501, 0.0006448067142628133,..."
4576,4576,46,Data Scientist / Big Data,involved in writing stored procedures using o...,22,0.350231,"[0.028960812836885452, 0.04203204810619354, -0..."
1764,1764,21,Data Scientist,? performed data analysis and data profiling ...,29,0.567874,"[0.014487000182271004, -0.03978171572089195, -..."
4475,4475,46,Data Scientist / Big Data,"worked with team of developers to design, dev...",16,0.561838,"[0.004016943741589785, -0.013486362993717194, ..."
2242,2242,25,Data Scientist Consultant,"ggplot2, caret, dplyr, rweka, gmodels, rcurl,...",18,0.550799,"[0.020379429683089256, -0.0276764165610075, -0..."
3677,3677,39,Data Scientist/Machine Learning Engineer,conducted every day scrum as part of the scru...,0,0.368533,"[0.01294771209359169, -0.049334365874528885, -..."
2692,2692,29,Data Scientist,"software tools: pycharm, jupyter notebook, r ...",18,0.530261,"[0.01920546032488346, -0.0077513158321380615, ..."
4309,4309,45,Sr. Data Scientist/Machine Learning Engineer,worked with various teradata15 tools and util...,29,0.465190,"[0.007914337329566479, -0.0082535520195961, -0..."
5397,5397,62,Products and Application developer ( Python/C+...,good experience with both waterfall and agile...,10,0.507132,"[0.03378710895776749, -0.01295508909970522, -0..."
4203,4203,44,Data Scientist,"environment: aws ec2, s3, redshift, lambda, l...",25,0.416086,"[-0.006642940454185009, -0.03476843982934952, ..."
2779,2779,31,Data Scientist,"generated reports with internal records, seco...",29,0.525910,"[-0.01662781462073326, 0.01375866960734129, 0...."
4939,4939,56,Data Scientist,"development ide jupyter notebook, spyder, pyc...",18,0.413896,"[-0.006571467965841293, 0.01477322168648243, 0..."
3078,3078,35,Senior SAS and Python Data Scientist / Applica...,"ms excel: macros, visual basic, vb scripting,...",9,0.226872,"[0.01650400273501873, 0.04590136185288429, 0.0..."
2543,2543,27,Data Scientist/ Machine Learning,designed and maintained databases using pytho...,1,0.525267,"[-0.012911836616694927, 0.013070420362055302, ..."
1162,1162,18,Data Resarcher/ Data Scientist,write python scripts to parse documents.,9,0.146046,"[-0.00614628940820694, 0.015589118003845215, -..."
5189,5189,60,Products and Application developer ( Python/C+...,strong experience in c/c++ on linux using stl...,18,0.531917,"[0.04534309729933739, -0.018317217007279396, -..."
147,147,5,Data Scientist,"classification, regression, clustering, neura...",12,0.693129,"[0.02011844888329506, -0.0924563929438591, 0.0..."
4200,4200,44,Data Scientist,observed groups of customers being neglected ...,25,0.393711,"[0.02199021726846695, -0.04102913290262222, -0..."
4622,4622,48,Senior Data Scientist Consultant,over 7 years\x92 hand on experienced in the a...,24,0.706989,"[0.021044963970780373, -0.041284311562776566, ..."
4285,4285,45,Sr. Data Scientist/Machine Learning Engineer,currently working on building clustering and ...,19,0.457381,"[0.025334540754556656, -0.030609888955950737, ..."
2498,2498,27,Data Scientist/ Machine Learning,"installed, configured and managed flume infra...",27,0.385367,"[-0.004671456292271614, -0.012886755168437958,..."
5473,5473,62,Products and Application developer ( Python/C+...,"used c++ stl containers, algorithms in the sy...",9,0.224982,"[-0.0013783691683784127, -0.026752805337309837..."
1406,1406,19,Data Resarcher/ Data Scientist,created sql scripts to find data quality issu...,29,0.602996,"[0.04707133024930954, -0.03866138681769371, -0..."
383,383,11,DATA SCIENTIST,"hands on advanced sql experience summarizing,...",1,0.710456,"[0.041143544018268585, -0.03715547174215317, -..."
4519,4519,46,Data Scientist / Big Data,"performed data cleaning, features scaling, fe...",19,0.568349,"[0.02947348542511463, -0.018357396125793457, -..."
5117,5117,58,Data Scientist/Machine Learning,"the migrated database from legacy systems, sq...",1,0.485748,"[0.03456610068678856, -0.026492571458220482, 0..."
255,255,9,Data Scientist,performed data analysis on target data after ...,29,0.465855,"[0.043684300035238266, -0.08592516928911209, -..."
200,200,8,DATA SCIENTIST,statistics and ml: strong mathematical skills...,12,0.797058,"[0.001829770510084927, -0.07231511175632477, -..."
2868,2868,32,Senior Data Scientist,saved the company $500k+ by writing in-house ...,26,0.492904,"[-0.030813392251729965, 0.0011475038481876254,..."
840,840,14,Data Scientist/Data engineer,developed etls to pull data from various sour...,29,0.483430,"[0.00012135742872487754, -0.06227549910545349,..."
5540,5540,64,Data Scientist,jan2017 \x96 may 2017,9,0.187574,"[-0.02399439923465252, -0.013803756795823574, ..."
21,21,0,Data Scientist/Analytics Consultant,"built user interface, data visualizations and...",9,0.443945,"[-0.008362467400729656, 0.02605513297021389, 0..."
473,473,11,DATA SCIENTIST,"operating systems windows, linux",9,0.224156,"[0.016826320439577103, 0.05026546120643616, -0..."
3507,3507,38,Data Scientist/Machine Learning Engineer,"building performant, scalable etl processes t...",29,0.539502,"[0.02715921401977539, -0.027933577075600624, -..."
2918,2918,33,Data Scientist / ML Engineer and Architecture,developed application in python/.net that not...,22,0.356615,"[0.05621790885925293, -0.0008530369377695024, ..."
116,116,4,Data Scientist intern,management mba in december. he will be lookin...,15,0.518587,"[-0.03753161430358887, -0.08061302453279495, -..."
3876,3876,41,Data Scientist,used one vs rest classifier to fit each class...,9,0.207083,"[0.002542345318943262, -0.02043735608458519, 0..."
1078,1078,17,Data Scientist,handled importing data from various data sour...,11,0.489616,"[-0.005940665490925312, -0.01466712448745966, ..."
940,940,15,Data Scientist/Data Science Manager,developed entire frontend and backend modules...,22,0.290212,"[-0.03316663205623627, 0.03167315945029259, 0...."
2032,2032,24,Data Scientist,communicated and coordinated with other depar...,16,0.592364,"[-0.0008959581609815359, -0.047147370874881744..."
1296,1296,19,Data Resarcher/ Data Scientist,excellent understanding agile and scrum devel...,22,0.484919,"[0.03662508726119995, -0.041157204657793045, 0..."
3991,3991,43,Data Scientist,experience in working with relational databas...,1,0.747106,"[0.03127530589699745, -0.039089787751436234, 0..."
3530,3530,38,Data Scientist/Machine Learning Engineer,developed clustering algorithms and support v...,25,0.586805,"[-0.01995476894080639, -0.05076528713107109, 0..."
4836,4836,53,Python Developer/Data Scientist,successfully developed odoo modules in python...,22,0.398799,"[0.035797588527202606, -0.007553355768322945, ..."
929,929,15,Data Scientist/Data Science Manager,developed linuxshell scripts by using nzsql/n...,9,0.097921,"[0.024167025461792946, -0.040344949811697006, ..."
2619,2619,29,Data Scientist,passionate about cleaning insightful informat...,13,0.690114,"[0.03931888937950134, -0.008876928128302097, 0..."
2666,2666,29,Data Scientist,worked on developing custom mapreduce program...,8,0.609072,"[0.01497848704457283, -0.05064230039715767, -0..."
1919,1919,23,Data Scientist,"performed troubleshooting, fixed and deployed...",22,0.545564,"[0.02912006713449955, 0.005743816494941711, -0..."
486,486,12,Data Scientist,mitigated risk factors through careful analys...,19,0.395249,"[-0.02603471279144287, -0.04534398019313812, -..."
976,976,16,Data Scientist,"performed data collection, data cleaning, fea...",13,0.673484,"[0.005539176985621452, -0.044574785977602005, ..."
4427,4427,46,Data Scientist / Big Data,used the version control tools like git 2.x a...,22,0.411081,"[0.028782235458493233, -0.01683388277888298, 0..."
1586,1586,20,Data Resarcher/ Data Scientist,develope consumer based features and applicat...,22,0.486760,"[-0.0037132028955966234, -0.035290248692035675..."
3060,3060,35,Senior SAS and Python Data Scientist / Applica...,present all findings to jpm chase financial/c...,13,0.525223,"[0.024285543709993362, -0.05620492249727249, -..."
2583,2583,28,Senior Data Scientist,- conduct research and analytics on ibm's cur...,25,0.633327,"[-0.006132211536169052, 0.003957331646233797, ..."
386,386,11,DATA SCIENTIST,"data collection, data cleaning, developing mo...",29,0.709557,"[0.01093802135437727, -0.009741276502609253, 0..."
5102,5102,58,Data Scientist/Machine Learning,used r and spark to implement different machi...,6,0.553417,"[0.005863838829100132, -0.03675348311662674, -..."
2752,2752,31,Data Scientist,determined customer satisfaction and helped e...,25,0.528574,"[0.012075524777173996, -0.020897110924124718, ..."
4638,4638,48,Senior Data Scientist Consultant,apply machine learning and deep learning algo...,6,0.455159,"[0.03907736390829086, -0.059001073241233826, 0..."
5529,5529,64,Data Scientist,built an online management system on asp.net ...,22,0.321361,"[0.01881197839975357, -0.054549701511859894, 0..."
4081,4081,43,Data Scientist,generated dashboards and presented the analys...,14,0.681576,"[-0.026718752458691597, -0.053913988173007965,..."
1159,1159,18,Data Resarcher/ Data Scientist,worked on etl tools such as apache airflow,22,0.442384,"[0.012839962728321552, -0.016156068071722984, ..."
4062,4062,43,Data Scientist,explored different regression and ensemble mo...,19,0.523406,"[0.009975655935704708, -0.03002631478011608, 0..."
4924,4924,56,Data Scientist,+ worked on development of sql and stored pro...,1,0.609078,"[0.03261749446392059, 0.0033588330261409283, -..."
1560,1560,20,Data Resarcher/ Data Scientist,"building, publishing customized interactive r...",14,0.569418,"[-0.02642800472676754, -0.05274352803826332, 0..."
3539,3539,38,Data Scientist/Machine Learning Engineer,main source of business regression report.,25,0.428847,"[-0.0027325297705829144, -0.03376692533493042,..."
3397,3397,37,Data Scientist,"environment: python, html5, css3, ajax, json,...",6,0.558186,"[0.02808636799454689, -0.06324237585067749, 0...."
169,169,7,Data Scientist Intern,model creation: created machine learning mode...,19,0.506701,"[-0.005826856009662151, -0.054359205067157745,..."
3066,3066,35,Senior SAS and Python Data Scientist / Applica...,utilize cobol and sas programming for corpora...,29,0.484749,"[0.03024039976298809, -0.04565023258328438, 0...."
2166,2166,25,Data Scientist Consultant,in depth understanding and experience in nlp ...,24,0.620546,"[0.01029218640178442, -0.016245700418949127, 0..."
3693,3693,39,Data Scientist/Machine Learning Engineer,"writing unit, functional, and integration tes...",27,0.526947,"[0.03815236687660217, -0.015994617715477943, -..."
5149,5149,58,Data Scientist/Machine Learning,"development methodologies agile/scrum, waterf...",22,0.501693,"[0.0024701636284589767, -0.05981169268488884, ..."
3978,3978,43,Data Scientist,documenting new data to help source to target...,29,0.725992,"[0.06375567615032196, -0.03971291705965996, -0..."
5685,5685,66,Data Scientist,data migration testing and implementation act...,29,0.456332,"[0.06041023135185242, -0.029236288741230965, -..."
4833,4833,53,Python Developer/Data Scientist,building machine learning models from develop...,6,0.610617,"[0.01974157989025116, -0.04318951815366745, -0..."
3304,3304,37,Data Scientist,expertise in designing complex mappings and h...,10,0.580061,"[0.029957156628370285, -0.044137246906757355, ..."
554,554,12,Data Scientist,"prepared data mapping documents, use cases, r...",13,0.602858,"[0.008453073911368847, -0.053955864161252975, ..."
2878,2878,32,Senior Data Scientist,"mentored junior-level developers, assisting t...",16,0.518489,"[0.028766509145498276, -0.030208773910999298, ..."
5227,5227,60,Products and Application developer ( Python/C+...,project: jetson tx1 (04/17-09/17),9,0.280055,"[-0.013765128329396248, -0.006009895820170641,..."
3450,3450,37,Data Scientist,used pig for analysis of large datasets and b...,8,0.456001,"[0.02384432777762413, -0.04319031536579132, -0..."
2873,2873,32,Senior Data Scientist,implemented the persistence layer using hiber...,9,0.049388,"[0.01375309843569994, -0.005338800139725208, -..."

## Labeling
After acquiring a random sample of 50 skills from the CV data each labels cluster was labeled 0 for false and 1 for true. This was done outside of the coding environment and stored in csv 'sample_labeled.csv'. After labeling it is read into memory to compute basic statistics.

In [19]:
df_labeled_CV = pd.read_csv('sample_labeled.csv', sep=';')

In [22]:
df_labeled_CV.head()

   id                                              skill  cluster  Label
0  43   strong skills in statistical methodologies su...       12      0
1  37   extensive experience in development of t-sql,...        1      1
2  45    worked on resulting reports of the application.       23      1
3  37   proficient in system analysis, er/dimensional...       30      0
4  32   created a wholesale portal with easy checkout...       25      1

In [23]:
df_labeled_CV['Label'].mean()

0.88

## Labeling Learning Objectives
A similar effort was undertaken on a set of Learning Objectives. A set of learning objectives was extracted from the program Msc Data Scientist 60ECT of IU International University of Applied Sciences. These learning objectives were labeled by the same modelling pipeline. Because the dataset only contains 39 relevant learning objectives, the full dataset was evaluated using the manual labeling approach.

In [26]:
df_curriculum_labeled = pd.read_csv('df_handbook_DS_60_labeled.csv', sep=';')

In [27]:
df_curriculum_labeled.head()

,Unnamed: 0,objective,cluster,Label
0,0,understand the fundamental building blocks of ...,12,0
1,1,analyze stochastic data in terms of the underl...,11,1
2,2,utilize Bayesian statistics techniques.,12,0
3,3,summarize the properties of observed data usin...,11,1
4,4,apply data visualization techniques to design ...,14,1

In [28]:
df_curriculum_labeled['Label'].mean()

0.7692307692307693